<template>
  <div
    class="decorative-circle"
    :style="`width: ${radius}px; height: ${radius}px; background: ${color}`"
  />
</template>

<script>
export default {
  name: "DecorativeCircle",
  props: {
    radius: {
      type: Number,
      required: true,
    },
    color: {
      type: String,
      default: "white",
    },
  },
};
</script>

<style>
.decorative-circle {
  border-radius: 50%;
}
</style>