<template>
  <vue-circle
    :progress="progress"
    :size="diameter"
    line-cap="round"
    :fill="progressFill"
    :empty-fill="backgroundFill"
    :start-angle="startAngle"
    insert-mode="append"
    :thickness="thickness"
    :show-percent="showPercent"
  >
  </vue-circle>
</template>

<script>
import VueCircle from "vue2-circle-progress";
export default {
  name: "ProgressCircle",
  components: {
    VueCircle,
  },
  props: {
    progress: {
      type: Number,
      required: true,
    },
    /*
     * See the fill prop here for examples:
     * https://github.com/vrajroham/vue-circle-progress#props
     */
    progressFill: {
      // Example: { gradient: ["#904ce3", "#ea2a7e"] }
      type: Object,
      required: true,
    },
    backgroundFill: {
      // Sets the color of the background, or the "unfilled/empty" circle
      type: String,
      default: "rgb(0, 0, 0, .1)",
    },
    size: {
      // Sets the size of the circle ("sm" || "md" || "lg")
      type: String,
      default: "md",
    },
    showPercent: {
      // Toggle the filled center showing the percent progress/fill value
      type: Boolean,
      default: true,
    },
  },
  computed: {
    diameter() {
      if (this.size === "lg") {
        return 150;
      } else if (this.size === "sm") {
        return 50;
      } else {
        // Default to "md"
        return 100;
      }
    },
    thickness() {
      // Thickness to diameter ratio ~= .15
      if (this.size === "lg") {
        return 22.5;
      } else if (this.size === "sm") {
        return 7.5;
      } else {
        // Default to "md"
        return 15;
      }
    },
  },
  data() {
    return {
      /*
       * It is not exactly clear how the startAngle is calculated from the prop,
       * but it is not a raw angle. 4.7 Aligns the start of the animation at the
       * top center (what would be approximately ~90 degrees in a cartesian circle)
       */
      startAngle: 4.7,
    };
  },
};
</script>

<style>
.circle {
  padding: 2px;
}
/* Target the text container to center within circle */
.circle .circle-percent-text-body {
  position: absolute;
  top: -4px;
}

/* Target the text span to add custom styling to the text */
.circle .circle-percent-text-body .percent-text {
  color: rgb(54, 36, 91);
}
</style>