<template>
  <PostCard
    :post="transactionAsPost"
    :allowPinning="false"
    :allowDeletion="false"
    :isChild="true"
    detailModalType="transaction"
    @open-post-detail="openPostDetail"
    @like-post="likeTransaction"
  >
    <template #post-content>
      <TransactionPostDetails
        :transaction="transaction"
        :showTransactionTotals="showTransactionTotals"
      />
    </template>
  </PostCard>
</template>

<script>
import PostCard from "@/components/posts/PostCard";
import TransactionPostDetails from "@/components/transaction-history/transaction-details/TransactionPostDetails.vue";
import { eventBus } from "@/main";
import { GLOBAL_EVENTS } from "@/constants/global-events.js";
import { createNamespacedHelpers } from "vuex";
const { mapState, mapActions } = createNamespacedHelpers("transactions");
export default {
  name: "TransactionPostCard",
  components: {
    PostCard,
    TransactionPostDetails,
  },
  props: {
    transactionId: {
      type: String,
      required: true,
    },
    groupId: {
      type: String,
      default: null,
    },
    showTransactionTotals: {
      // Several use cases require us to not reveal the total value of the transacton
      type: Boolean,
      default: false,
    },
  },
  computed: {
    ...mapState({
      transaction(state) {
        return state.allTransactions[this.transactionId];
      },
    }),
    transactionAsPost() {
      return {
        created_at: this.transaction.date,
        likes: this.transaction.likes,
        likes_count: this.transaction.likes_count,
        author_id: this.transaction.user_id,
        replies_count: this.transaction.replies_count,
      };
    },
  },
  methods: {
    ...mapActions(["like"]),
    openPostDetail() {
      eventBus.$emit(GLOBAL_EVENTS.SHOW_TRANSACTION_POST_DETAIL_MODAL, {
        transactionId: this.transactionId,
        groupId: this.groupId,
      });
    },
    likeTransaction() {
      return this.like(this.transactionId);
    },
  },
};
</script>

<style>
</style>
