<template>
  <div id="app">
    <NavbarComponent v-if="loggedIn" />
    <Sidebar />
    <CreateGroupModal ref="cgf" />
    <UserOverviewModal ref="uom" />
    <InviteToEchoModal ref="item" />
    <RemovePortfolioModal ref="rpm" />
    <JoinGroupModal ref="jgf" />
    <EditPortfolioModal ref="epf" />
    <InviteToGroupModal ref="itgm" />
    <ChangePasswordModal ref="cpm" />
    <ChangeEmailModal ref="cem" />
    <TransactionPostDetailModal ref="tpdm" />
    <!-- ^^ Allows us to trigger from any component by accessing this component through the DOM. -->
    <router-view />
    <Footer v-if="!loggedIn"/>
  </div>
</template>

<script>
import NavbarComponent from "@/components/navbar/Navbar.vue";
import Sidebar from "@/components/sidebar/Sidebar.vue";
import CreateGroupModal from "./components/group/modals/CreateGroupModal.vue";
import UserOverviewModal from "./components/user/modals/UserOverviewModal.vue";
import InviteToEchoModal from "./components/InviteToEchoModal.vue";
import RemovePortfolioModal from "@/components/buckets/modals/RemovePortfolioModal.vue";
import JoinGroupModal from "@/components/group/modals/JoinGroupModal.vue";
import EditPortfolioModal from "@/components/buckets/modals/EditPortfolioModal.vue";
import InviteToGroupModal from "@/components/group/modals/InviteToGroupModal.vue";
import ChangePasswordModal from "@/components/account/modals/ChangePasswordModal.vue";
import ChangeEmailModal from "@/components/account/modals/ChangeEmailModal.vue";
import TransactionPostDetailModal from "@/components/posts/modals/TransactionPostDetailModal.vue";
import Footer from "@/components/footer/Footer.vue";

export default {
  name: "App",
  components: {
    NavbarComponent,
    Sidebar,
    CreateGroupModal,
    UserOverviewModal,
    InviteToEchoModal,
    RemovePortfolioModal,
    JoinGroupModal,
    EditPortfolioModal,
    InviteToGroupModal,
    ChangePasswordModal,
    ChangeEmailModal,
    TransactionPostDetailModal,
    Footer
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  created() {
    if (this.loggedIn) {
      /*
       * Assumes the store will have been initialized on log in. This prevents
       * unneccessary API calls, but also allows the store to be re-initialized
       * when the page is refreshed.
       */
      console.log("INITIALIZATION BEGUN");
      this.$store
        .dispatch("initialize")
        .then(() => console.log("INITIALIZATION COMPLETE"));
    }
  },
};
</script>
