<template>
  <div class="d-flex flex-row">
    <div class="d-flex w-75 flex-column">
      <b-card>
        <StockTimeSeriesChart
          chartType="area"
          :isSparkline="false"
          :height="200"
          :tickerSymbol="computedTickerSymbol"
        />
      </b-card>

      <b-card class="px-2">
        <StockHoldingsBreakdown :tickerSymbol="computedTickerSymbol" />
      </b-card>
    </div>
    <div class="d-flex w-25 flex-column">
      <b-card class="mt-0 pt-0 ml-4 stock-stats-card">
        <StockStatsCard :tickerSymbol="computedTickerSymbol" />
      </b-card>
    </div>
  </div>
</template>

<script>
import StockTimeSeriesChart from "@/components/charts/StockTimeSeriesChart.vue";
import StockHoldingsBreakdown from "@/components/holdings/StockHoldingsBreakdown.vue";
import StockStatsCard from "@/components/stock/StockStatsCard.vue";

export default {
  name: "StockOverview",
  components: {
    StockTimeSeriesChart,
    StockHoldingsBreakdown,
    StockStatsCard,
  },
  props: {
    tickerSymbol: {
      type: String,
      required: true,
    },
    quoteCurrencySymbol: {
      type: String,
      required: false,
    },
  },
  computed: {
    computedTickerSymbol() {
      let _computedTickerSymbol = this.tickerSymbol;
      if (this.quoteCurrencySymbol) {
        _computedTickerSymbol =
          this.tickerSymbol + "/" + this.quoteCurrencySymbol;
      }
      return _computedTickerSymbol;
    },
  },
};
</script>

<style>
.stock-stats-card .card-body {
  padding: 0.5rem;
}
</style>