<template>
  <modal :id="modalId" :name="modalName" height="auto" draggable scrollable>
    <b-spinner variant="primary" v-if="processing" />
    <b-container class="p-4" v-else-if="isPortfolioEmpty">
      <div class="d-flex justify-content-center">
        <font-awesome-icon
          class="text-warning"
          icon="exclamation-triangle"
          size="lg"
        />
      </div>
      <div class="mt-2 ml-2 text-center">
        An error occurred while trying to load the portfolio data
      </div>
    </b-container>
    <b-container v-else>
      <!-- The container for the info contained in header (from title through tabs) -->
      <base-overview-header
        :pageTitle="`${portfolio.user_id}'s Portfolio`"
        :subjectName="portfolio.name"
      >
        <div slot="subject-description">
          <!-- TODO: Make these values dynamic following BE rearchitecture https://app.clickup.com/t/jpwm4u -->
          <span
            >Total Trades
            <b> {{ portfolio.trades_count | numberFormat }} </b> Weekly Trades
            <b> {{ portfolio.trades_per_week | numberFormat }} </b> Best Stock
            <b> {{ portfolio.investments[0].ticker_symbol }} </b>
          </span>
        </div>

        <!-- Render the tabs specific to page context -->
        <base-header-tabs
          slot="tabs"
          :tabTitles="['Overview', 'Transactions', 'Activity', 'Groups']"
          tabRoutePrefix="user-preview"
          :navigateFromParent="true"
          :activeTabIndex="activeTab"
          @set-active-tab="setActiveTab"
        ></base-header-tabs>
        <!-- Render performance overview details of past day, week, and month -->
        <PortfolioDoughnutChart
          slot="chart"
          size="sm"
          class="mt-2"
          :portfolioId="portfolioId"
        />
      </base-overview-header>
      <!-- The content displayed within the active tab -->
      <div>
        <PortfolioOverview
          v-if="activeTab == 0"
          :showInvestedValues="false"
          :portfolioId="portfolioId"
        />
        <PortfolioTransactions
          v-else-if="activeTab == 1"
          :portfolioId="portfolioId"
          :showTransactionTotals="false"
        />
        <!-- TODO: [https://app.clickup.com/t/vtcnh7] Add the activity tab contents -->
        <UsersGroups :userId="portfolio.user_id" v-else-if="activeTab == 3" />
        <p v-else>ADD CONTENT TO ME PLEASE</p>
      </div>
    </b-container>
  </modal>
</template>

<script>
import PortfolioDoughnutChart from "@/components/charts/PortfolioDoughnutChart.vue";
import PortfolioOverview from "@/components/buckets/tabs/PortfolioOverview.vue";
import PortfolioTransactions from "@/components/buckets/tabs/PortfolioTransactions.vue";
import UsersGroups from "@/components/user/tabs/UsersGroups.vue";
import { isEmpty } from "lodash";
export default {
  name: "UserOverviewModal",
  components: {
    PortfolioDoughnutChart,
    PortfolioOverview,
    PortfolioTransactions,
    UsersGroups,
  },
  data() {
    return {
      portfolioId: null,
      portfolio: {
        user_id: null,
        name: null,
        trades_count: null,
        trades_per_week: null,
        investments: [
          {
            ticker_symbol: null,
          },
        ],
      },
      processing: false,
      activeTab: 0,
    };
  },
  computed: {
    isPortfolioEmpty() {
      return this.portfolio.investments.length == 0 && this.portfolio.transactions.length == 0 && isEmpty(this.portfolio.institution)
    }
  },
  methods: {
    resetActiveTab() {
      this.setActiveTab(0)
    },
    async load() {
      this.portfolio = await this.$store.dispatch(
        "portfolios/get",
        this.portfolioId
      );
      this.resetActiveTab()
    },
    open() {
      this.$modal.show(this.modalName);
    },
    openWith(portfolioId) {
      const shouldReload = this.portfolioId != portfolioId
      if (shouldReload) {
        this.portfolioId = portfolioId;
        this.load().then(() => this.open());
      } else {
        this.open()
      }
    },
    close() {
      this.$modal.hide(this.modalName);
    },
    setActiveTab(index) {
      this.activeTab = index;
    },
  },
  created() {
    this.modalName = "user-overview-modal";
    this.modalId = "uom";
  },
};
</script>

<style>
</style>