<template>
  <div class="footer d-flex justify-content-around align-items-center">
    <div class="footer__text">Echo</div>
    <div>
      <router-link to="/login"
        ><b-button class="mr-2 pr-4 pl-4" pill size="sm" variant="outline-white">Log in</b-button></router-link>
      <router-link to="/register"
        ><b-button class="pr-3 pl-3" pill size="sm" variant="white" >Sign up</b-button></router-link>
    </div>
  </div>
</template>

<script>

export default {
};
</script>

<style scoped lang="scss">
.footer {
  height: 62px;
  background: $primary;

  &__text {
    font-size: 30px;
    font-weight: 700;
    color: $white;
  }
}
</style>