<template>
  <div
    class="form-group"
    :class="[
      { 'has-warning': error },
      { focused: focused },
      { 'input-group-alternative': alternative },
      { 'has-label': label || $slots.label },
      { 'has-success': valid === true },
      { 'has-warning': valid === false },
    ]"
  >
    <slot name="label">
      <label v-if="label" :class="labelClasses">
        <h4>
          {{ label }}
        </h4>
      </label>
      <span class="text-warning ml-1" v-if="required">*</span>
      <template v-if="locked">
        <font-awesome-icon icon="lock" class="ml-1" :id="labelId" />
        <b-popover
          v-if="lockedTooltipText"
          :target="labelId"
          triggers="hover"
          placement="right"
        >
          {{ lockedTooltipText }}
        </b-popover>
      </template>
    </slot>

    <div v-if="hasIcon" class="input-group">
      <div v-if="addonLeftIcon || $slots.addonLeft" class="input-group-prepend">
        <span class="input-group-text">
          <slot name="addonLeft">
            <i :class="addonLeftIcon"></i>
          </slot>
        </span>
      </div>

      <slot v-bind="slotData">
        <input
          :value="value"
          v-on="listeners"
          v-bind="$attrs"
          :id="inputSlotId"
          v-add-input-validation-class="valid"
          class="form-control"
          :class="inputClasses"
          :style="inputStyleOverrides"
          aria-describedby="addon-right addon-left"
          :placeholder="placeholder"
          :disabled="locked"
          :type="inputType"
        />
      </slot>

      <div
        v-if="addonRightIcon || $slots.addonRight"
        class="input-group-append"
      >
        <span class="input-group-text">
          <slot name="addonRight">
            <i :class="addonRightIcon"></i>
          </slot>
        </span>
      </div>
    </div>

    <slot v-else v-bind="slotData">
      <input
        :value="value"
        v-on="listeners"
        v-bind="$attrs"
        :id="inputSlotId"
        v-add-input-validation-class="valid"
        class="form-control"
        :class="inputClasses"
        :style="inputStyleOverrides"
        aria-describedby="addon-right addon-left"
        :placeholder="placeholder"
        :disabled="locked"
        :type="inputType"
      />
    </slot>

    <slot name="helpBlock">
      <div
        class="text-warning invalid-feedback"
        style="display: block"
        :class="{ 'mt-2': hasIcon }"
        v-if="error"
      >
        {{ error }}
      </div>
    </slot>
    <slot name="infoBlock"></slot>
  </div>
</template>
<script>
export default {
  name: "base-input",
  props: {
    required: {
      type: Boolean,
      description: "Whether input is required",
    },
    valid: {
      type: Boolean,
      default: undefined,
      description: "Whether is valid",
    },
    alternative: {
      type: Boolean,
      description: "Whether input is type alternative",
    },
    label: {
      type: String,
      description: "Input label",
    },
    error: {
      type: String,
      description: "Input error",
    },
    labelClasses: {
      type: String,
      description: "Input label classes",
    },
    inputClasses: {
      type: String,
      description: "Input classes",
    },
    inputStyleOverrides: {
      stype: String,
      description: "Input style overrides",
    },
    addonLeftIcon: {
      type: String,
      description: "Addon Left Icon",
    },
    addonRightIcon: {
      type: String,
      description: "Addon Right Icon",
    },
    value: {
      type: [String, Number],
      description: "Input value",
    },
    placeholder: {
      type: [String, Number],
      description: "Placeholder value",
      default: "",
    },
    locked: {
      type: Boolean,
      description: "Whether the input field is locked/disabled",
    },
    lockedTooltipText: {
      type: String,
      description:
        "The tooltip text helping explain why the input field is locked",
    },
    inputSlotId: {
      type: String,
      required: false,
      description: "The id of the inner input element",
    },
    inputType: {
      // See https://www.w3schools.com/html/html_form_input_types.asp for compatible types
      type: String,
      default: "text",
    },
  },
  data() {
    return {
      focused: false,
    };
  },
  computed: {
    listeners() {
      return {
        ...this.$listeners,
        input: this.updateValue,
        focus: this.onFocus,
        blur: this.onBlur,
      };
    },
    slotData() {
      return {
        focused: this.focused,
        ...this.listeners,
      };
    },
    hasIcon() {
      const { addonRight, addonLeft } = this.$slots;
      return (
        addonRight !== undefined ||
        addonLeft !== undefined ||
        this.addonRightIcon !== undefined ||
        this.addonLeftIcon !== undefined
      );
    },
    labelId() {
      return this.label.toLowerCase().replaceAll(" ", "-");
    },
  },
  methods: {
    updateValue(evt) {
      let value = evt.target.value;
      this.$emit("input", value);
    },
    onFocus(value) {
      this.focused = true;
      this.$emit("focus", value);
    },
    onBlur(value) {
      this.focused = false;
      this.$emit("blur", value);
    },
  },
};
</script>
<style></style>
