// Class to provide consistent structure to page headers.
// Best used when the page is wrapped in a b-container that is NOT fluid
<template>
  <!-- The container for the info contained in header (from title through tabs) -->
  <div class="header-container">
    <b-row>
      <b-col cols="4">
        <b-row>
          <div class="ml-4 page-title-container">
            <p>
              {{ pageTitle }}
              <b-icon-info-circle-fill
                id="page-info"
                class="ml-0 page-info-tooltip"
                font-scale="0.65"
              />
              <b-popover target="page-info" triggers="hover" placement="right">
                <template #title> What is this page? </template>
                <!-- Provide details for the page info tooltip -->
                <slot name="page-description"></slot>
                <!-- Example:
                    <span>
                      <b>Buckets</b> are small, customizable stock portfolios. Just like
                      playlists for you music, they allow you to organize your stocks,
                      create investment themes, and experiment with different trading
                      strategies.
                    </span>
                -->
              </b-popover>
            </p>
          </div>
        </b-row>
        <b-row>
          <div class="ml-4">
            <div class="subject-name">
              <strong>{{ subjectName }}</strong>
            </div>
            <div class="subject-description">
              <!-- Add a description about the subject of this page, such as high level trade info, profile details, or group explanation -->
              <slot name="subject-description"></slot>

              <!-- Example:
                    <span>
                    Total Trades <b> {{ totalTrades }} </b> Weekly Trades
                    <b> {{ weeklyTrades }} </b> Best Stock
                    <b> {{ bestStock }} </b>
                    </span>
              -->
            </div>
            <div class="disclaimer text-muted">
              <!-- Add fine print details about the content displayed on page -->
              <slot name="disclaimer"></slot>
              <!-- Example:
                    <span>
                        This newsletter is written purely for educational purposes only and should not be considered investment advice. The content displayed here is updated daily, is not directed at one person, and is composed of disinterested commentary.
                    </span>
              -->
            </div>
          </div>
        </b-row>
        <b-row>
          <div>
            <!-- Add buttons for actions user can take on page -->
            <slot name="buttons"></slot>
            <!-- Example:
                <manage-bucket-actions :canPublish="bucket.can_publish" />
            -->

            <!-- Add details such as followers, subscription costs, members, etc. -->
            <slot name="engagement-details"></slot>
            <!-- 
                <span>
                <b> ${{ price }} </b> per month
                <b> {{ subscribers }} </b> subscribers
                </span>
            -->
          </div>
        </b-row>
      </b-col>
      <b-col cols="5" align-self="end">
        <!-- Include relevant performance overview content -->
        <slot name="performance-overview"></slot>
        <!-- Example:  
          <b-row>
            <DWMPerformanceBadges :best="true" />
            <DWMPerformanceBadges :best="false" />
          </b-row>
        -->
      </b-col>
      <b-col align-self="end">
        <!-- Render representing the stock composition of the subject -->
        <slot name="chart"></slot>
        <!-- Example:
            <portfolio-doughnut-chart />
          -->
      </b-col>
    </b-row>
    <b-row>
      <!-- Render the tabs specific to page context -->
      <div class="tabs">
        <slot name="tabs"></slot>
        <!-- Example: 
                  <b-nav>
                    <b-nav-item
                      v-for="(tabTitle, index) in tabTitles"
                      :key="index"
                      class="ml-3"
                      @click="setActiveTabIndex(index)"
                      >
                      <span :class="getTabTextClass(index)">{{ tabTitle }}</span>
                    </b-nav-item>
                  </b-nav>
            -->
      </div>
    </b-row>
  </div>
</template>

<script>
export default {
  name: "BaseHeader",
  components: {},
  props: {
    pageTitle: {
      // This should be the general name for type of context being shown
      // i.e. "Bucket", "Group", "Competition", etc.
      type: String,
      required: true,
    },
    subjectName: {
      // This should be the specific name of the subject of this page
      // i.e. the name of a bucket, investor, group, etc.
      type: String,
      required: true,
    },
  },
};
</script>

<style scoped>
.header-container {
  /* Bring all the header closer to top of page */
  position: relative;
  top: -20px;
}
.page-title-container {
  /* Bring the title closer to bucket name */
  position: relative;
  top: 20px;
}
.page-info-tooltip {
  position: relative;
  top: -1px;
}
.subject-name {
  font-size: 40px;
}
.subject-description {
  font-size: 14px;
}
.disclaimer {
  font-size: 10px;
}
</style>