<template>
  <div class="base-thumbnail">
    <div>
      <slot name="thumbnail-header"></slot>
    </div>
    <div class="px-2">
      <slot name="thumbnail-content"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "BaseThumbnail",
};
</script>
