<template>
  <modal :id="id" :name="name" height="auto" draggable scrollable>
    <b-card
      align="left"
      class="border-0 m-2 rounded"
      header-bg-variant="primary"
    >
      <template #header>
        <b-row>
          <b-col>
            <h2 class="text-left pt-3 pb-1 text-secondary">
              <strong>{{ header }}</strong>
              <template v-if="hasHeaderTooltip">
                <info-tooltip
                  :title="headerTooltip.title"
                  :description="headerTooltip.description"
                  :identifier="tooltipId"
                  placement="right"
                />
              </template>
            </h2>
          </b-col>
        </b-row>
      </template>
      <b-spinner variant="primary" v-if="processing" />
      <b-card-text v-else>
        <slot name="form" />

        <!-- Cancel and Submit Buttons -->
        <b-row>
          <b-col class="mt-2" align="right">
            <b-button @click="close()" variant="outline-primary" class="mr-1">
              {{ cancelButtonName }}
            </b-button>
            <b-button
              @click="submit()"
              :disabled="!isFormValid"
              variant="primary"
              class="mr-1"
            >
              {{ submitButtonName }}
            </b-button>
          </b-col>
        </b-row>
      </b-card-text>
    </b-card>
  </modal>
</template>

<script>
export default {
  name: "BaseModalForm",
  props: {
    processing: {
      // Pass processing status from the implementing component
      type: Boolean,
      required: true,
    },
    name: {
      // The name of the form's modal, internally referenced to open and close
      // Multi word names should be hyphenated. Ex: "portfolio-info-form"
      type: String,
      required: true,
    },
    id: {
      // The id of the form's modal, externally referenced to open and close
      // Typically the id should be an acronym of the name. Ex: "pif"
      type: String,
      required: true,
    },
    isFormValid: {
      // Pass validation status from the implementing component
      type: Boolean,
      required: true,
    },
    header: {
      // The header text
      type: String,
      required: true,
    },
    headerTooltip: {
      /*
       * Expected fields {key: valueType}:
       *     title: String - The title for the tooltip
       *     description: String - The body of the tooltip
       *
       * Both are required when a headerTooltip is provided. The tooltip
       * won't render if both are not provided
       */
      type: Object,
      default: () => {
        return {};
      },
    },
    cancelButtonName: {
      // Allows the implementor to customize the name of the cancel button
      type: String,
      default: "Cancel",
    },
    submitButtonName: {
      // Allows the implementor to customize the name of the submit button
      type: String,
      default: "Submit",
    },
  },
  data() {
    return {
      skeletonWidth: "85%",
    };
  },
  computed: {
    tooltipId() {
      return `${this.name}-info-popover`;
    },
    hasHeaderTooltip() {
      const hasTitle = Object.prototype.hasOwnProperty.call(
        this.headerTooltip,
        "title"
      );
      const hasDescription = Object.prototype.hasOwnProperty.call(
        this.headerTooltip,
        "description"
      );
      return hasTitle && hasDescription;
    },
  },
  methods: {
    close() {
      this.$emit("close");
    },
    submit() {
      this.$emit("submit");
    },
  },
  beforeCreate() {
    if (!this.$slots.form) {
      throw `BaseModalForm requires that a form or collection of inputs is provided
        to the "form" slot`;
    }
  },
};
</script>