// Component for rendering a static image for a group or user avatar.
<template>
  <div
    :class="[avatarContainerClass, 'd-flex justify-content-center align-items-center']"
    :style="avatarContainerStyle"
  >
    <div v-if="imageBroken">
      {{ fallback }}
    </div>
    <div v-else>
      <b-img
        rounded="circle"
        :class="avatarImgClass"
        :src="uri"
        @error="imageBroken = true"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "BaseAvatar",
  props: {
    uri: {
      type: String
    },
    fallback: {
      // What to display if the URI path does no resolve
      type: String,
      default: ""
    },
    size: {
      type: String,
      default: "md",
      validator: function(size) {
        let isValid = true;
        const validSizes = ["xs", "sm", "md", "lg", "xl"];
        if (!validSizes.includes(size)) {
          isValid = false;
        }
        return isValid;
      }
    },
    color: {
      type: String,
      default: "white"
    },
    type: {
      type: String,
      default: "square"
    }
  },
  data() {
    return {
      imageBroken: false
    };
  },
  computed: {
    avatarContainerClass() {
      let avatarClass = "avatar";
      if (this.size !== "md") {
        return avatarClass + `-${this.size}`;
      }
      // "md" represents the default avatar class
      return avatarClass;
    },
    avatarImgClass() {
      let avatarClass = "avatar";
      if(this.size === 'xl') {
        avatarClass += '-sm'
      }
      else {
        avatarClass += '-xs'
      }
      return avatarClass;
    },
    avatarContainerStyle() {
      let borderRadius = "";
      if (this.type === "circle") {
        borderRadius = "50%";
      } else {
        borderRadius = "5px";
      }
      return {
        background: `linear-gradient(0deg, ${this.color}, ${this.color}), #5E5E5E`,
        borderRadius: borderRadius
      };
    }
  },
};
</script>

<style lang="scss" scoped>
.avatar-border {
  border-radius: 5px;
}

.avatar-img-border {
  border-radius: 50%;
}

.avatar-img {
  &-sm {
    width: 20px;
    height: 20px;
  }
  &-xl {
    width: 40px;
    height: 40px;
  }
}
</style>
