<template>
  <b-container fluid class="mb-4">
    <b-row align-h="center">
      <b-col
        v-if="firstVisibleIndex > 0"
        cols=".5"
        align-self="center"
        class="btn"
        @click="decrementIndex"
      >
        <font-awesome-icon
          icon="angle-left"
          size="lg"
          class="my-auto btn-icon-only"
        />
      </b-col>
      <b-col v-for="index in visibleCards.length" :key="index - 1">
        <b-card :class="`mb-0 h-100 ${cardClasses.join(' ')}`">
          <slot
            name="cardContent"
            v-bind:slotProps="cardProps[index - 1]"
          ></slot>
        </b-card>
      </b-col>
      <b-col
        v-if="firstVisibleIndex < maxFirstIndex"
        cols=".5"
        align-self="center"
        class="text-right btn"
        @click="incrementIndex"
      >
        <font-awesome-icon
          icon="angle-right"
          size="lg"
          class="my-auto btn-icon-only"
        />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
// TODO [https://app.clickup.com/t/1q4fja6]: This component currently is incapable
// of rerendering slot content when visibleCards changes. This blocks the inteneded
// use of this component.
export default {
  name: "BaseCardCarousel",
  props: {
    cardClasses: {
      // Classes to apply to the b-card wrapping the slot content
      type: Array,
      default: new Array(),
    },
    maxVisibleCards: {
      // The max number of cards to show in the carousel at a given time
      type: Number,
      default: 3,
    },
    cardProps: {
      // An array of prop data required for rendering the slot content
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      firstVisibleIndex: 0,
    };
  },
  computed: {
    maxLastIndex() {
      // Last Index for calculation purposes can be cardProps.length, since the slice
      // method is not tail inclusive
      return Math.max(this.cardProps.length, 0);
    },
    maxFirstIndex() {
      return Math.max(this.cardProps.length - this.maxVisibleCards, 0);
    },
    visibleCards() {
      const lastVisibleIndex = Math.min(
        this.firstVisibleIndex + this.maxVisibleCards,
        this.maxLastIndex
      );
      return this.cardProps.slice(
        Math.min(this.firstVisibleIndex, this.maxFirstIndex),
        lastVisibleIndex
      );
    },
  },
  methods: {
    incrementIndex() {
      this.firstVisibleIndex = Math.min(
        this.firstVisibleIndex + 1,
        this.maxFirstIndex
      );
    },
    decrementIndex() {
      this.firstVisibleIndex = Math.max(this.firstVisibleIndex - 1, 0);
    },
  },
};
</script>

<style>
</style>