<template>
  <div>
    <label class="custom-toggle" :class="switchClass">
      <input type="checkbox" v-model="model" :disabled="disabled" />
      <!--
        When displayTextAppended is true, display the switch value appended right
        of the switch, rather than in the switch
       -->
      <span
        v-if="displayTextAppended"
        class="custom-toggle-slider rounded-circle"
      />
      <span
        v-else
        class="custom-toggle-slider rounded-circle"
        :data-label-off="offText"
        :data-label-on="onText"
      />
    </label>
    <span v-if="displayTextAppended" class="ml-2" style="position: absolute">
      {{ value ? onText : offText }}
    </span>
  </div>
</template>
<script>
export default {
  name: "base-switch",
  props: {
    value: [Array, Boolean],
    type: String,
    onText: {
      type: String,
      default: "ON",
    },
    offText: {
      type: String,
      default: "OFF",
    },
    disabled: {
      type: Boolean,
      default: true,
    },
    displayTextAppended: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    switchClass() {
      let baseClass = "custom-toggle-";
      if (this.type) {
        return baseClass + this.type;
      }
      return "";
    },
    model: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },
  methods: {
    triggerToggle() {
      this.model = !this.model;
    },
  },
};
</script>
<style></style>
