<template>
  <b-nav>
    <b-nav-item
      v-for="(tabTitle, index) in tabTitles"
      :key="index"
      class="ml-3"
      @click="navigateToTab(index)"
    >
      <span :class="getTabTextClass(index)">{{ tabTitle }}</span>
    </b-nav-item>
  </b-nav>
</template>

<script>
export default {
  name: "BaseHeaderTabs",
  props: {
    tabRoutePrefix: {
      // Allows dismabiguation of routes when multiple pages share a tab name
      type: String,
      required: true,
    },
    tabTitles: {
      /*
       * Defines headers for further actions/content to display.
       * Route names for tabs in routers need the following format:
       *     "tabRoutePrefix-tabTitle"
       */
      type: Array,
      required: true,
    },
    navigateFromParent: {
      // When false will defer to the parent to change content when active tab changes
      type: Boolean,
      default: false,
    },
    activeTabIndex: {
      // The index of the currently visible tab, defined by the parent
      type: Number,
      required: true
    }
  },
  methods: {
    isActive(tabIndex) {
      return tabIndex == this.activeTabIndex;
    },
    navigateToTab(tabIndex) {
      /*
       * When navigate from parent is true, emit an event with the route so the
       * parent can decide how to update, otherwise push to the router
       */
      if (!this.navigateFromParent) {
        let route = "";
        route = `${this.tabRoutePrefix}-${this.tabTitles[
          tabIndex
        ].toLowerCase()}`;
        this.$router.push({ name: route });
      } else {
        this.$emit("set-active-tab", tabIndex);
      }
    },
    getTabTextClass(tabIndex) {
      let textClass = "font-weight-bold active-tab-text-bottom-padding ";
      if (this.isActive(tabIndex)) {
        textClass = textClass.concat(this.activeTabTextClass);
      }
      return textClass;
    },
  },
  created() {
    this.activeTabTextClass = "text-primary border-primary active-tab-text-border";
  }
};
</script>

<style scoped>
.active-tab-text-border {
  border-bottom: medium solid;
}
.active-tab-text-bottom-padding {
  padding-bottom: 2px;
}
</style>