/* 
 * Helper component to abstract the logic of presenting cash change values
 */ 
<template>
  <span :class="getNetChangeClass(isPositiveChange(cashChangeValue))">
    {{ cashChangeValue | currencyChangeFormat }}
  </span>
</template>

<script>
export default {
  name: "CashChangeOverTimeSpan",
  props: {
    cashChangeValue: {
      type: Number,
      required: true,
    },
  },
  methods: {
    getNetChangeClass(isPositive) {
      return isPositive ? "text-success" : "text-danger";
    },
    isPositiveChange(change) {
      return change >= 0;
    },
  },
};
</script>

<style>
</style>