<template>
  <div class="d-inline-block">
    <div @click="cashChangeClicked" class="d-inline-block ml-1">
      <span :class="cashChangeClass">
        <b> $ </b>
      </span>
    </div>
    <div class="d-inline-block ml-1">
      <span class="text-muted">
        <b> | </b>
      </span>
    </div>
    <div @click="percentChangeClicked" class="d-inline-block ml-1">
      <span :class="percentChangeClass">
        <b> % </b>
      </span>
    </div>
  </div>
</template>

<script>
import { eventBus } from "@/main";
import { GLOBAL_EVENTS } from "@/constants/global-events.js";
export default {
  name: "CashPercentChangeOverTimeToggle",
  props: {
    eventPayload: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      showCashChange: true,
    };
  },
  computed: {
    cashChangeClass() {
      return this.showCashChange ? this.activeClass : this.inactiveClass;
    },
    percentChangeClass() {
      return this.showCashChange ? this.inactiveClass : this.activeClass;
    },
  },
  methods: {
    cashChangeClicked() {
      this.showCashChange = true;
      eventBus.$emit(GLOBAL_EVENTS.SHOW_CASH_CHANGE, this.eventPayload);
    },
    percentChangeClicked() {
      this.showCashChange = false;
      eventBus.$emit(GLOBAL_EVENTS.SHOW_PERCENT_CHANGE, this.eventPayload);
    },
  },
  created() {
    this.activeClass = "text-primary";
    this.inactiveClass = "text-muted";
  },
};
</script>

<style>
</style>