<template>
  <!-- <b-input :disabled="true" v-model="model"> -->
  <b-input-group>
    <b-input :disabled="true" :value="value" :type="type" :size="size" />
    <template #append>
      <base-button
        type="primary"
        v-b-tooltip.hover.v-secondary.right
        title="Copy to clipboard"
        @click="copyToClipboard()"
      >
        <font-awesome-icon icon="clone" class="" />
      </base-button>
    </template>
  </b-input-group>
</template>

<script>
export default {
  name: "CopyInput",
  props: {
    value: {
      type: String,
      required: true,
    },
    type: {
      /*
       * The type of input to render. See https://bootstrap-vue.org/docs/components/form-input
       * for more options
       */
      type: String,
      default: "text",
      validation: function (type) {
        const validTypes = [
          "text",
          "password",
          "email",
          "number",
          "url",
          "tel",
          "search",
          "date",
          "datetime",
          "datetime-local",
          "month",
          "week",
          "time",
          "range",
          "color",
        ];
        return validTypes.includes(type);
      },
    },
    size: {
      type: String,
      default: "md",
      validation: function (size) {
        const validSizes = ["sm", "md", "lg"];
        return validSizes.includes(size);
      },
    },
  },
  methods: {
    copyToClipboard() {
      navigator.clipboard.writeText(this.value).then(
        function () {
          /* clipboard successfully set */
        },
        function () {
          /* clipboard write failed */
        }
      );
    },
  },
};
</script>

<style>
</style>