// Component to create buttons from individual icons
<template>
  <font-awesome-icon
    :class="[{ 'd-inline': inline }, { 'icon-btn': true }]"
    @click="handleClick"
    :icon="iconName"
    :size="size"
  />
</template>

<script>
export default {
  name: "IconButton",
  props: {
    // Search https://fontawesome.com/v5.15/icons?d=gallery&p=2 for an icon name
    iconName: {
      type: String,
      required: true,
    },
    inline: {
      type: Boolean,
      default: true,
    },
    /*
    See https://github.com/FortAwesome/vue-fontawesome#basic &
    https://fontawesome.com/v5.15/how-to-use/on-the-web/styling/sizing-icons#scale
    for full scaling options
    */
    size: {
      type: String,
      required: false,
    },
  },
  methods: {
    handleClick(evt) {
      this.$emit("click", evt);
    },
  },
};
</script>