/* 
 * Helper component to abstract the logic of presenting percent change values
 */ 
<template>
  <span :class="getNetChangeClass(isPositiveChange(percentChangeValue))">
    <template v-if="parenthesis">
      ({{ percentChangeValue | percentChangeFormat }})
    </template>
    <template v-else>
      {{ percentChangeValue | percentChangeFormat }}
    </template>
  </span>
</template>

<script>
export default {
  name: "PercentChangeOverTimeSpan",
  props: {
    percentChangeValue: {
      type: Number,
      required: true,
    },
    // Whether or not to wrap the percent value in parenthesis
    parenthesis: {
      type: Boolean,
      default: true,
    },
  },
  methods: {
    getNetChangeClass(isPositive) {
      return isPositive ? "text-success" : "text-danger";
    },
    isPositiveChange(change) {
      return change >= 0;
    },
  },
};
</script>

<style>
</style>