// A set of buttons to help a parent component toggle between data timelines
<template>
  <b-nav>
    <b-nav-item
      v-for="(timeline, index) in timelines"
      :key="index"
      class="ml-3"
      @click="selectTimeline(timeline)"
    >
      <!-- Create a tab for each possible timeline selection -->
      <span :class="setButtonTextClass(timeline)">{{ timeline }}</span>
    </b-nav-item>
  </b-nav>
</template>

<script>
export default {
  name: "TimeSeriesSelectorButtons",
  props: {
    /*
     * Receiving these as props ensures that the parent and child component
     * are always in sync about the data timelines they are using
     */
    selectedTimeline: {
      // Ex: ("1D")
      type: String,
      required: true,
    },
    timelines: {
      // Ex: ["1D", "1W", "1M", "3M", "1Y", "ALL"]
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      activeButtonTextClass:
        "text-primary border-primary active-button-text-border",
    };
  },
  methods: {
    selectTimeline(timeline) {
      this.$parent.$emit("timeline-selected", timeline);
    },
    setButtonTextClass(timeline) {
      let textClass = "font-weight-bold active-button-text-bottom-padding ";
      if (this.selectedTimeline === timeline) {
        textClass = textClass.concat(this.activeButtonTextClass);
      } else {
        textClass = textClass.concat("text-muted");
      }
      return textClass;
    },
  },
};
</script>

<style scoped>
.active-button-text-border {
  border-bottom: medium solid;
}
.active-button-text-bottom-padding {
  padding-bottom: 2px;
}
</style>