/* 
 * Helper component to abstract the logic of conditionally presenting
 * cash or percent change values
 */ 
<template>
  <div :class="textAlignClass">
    <CashChangeOverTimeSpan
      v-if="showCash"
      :cashChangeValue="cashChangeValue"
    />
    <PercentChangeOverTimeSpan
      v-else
      :percentChangeValue="percentChangeValue"
      :parenthesis="false"
    />
  </div>
</template>

<script>
import CashChangeOverTimeSpan from "@/components/base/CashChangeOverTimeSpan.vue";
import PercentChangeOverTimeSpan from "@/components/base/PercentChangeOverTimeSpan.vue";

export default {
  name: "ToggleableCashPercentChangeOverTimeSpan",
  components: { CashChangeOverTimeSpan, PercentChangeOverTimeSpan },
  props: {
    // False -> showPercent
    showCash: {
      type: Boolean,
      required: true,
    },
    cashChangeValue: {
      type: Number,
      required: true,
    },
    percentChangeValue: {
      type: Number,
      required: true,
    },
    textAlign: {
      type: String,
      default: "right",
    },
  },
  computed: {
    textAlignClass() {
      return `text-${this.textAlign}`;
    },
  },
};
</script>

<style>
</style>