// A helper component with built in loading logic. Useful for displaying cells
// with calculated values. Assumes the values should be formatted as currencies.
<template>
  <b-skeleton-wrapper :loading="computedLoading">
    <template #loading>
      <b-skeleton animation="wave" :width="`${loadingAnimationWidth}%`" />
    </template>
    <span :class="spanClass">
      {{ value | currencyFormat }}
    </span>
  </b-skeleton-wrapper>
</template>

<script>
export default {
  name: "CalculatedValueCell",
  props: {
    value: {
      required: true,
    },
    loading: {
      required: false,
      validator: function (loading) {
        // Not explicitly setting to Boolean to prevent defaulting to false
        return typeof loading == "boolean" || loading == undefined;
      },
    },
    size: {
      type: String,
      default: "lg",
      validator: function (size) {
        const validSizes = ["xs", "sm", "md", "lg", "xl"];
        return validSizes.includes(size);
      },
    },
    // Whether or not to augment the text color based on the value
    showChange: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    computedLoading() {
      if (this.loading != undefined) {
        return this.loading;
      } else {
        return this.isLoading();
      }
    },
    spanClass() {
      return this.showChange ? this.getNetChangeClass() : "text-dark";
    },
    loadingAnimationWidth() {
      switch (this.size) {
        case "xs":
          return 20;
        case "sm":
          return 40;
        case "md":
          return 60;
        case "lg":
          return 80;
        case "xl":
          return 100;
        default:
          return 60;
      }
    },
  },
  methods: {
    getNetChangeClass() {
      return this.value >= 0 ? "text-success" : "text-danger";
    },
    isLoading() {
      return (
        Object.is(this.value, undefined) ||
        Object.is(parseFloat(this.value), NaN) ||
        Object.is(this.value, "NaN")
      );
    },
  },
};
</script>

<style>
</style>