// A breakdown of all a users holdings within a given portfolio
<template>
  <div class="content">
    <b-container>
      <div
        class="d-inline-flex flex-row align-items-start px-2"
        style="width: 300px"
      >
        <h4 class="text-left pb-1 mr-2 ml-0">
          <strong> Holdings </strong>
        </h4>
        <b-form-group label-for="filterInput" class="mb-0 text-left">
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Filter"
              class="text-left"
            ></b-form-input>
          </b-input-group>
        </b-form-group>
      </div>
      <b-skeleton-table
        v-if="loading"
        :rows="3"
        :cols="7"
        :table-props="{ bordered: true, striped: true }"
        width="1000px"
      ></b-skeleton-table>

      <b-table
        v-else
        show-empty
        small
        sticky-header="350px"
        fixed
        :items="computedTableData"
        :fields="computedFields"
        :filter="filter"
        :empty-text="emptyText"
        :empty-filtered-text="emptyFilteredText"
        head-row-variant="light"
        class="text-left"
      >
        <template #head()="data">
          <div class="text-right">
            <span class="text-primary">
              <b>{{ data.label }}</b>
            </span>
          </div>
        </template>
        <template #head(symbol)="data">
          <div class="text-left">
            <span class="text-primary">
              <b>{{ data.label }}</b>
            </span>
          </div>
        </template>
        <template #cell(symbol)="data">
          <StockCell :symbol="data.item.symbol" :name="data.item.name" />
        </template>

        <template #cell(quantity)="data">
          <div class="text-right">
            <span class="text-dark">{{
              parseFloat(data.item.quantity).toFixed(2)
            }}</span>
          </div>
        </template>

        <template #cell(percent_of_portfolio)="data">
          <div class="text-right">
            <span class="text-dark">{{
              data.item.percent_of_portfolio | percentFormat
            }}</span>
          </div>
        </template>

        <template #head(current_price)="data">
          <div class="text-right">
            <div class="d-inline-block">
              <span
                class="text-primary"
                v-b-tooltip.left.hover.v-secondary="
                  'The current price and change in value of the stock over the current or most recent trading day'
                "
              >
                <b>{{ data.label }}</b>
              </span>
            </div>
            <CashPercentChangeOverTimeToggle :eventPayload="data.field.key" />
          </div>
        </template>
        <template #cell(current_price)="data">
          <div class="text-right">
            <span class="text-dark">
              {{ data.item.current_price | currencyFormat }}
            </span>
            <small class="d-block">
              <ToggleableCashPercentChangeOverTimeSpan
                :showCash="cashPercentToggleStates[data.field.key]"
                :cashChangeValue="data.item.current_price_net_change_cash"
                :percentChangeValue="data.item.current_price_net_change_percent"
              />
            </small>
          </div>
        </template>

        <template #head(market_value)="data">
          <div class="text-right">
            <div class="d-inline-block">
              <span
                class="text-primary"
                v-b-tooltip.left.hover.v-secondary="
                  'The current price and change in value of the holdings over the current or most recent trading day'
                "
              >
                <b>{{ data.label }}</b>
              </span>
            </div>
            <CashPercentChangeOverTimeToggle :eventPayload="data.field.key" />
          </div>
        </template>
        <template #cell(market_value)="data">
          <div class="text-right">
            <span class="text-dark">{{
              data.item.market_value | currencyFormat
            }}</span>
            <small class="d-block">
              <ToggleableCashPercentChangeOverTimeSpan
                :showCash="cashPercentToggleStates[data.field.key]"
                :cashChangeValue="data.item.market_value_net_change_cash"
                :percentChangeValue="data.item.market_value_net_change_percent"
              />
            </small>
          </div>
        </template>

        <template #cell(cost_basis)="data">
          <div class="text-right">
            <template v-if="showInvestedValues">
              <span class="text-dark">{{
                data.item.cost_basis | currencyFormat
              }}</span>
              <small class="d-block">
                <span class="text-muted">
                  {{ data.item.avg_cost_basis | currencyFormat }} per share
                </span>
              </small>
            </template>
            <template v-else>
              <span class="text-dark">
                {{ data.item.avg_cost_basis | currencyFormat }}
              </span>
              <small class="d-block">
                <span class="text-muted"> per share </span>
              </small>
            </template>
          </div>
        </template>

        <template #head(gain_loss)="data">
          <div class="text-right">
            <div class="d-inline-block">
              <span
                class="text-primary"
                v-b-tooltip.left.hover.v-secondary="
                  'The all time change in value of the current holdings'
                "
              >
                <b>{{ data.label }}</b>
              </span>
            </div>
            <CashPercentChangeOverTimeToggle
              v-if="showInvestedValues"
              :eventPayload="data.field.key"
            />
          </div>
        </template>
        <template #cell(gain_loss)="data">
          <ToggleableCashPercentChangeOverTimeSpan
            :showCash="
              showInvestedValues && cashPercentToggleStates[data.field.key]
            "
            :cashChangeValue="data.item.gain_loss_cash"
            :percentChangeValue="data.item.gain_loss_percent"
          />
        </template>
        <template #custom-foot>
          <b-tr>
            <b-td :colspan="4" class="footer-border-width text-dark">
              <h4>Equities Total</h4>
            </b-td>
            <b-td class="footer-border-width" v-if="showInvestedValues">
              <div class="text-right">
                <span class="text-dark">
                  <b>
                    {{ parseFloat(portfolio.balance_current) | currencyFormat }}
                  </b>
                </span>
                <small class="d-block">
                  <ToggleableCashPercentChangeOverTimeSpan
                    :showCash="cashPercentToggleStates['market_value']"
                    :cashChangeValue="totalMarketValueChangeCash"
                    :percentChangeValue="totalMarketValueChangePercent"
                  />
                </small>
              </div>
            </b-td>
            <b-td class="footer-border-width" v-if="showInvestedValues">
              <div class="text-right">
                <span class="text-dark">
                  <b>
                    {{
                      parseFloat(portfolio.total_cost_basis) | currencyFormat
                    }}
                  </b>
                </span>
              </div>
            </b-td>
            <b-td class="footer-border-width">
              <ToggleableCashPercentChangeOverTimeSpan
                :showCash="
                  showInvestedValues && cashPercentToggleStates['gain_loss']
                "
                :cashChangeValue="totalGainLossCash"
                :percentChangeValue="totalGainLossPercent"
              />
            </b-td>
          </b-tr>
        </template>
      </b-table>
    </b-container>
  </div>
</template>

<script>
import { eventBus } from "@/main";
import { GLOBAL_EVENTS } from "@/constants/global-events.js";
import CashPercentChangeOverTimeToggle from "@/components/base/CashPercentChangeOverTimeToggle.vue";
import ToggleableCashPercentChangeOverTimeSpan from "@/components/base/ToggleableCashPercentChangeOverTimeSpan.vue";
import StockCell from "@/components/holdings/StockCell.vue";
export default {
  name: "PortfolioHoldingsTable",
  components: {
    CashPercentChangeOverTimeToggle,
    ToggleableCashPercentChangeOverTimeSpan,
    StockCell,
  },
  props: {
    portfolioId: {
      type: String,
      required: true,
    },
    showInvestedValues: {
      // Several use cases require us to not reveal the raw value of cash invested
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      portfolio: {
        balance_current: null,
        total_cost_basis: null,
        investments: [{}],
      },
      fields: [
        {
          key: "symbol",
          label: "Symbol",
          sortable: false,
          isRowHeader: true,
        },
        { key: "quantity", label: "Quantity", sortable: true },
        {
          key: "percent_of_portfolio",
          label: "Portfolio %",
          sortable: true,
        },
        { key: "current_price", label: "Price", sortable: true },
        { key: "market_value", label: "Value", sortable: true },
        { key: "cost_basis", label: "Cost Basis", sortable: true },
        // "Gain / Loss" will always represent the all time performance of the portfolio
        { key: "gain_loss", label: "Gain / Loss", sortable: true },
      ],
      cashPercentToggleStates: {
        /*
         * To show change as cash value, set true, as percent value, false
         * The key's should match the "eventPayload" prop passed to the
         * CashPercentChangeOverTimeToggle. This allows the child component to
         * uniquely target the specific column that should change value
         */
        current_price: true,
        market_value: true,
        gain_loss: true,
      },
      loading: false,
      filter: null,
      emptyText: "Looks like this portfolio is empty!",
      emptyFilteredText: "There are no records matching your request",
    };
  },
  computed: {
    computedFields() {
      let computedFields = this.fields;
      if (!this.showInvestedValues) {
        const fieldsToHideByKey = ["market_value", "quantity"];
        computedFields = this.fields.filter(
          (field) => !fieldsToHideByKey.includes(field.key)
        );
      }
      return computedFields;
    },
    /**
     * Maps investment data to be represented on the table. Combines this with
     * from each stock about it's daily performance (open and current price, return)
     * to create a comprehensive data set.
     */
    computedTableData() {
      let computedTableData = this.portfolio.investments.map((investment) => {
        const tableData = {};
        let dailyStockReturnData = {};
        if (investment.security_type != "cash") {
          dailyStockReturnData = this.$store.getters[
            "stockHistory/daily_return_data__from_id"
          ](investment.ticker_symbol);
        } else {
          dailyStockReturnData = {
            open: 1,
            current: 1,
            total: 0,
            percent: 0,
          };
        }
        tableData["quantity"] = parseFloat(investment.quantity);
        tableData["percent_of_portfolio"] =
          (parseFloat(investment.current_value) /
            parseFloat(this.portfolio.balance_current)) *
          100;
        tableData["symbol"] = investment.ticker_symbol;
        tableData["name"] = investment.security_name;
        tableData["open_price"] = dailyStockReturnData.open;
        tableData["current_price"] = dailyStockReturnData.current;
        tableData["cost_basis"] = parseFloat(investment.cost_basis);
        tableData["current_price_net_change_percent"] =
          dailyStockReturnData.percent;
        tableData["current_price_net_change_cash"] = dailyStockReturnData.total;
        tableData["market_value"] = investment.current_value;
        tableData["market_value_net_change_percent"] =
          dailyStockReturnData.percent;
        tableData["market_value_net_change_cash"] =
          parseFloat(dailyStockReturnData.total) *
          parseFloat(investment.quantity);
        tableData["gain_loss_percent"] = investment.total_return_percent;
        tableData["gain_loss_cash"] = investment.total_return;
        tableData["avg_cost_basis"] = investment.average_cost;
        return tableData;
      });
      return computedTableData;
    },
    totalMarketValueChangeCash() {
      return this.computedTableData.reduce(function (
        totalValueChange,
        currentHoldingData
      ) {
        return (
          totalValueChange + currentHoldingData.market_value_net_change_cash
        );
      },
      0);
    },
    totalMarketValueChangePercent() {
      let totalMarketValueOpen = this.computedTableData.reduce(function (
        totalValue,
        currentHoldingData
      ) {
        return (
          totalValue +
          currentHoldingData.open_price * currentHoldingData.quantity
        );
      },
      0);
      return this.getNetChangePercent(
        parseFloat(this.portfolio.balance_current),
        totalMarketValueOpen
      );
    },
    totalGainLossPercent() {
      return this.getNetChangePercent(
        parseFloat(this.portfolio.balance_current),
        parseFloat(this.portfolio.total_cost_basis)
      );
    },
    totalGainLossCash() {
      return (
        parseFloat(this.portfolio.balance_current) -
        parseFloat(this.portfolio.total_cost_basis)
      );
    },
  },
  methods: {
    getNetChangePercent(current_value, initial_value) {
      return (current_value / initial_value - 1) * 100;
    },
    async setPortfolio() {
      this.portfolio = await this.$store.dispatch(
        "portfolios/get",
        this.portfolioId
      );
    },
  },
  watch: {
    portfolioId: {
      handler: "setPortfolio",
      immediate: true,
    },
  },
  created() {
    eventBus.$on(GLOBAL_EVENTS.SHOW_PERCENT_CHANGE, (payload) => {
      this.cashPercentToggleStates[payload] = false;
    });
    eventBus.$on(GLOBAL_EVENTS.SHOW_CASH_CHANGE, (payload) => {
      this.cashPercentToggleStates[payload] = true;
    });
  },
};
</script>

<style scoped>
.footer-border-width {
  border-top-width: 4px;
}
</style>