<template>
  <div
    @click="showStockDetailPage()"
    :class="textAlignClass"
    class="stock-cell-container"
  >
    <span :class="symbolVariantClass">
      <b>{{ computedSymbol }}</b>
    </span>
    <small v-if="computedName.length < maxNameLength" class="d-block">
      <span :class="nameVariantClass">
        {{ computedName }}
      </span>
    </small>
    <small
      v-else
      class="d-block"
      v-b-tooltip.hover.v-secondary.right
      :title="computedName"
    >
      <span :class="nameVariantClass">
        {{ computedName.slice(0, maxNameLength - 1).trim() }}...
      </span>
    </small>
  </div>
</template>

<script>
export default {
  name: "StockCell",
  props: {
    textAlign: {
      type: String,
      default: "left",
    },
    symbol: {
      // The stock's symbol
      type: String,
      default: ""
    },
    symbolVariant: {
      // The bootstrap variant of the stock symbol
      type: String,
      default: "primary",
    },
    name: {
      // The name of the stock/company
      type: String,
default: ""    },
    nameVariant: {
      // The bootstrap variant of the stock name. Defaults to text-muted
      type: String,
      default: null,
    },
    maxNameLength: {
      /*
       * The max length allowed for the name. If name.length is greater than
       * this value, the full name will be captured in a tooltip
       */
      type: Number,
      default: 22,
    },
  },
  computed: {
    computedSymbol() {
      let trimmed = this.symbol.trim()
      return trimmed.length == 0 ? "N/A" : this.symbol
    },
    computedName() {
      let trimmed = this.name.trim()
      return trimmed.length == 0 ? "N/A" : this.name
    },
    textAlignClass() {
      return this.getTextClassFrom(this.textAlign);
    },
    symbolVariantClass() {
      return this.getTextClassFrom(this.symbolVariant);
    },
    nameVariantClass() {
      if (this.nameVariant !== null) {
        return this.getTextClassFrom(this.nameVariant);
      }
      // The default behavior
      return "text-muted";
    },
  },
  methods: {
    getTextClassFrom(prop) {
      return `text-${prop}`;
    },
    showStockDetailPage() {
      this.$router.push({ path: `/stock/${this.symbol}` });
    },
  },
};
</script>