<template>
  <div>
    <b-row class="mt-2">
      <h4>{{ portfolioName }}</h4>
      <b-img
        rounded="circle"
        class="avatar-xs ml-2 p-1"
        alt="Image"
        :src="`data:image/png;base64,${logo}`"
      />
    </b-row>
    <b-row class="mt-1">
      <b-col>
        <span class="text-dark">
          {{ holding.quantity }}
        </span>
        <small class="d-block"> Shares </small>
      </b-col>
      <b-col>
        <CalculatedValueCell :value="holding.current_value" />
        <small class="d-block"> Market Value </small>
      </b-col>
      <b-col>
        <span class="text-dark">
          {{ holding.cost_basis | currencyFormat }}
        </span>
        <small class="d-block"> Total Cost </small>
      </b-col>
      <b-col>
        <CalculatedValueCell :value="holding.total_return" :showChange="true" />
        <small class="d-block"> Total Return </small>
      </b-col>
      <b-col>
        <span class="text-dark">
          {{ holding.average_cost | currencyFormat }}
        </span>
        <small class="d-block"> Cost per share </small>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import CalculatedValueCell from "@/components/holdings/CalculatedValueCell.vue";

export default {
  name: "StockHoldingsBreakdownRow",
  components: { CalculatedValueCell },
  props: {
    /*
     Object representing the user's investments of a particular stock for a
     single portfolio.
    */
    holding: {
      quantity: {
        type: Number || String,
        required: true,
      },
      current_value: {
        type: Number || String,
        required: true,
      },
      total_return: {
        type: Number || String,
        required: true,
      },
      average_cost: {
        type: Number || String,
        required: true,
      },
      type: Object,
      required: true,
    },
    // The name of the related portfolio
    portfolioName: {
      type: String,
      required: true,
    },
    // The logo associated with the brokerage managing the portfolio
    logo: {
      type: String,
      required: false,
    },
  },
};
</script>

<style>
</style>