// A breakdown of user's holdings of a particular stock across all portfolios 
<template>
  <b-container class="stock-holdings-breakdown" fluid>
    <b-row>
      <h4 class="text-muted">Holdings Breakdown</h4>
    </b-row>
    <b-skeleton-wrapper :loading="loading">
      <template #loading>
        <b-skeleton animation="wave" width="100%" />
        <b-skeleton animation="wave" width="100%" />
      </template>
      <template>
        <template v-for="(holding, index) in holdings">
          <StockHoldingsBreakdownRow
            :holding="holding"
            :portfolioName="userPortfolios[holding.portfolio].name"
            :logo="userPortfolios[holding.portfolio].institution.logo"
            :key="index"
          />
        </template>
        <template v-if="holdings.length > 0">
          <StockHoldingsBreakdownFooter :holdings="holdings" />
        </template>
        <template v-else>
          <p>
            Looks like you don't currently own any shares of {{ tickerSymbol }}!
          </p>
        </template>
      </template>
    </b-skeleton-wrapper>
  </b-container>
</template>

<script>
import StockHoldingsBreakdownRow from "@/components/holdings/StockHoldingsBreakdownRow.vue";
import StockHoldingsBreakdownFooter from "@/components/holdings/StockHoldingsBreakdownFooter.vue";
import { isEmpty } from "lodash";
export default {
  name: "StockHoldingsBreakdown",
  components: {
    StockHoldingsBreakdownRow,
    StockHoldingsBreakdownFooter,
  },
  props: {
    tickerSymbol: {
      type: String,
      required: true,
    },
  },
  computed: {
    userPortfolios() {
      return this.$store.getters["portfolios/userPortfolios"];
    },
    loading() {
      // If the user portfolios haven't loaded yet, then we are still in a loading state
      return isEmpty(this.userPortfolios) ? true : false;
    },
    holdings() {
      // The reducer function doesn't have access to 'this', copy to local variable
      const symbolToFilterBy = this.tickerSymbol;
      return Object.entries(this.userPortfolios).reduce(function (
        holdingsForCurrentTickerSymbol,
        [, portfolioData]
      ) {
        const holdingForCurrentTickerSymbol = portfolioData.investments.filter(
          (investment) => investment.ticker_symbol == symbolToFilterBy
        );
        if (holdingForCurrentTickerSymbol) {
          holdingsForCurrentTickerSymbol.push(...holdingForCurrentTickerSymbol);
        }
        return holdingsForCurrentTickerSymbol;
      },
      []);
    },
  },
};
</script>