<template>
  <div>
    <b-row class="mt-2 footer-border">
      <h4 class="mt-2">Total</h4>
    </b-row>
    <b-row>
      <b-col>
        <span class="text-dark">
          {{ totalShares }}
        </span>
        <small class="d-block"> Shares </small>
      </b-col>
      <b-col>
        <CalculatedValueCell :value="totalMarketValue" />
        <small class="d-block"> Market Value </small>
      </b-col>
      <b-col>
        <span class="text-dark">
          {{ totalCost | currencyFormat }}
        </span>
        <small class="d-block"> Total Cost </small>
      </b-col>
      <b-col>
        <CalculatedValueCell :value="totalReturn" :showChange="true" />
        <small class="d-block"> Total Return </small>
      </b-col>
      <b-col>
        <CalculatedValueCell :value="totalCostPerShare" />
        <small class="d-block"> Cost per share </small>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import CalculatedValueCell from "@/components/holdings/CalculatedValueCell.vue";
export default {
  name: "StockHoldingsBreakdownFooter",
  components: { CalculatedValueCell },
  props: {
    /*
     An array of holding objects corresponding to the user's investments of a
     particular stock across all their portfolios.
    */
    holdings: {
      type: Array,
      required: true,
    },
  },
  computed: {
    totalShares() {
      return this.holdings.reduce(function (totalShares, holding) {
        return totalShares + parseFloat(holding.quantity);
      }, 0);
    },
    totalMarketValue() {
      return this.holdings.reduce(function (totalMarketValue, holding) {
        return totalMarketValue + holding.current_value;
      }, 0);
    },
    totalCost() {
      return this.holdings.reduce(function (totalCost, holding) {
        return totalCost + parseFloat(holding.cost_basis);
      }, 0);
    },
    totalReturn() {
      return this.holdings.reduce(function (totalReturn, holding) {
        return totalReturn + holding.total_return;
      }, 0);
    },
    totalCostPerShare() {
      return this.totalCost / this.totalShares;
    },
  },
};
</script>

<style>
</style>