<template>
  <base-input
    :label="label"
    :inputSlotId="inputSlotId"
    :required="true"
    :error="password.error"
    v-model="password.value"
    :inputType="isVisible ? 'text' : 'password'"
    :valid="password.state"
    @input="onInput()"
  >
    <template #addonRight>
      <icon-button
        :iconName="isVisible ? 'eye-slash' : 'eye'"
        @click="togglePasswordVisibility()"
      ></icon-button>
    </template>
  </base-input>
</template>

<script>
export default {
  name: "PasswordInput",
  props: {
    label: {
      type: String,
      required: true,
    },
    inputSlotId: {
      type: String,
      required: true,
    },
    password: {
      type: Object,
      required: true,
      value: {
        type: String,
        required: true,
      },
      state: {
        type: Boolean || null,
        required: true,
      },
      error: {
        type: String,
        required: true,
      },
    },
  },
  data() {
    return {
      isVisible: false,
    };
  },
  methods: {
    togglePasswordVisibility() {
      this.isVisible = !this.isVisible;
    },
    onInput() {
      this.$emit("input");
    },
  },
};
</script>

<style>
</style>