// Iterates through all the groups a portfolio belongs too, and creates a series
// of rows with the groups name and privacy details that link to the detail page
// for that group.
<template>
  <div>
    <small
      class="d-block mb-1 sidebar-portfolio-group"
      v-for="(group, id) in groups"
      :key="id"
    >
      <font-awesome-icon icon="users" class="mr-1" />
      <span v-if="group.name.length <= maxNameLength">
        <router-link :to="{ name: 'group-overview', params: { groupId: id } }">
          {{ group.name }}
        </router-link>
      </span>
      <span v-else v-b-tooltip.hover.v-secondary.right :title="group.name">
        <router-link :to="{ name: 'group-overview', params: { groupId: id } }">
          {{ group.name.slice(0, maxNameLength - 1).trim() }}...
        </router-link>
      </span>
      <font-awesome-icon
        :id="getTooltipId(id)"
        :icon="privacyIconMap[group.privacy]"
        class="ml-1"
      />
      <b-popover
        :target="getTooltipId(id)"
        triggers="hover"
        placement="top"
        :boundary-padding="0"
        boundary="window"
      >
        <template #title>
          {{ privacyTooltipMap[group.privacy]["title"] }}
        </template>
        {{ privacyTooltipMap[group.privacy]["description"] }}
      </b-popover>
    </small>
  </div>
</template>

<script>
import inviteOnlyGroupTooltip from "@/components/group/tooltips/invite-only-group.js";
import privateGroupTooltip from "@/components/group/tooltips/private-group.js";
import publicToViewGroupTooltip from "@/components/group/tooltips/public-to-view-group.js";
import publicToJoinGroupTooltip from "@/components/group/tooltips/public-to-join-group.js";
export default {
  name: "SidebarPortfolioGroups",
  props: {
    portfolioId: {
      type: String,
      required: true,
    },
  },
  computed: {
    groups() {
      return this.$store.getters["groups/userGroups__from_portfolioId"](
        this.portfolioId
      );
    },
  },
  methods: {
    getTooltipId(groupId) {
      return groupId + "-" + this.portfolioId;
    },
    routeToGroupDetailPage(groupId) {
      this.$router.push({ path: `/group/${groupId}` });
    },
  },
  created() {
    this.privacyIconMap = {
      I: "envelope",
      P: "lock",
      V: "eye",
      N: "lock-open",
    };
    this.privacyTooltipMap = {
      I: inviteOnlyGroupTooltip,
      P: privateGroupTooltip,
      V: publicToViewGroupTooltip,
      N: publicToJoinGroupTooltip,
    };
    this.maxNameLength = 24;
  },
};
</script>

<style>
</style>