// Generates a series of list items displaying details about a portfolio, such
// as name, current price, all time return, privacy, and related groups. Each
// item is interactive in the sense that clicking on it will redirect to the
// detail page of that entity.
<template>
  <div>
    <b-list-group flush>
      <b-list-group-item
        button
        class="checklist-entry align-items-start py-2 px-1"
        v-for="(portfolio, id) in portfolios"
        :key="id"
      >
        <div :class="getClass(isActive(id))">
          <div class="checklist-info w-100">
            <router-link
              :style="{ color: 'inherit' }"
              :to="{
                name: 'portfolio-overview',
                params: { portfolioId: id },
              }"
            >
              <b-row align-h="between" align-v="center">
                <!-- Row containing the portfolio's name and current value -->
                <b-col cols="7">
                  <h5
                    class="checklist-title mb-0"
                    :class="{ 'text-muted': !isActive(id) }"
                  >
                    <span v-if="portfolio.name.length <= maxNameLength">
                      {{ portfolio.name }}
                    </span>
                    <span
                      v-else
                      v-b-tooltip.hover.v-secondary.topright
                      :title="portfolio.name"
                    >
                      {{ portfolio.name.slice(0, maxNameLength - 1).trim() }}...
                    </span>
                    <b-img
                      rounded="circle"
                      class="avatar-xs ml-0 p-1"
                      alt="Image"
                      v-b-tooltip.hover.topright.v-secondary="
                        portfolio.institution.name
                      "
                      :src="`data:image/png;base64,${portfolio.institution.logo}`"
                    />
                  </h5>
                </b-col>
                <b-col>
                  <h5 class="text-right mr-1 mb-0">
                    <span>
                      {{ portfolio.balance_current | currencyFormat }}
                    </span>
                  </h5>
                </b-col>
              </b-row>
              <b-row align-h="between" align-v="start">
                <!-- Row containing the badge portfolio's total change in value -->
                <b-col class="pr-0">
                  <PortfolioPrivacyBadge :portfolioId="id" />
                </b-col>
                <b-col cols="7" class="pl-0">
                  <!-- If both total and percent return fit, show them. -->
                  <small class="d-block text-right mr-1">
                    <strong
                      v-if="
                        getLengthOfReturns([
                          getPortfolioCashReturn(portfolio),
                          getPortfolioPercentReturn(portfolio),
                        ]) <= maxPortfolioReturnLength
                      "
                    >
                      <CashChangeOverTimeSpan
                        :cashChangeValue="getPortfolioCashReturn(portfolio)"
                      />
                      <PercentChangeOverTimeSpan
                        :percentChangeValue="
                          getPortfolioPercentReturn(portfolio)
                        "
                      />
                    </strong>
                    <!-- Else create a tooltip for displaying the percent change -->
                    <strong v-else>
                      <CashChangeOverTimeSpan
                        :id="getPortfolioReturnTooltipId(id)"
                        :cashChangeValue="getPortfolioCashReturn(portfolio)"
                      />
                      <b-tooltip
                        :target="getPortfolioReturnTooltipId(id)"
                        :variant="
                          getPortfolioPercentReturn(portfolio) >= 0
                            ? 'success'
                            : 'danger'
                        "
                        placement="right"
                        boundary="viewport"
                      >
                        <strong>
                          {{
                            getPortfolioPercentReturn(portfolio)
                              | percentChangeFormat
                          }}
                        </strong>
                      </b-tooltip>
                    </strong>
                  </small>
                </b-col>
              </b-row>
            </router-link>
            <b-row class="mt-1">
              <!-- Row containing the list of groups the portfolio belongs to -->
              <b-col class="ml-3">
                <SidebarPortfolioGroups :portfolioId="id" />
              </b-col>
            </b-row>
          </div>
        </div>
      </b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import CashChangeOverTimeSpan from "@/components/base/CashChangeOverTimeSpan.vue";
import PercentChangeOverTimeSpan from "@/components/base/PercentChangeOverTimeSpan.vue";
import SidebarPortfolioGroups from "@/components/sidebar/SidebarPortfolioGroups.vue";
import PortfolioPrivacyBadge from "@/components/buckets/PortfolioPrivacyBadge.vue";

export default {
  name: "SidebarPortfoliosSelector",
  components: {
    CashChangeOverTimeSpan,
    PercentChangeOverTimeSpan,
    SidebarPortfolioGroups,
    PortfolioPrivacyBadge,
  },
  computed: {
    ...mapGetters({
      portfolios: "portfolios/userPortfolios",
    }),
    // Used to determine which selector has the activeClass
    activePortfolioId() {
      if (this.$route.params.portfolioId) {
        return this.$route.params.portfolioId;
      } else {
        return null;
      }
    },
  },
  methods: {
    isActive(portfolioId) {
      return portfolioId == this.activePortfolioId;
    },
    getClass(isActive) {
      return isActive ? this.activeClass : this.inactiveClass;
    },
    getPortfolioCashReturn(portfolio) {
      return parseFloat(portfolio.balance_current) - portfolio.total_cost_basis;
    },
    getPortfolioPercentReturn(portfolio) {
      return (
        ((parseFloat(portfolio.balance_current) - portfolio.total_cost_basis) /
          portfolio.total_cost_basis) *
        100
      );
    },
    getPortfolioReturnTooltipId(portfolioId) {
      return portfolioId + "-return-tooltip";
    },
    getLengthOfReturns(returns) {
      return returns.reduce(function (size, returnValue) {
        return size + parseFloat(returnValue).toFixed(2).length;
      }, 0);
    },
  },
  created() {
    this.activeClass = "checklist-item checklist-item-primary";
    this.inactiveClass = "checklist-item checklist-item-white text-muted";
    this.maxNameLength = 12;
    this.maxPortfolioReturnLength = 16;
  },
};
</script>