<template>
  <b-sidebar
    @shown="showSidebar()"
    @hidden="hideSidebar()"
    id="sidebar-1"
    :visible="isSidebarVisible"
    v-click-outside="hideSidebar"
    shadow
    bg-variant="white"
    width="280px"
  >
    <template v-slot:title>
      <img :src="require('@/assets/logos/EchoLogo-04.svg')" width="220px" />
    </template>
    <template v-slot:header-close>
      <b-btn-close></b-btn-close>
    </template>
    <div class="py-3 ml-2">
      <h5 class="mt-2 text-gray">NAVIGATE</h5>
      <SidebarNavigationButtons />
    </div>
    <div class="py-1 ml-2">
      <h5 class="mt-0 text-gray">MY PORTFOLIOS</h5>
      <SidebarPortfoliosSelector />
    </div>
    <BrokerageAccountLinkButton />
    <base-button
      class="border-right-0 border-left-0 rounded-0 border-light"
      outline
      type="grey"
      block
      @click="openCreateGroupModal"
    >
      <font-awesome-icon icon="plus-circle" size="lg" />
      <span> New Group </span>
    </base-button>
    <InviteYourFriendsPanel class="mt-4" />
  </b-sidebar>
</template>

<script>
import SidebarPortfoliosSelector from "./SidebarPortfoliosSelector.vue";
import SidebarNavigationButtons from "./SidebarNavigationButtons.vue";
import BrokerageAccountLinkButton from "@/components/buckets/link/BrokerageAccountLinkButton.vue";
import InviteYourFriendsPanel from "@/components/InviteYourFriendsPanel.vue";
export default {
  name: "Sidebar",
  components: {
    SidebarPortfoliosSelector,
    SidebarNavigationButtons,
    BrokerageAccountLinkButton,
    InviteYourFriendsPanel,
  },
  computed: {
    isSidebarVisible() {
      return this.$store.getters.isSidebarVisible;
    },
  },
  methods: {
    hideSidebar() {
      this.$store.dispatch("hide__sidebar");
    },
    showSidebar() {
      this.$store.dispatch("show__sidebar");
    },
    openCreateGroupModal() {
      const app = this.$app();
      app.$refs.cgf.open();
    },
  },
};
</script>
<style >
.sidebar-dropdown-menu .dropdown-menu {
  min-width: 18rem !important;
}
</style>