<template>
  <!-- TODO: Wireup the Sidebar buttons https://app.clickup.com/t/hcvczk -->
  <div>
    <b-nav-item
      :class="item.route == currentRoute ? activeClass : inactiveClass"
      v-for="item in sidebarItems"
      :key="item.name"
      :to="{ name: item.route }"
    >
      <b-container class="px-0 py-1">
        <b-row no-gutters>
          <b-col cols="1">
            <font-awesome-icon :icon="item.icon" />
          </b-col>
          <b-col>
            <span class="text-left col-md-2">
              {{ item.name }}
            </span>
          </b-col>
        </b-row>
      </b-container>
    </b-nav-item>
  </div>
</template>

<script>
export default {
  name: "SidebarNavigationButtons",
  computed: {
    currentRoute() {
      return this.$route.name || "";
    },
  },
  data() {
    return {
      sidebarItems: [
        /* { Name of button, name of faIcon to represent it } */
        { name: "Home", icon: "home", route: "home" },
        { name: "Explore", icon: "binoculars" },
        { name: "Compete", icon: "trophy" },
      ],
    };
  },
  created() {
    this.activeClass = "checklist-item checklist-item-primary";
    this.inactiveClass = "checklist-item checklist-item-white text-muted";
  },
};
</script>