<template>
  <div class="d-flex flex-wrap justify-content-start">
    <GroupThumbnail
      v-for="id of groupIds"
      :key="id"
      :groupId="id"
      class="m-2"
    />
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
import GroupThumbnail from "@/components/group/GroupThumbnail.vue";
const { mapState } = createNamespacedHelpers("accounts/userAccount");

export default {
  name: "UsersGroups",
  components: { GroupThumbnail },
  props: {
    userId: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      groupIds: [],
    };
  },
  computed: {
    ...mapState({
      currentUserId: (state) => state.account.id,
    }),
  },
  methods: {
    async setGroupIds() {
      if (this.userId != null) {
        if (this.userId != this.currentUserId) {
          const memberships = await this.$store.dispatch(
            "memberships/get",
            this.userId
          );
          this.groupIds = memberships.reduce(function (
            allGroupIds,
            membership
          ) {
            allGroupIds.push(membership.group);
            return allGroupIds;
          },
          []);
        } else {
          this.groupIds = this.$store.getters["groups/userGroupsIds"];
        }
      }
    },
  },
  watch: {
    userId: {
      handler: "setGroupIds",
      immediate: true,
    },
  },
};
</script>

<style>
</style>