<template>
  <modal :name="name" height="auto" scrollable>
    <div class="base-post">
      <div class="base-post__header">
        <slot name="post-header"></slot>
      </div>
      <div class="base-post__content">
        <slot name="post-content"></slot>
      </div>
      <div class="base-post__footer">
        <slot name="post-footer"></slot>
      </div>
    </div>
  </modal>
</template>

<script>
export default {
  name: "BasePostModal",
  props: {
    name: {
      type: String,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.base-post {
  min-height: 430px;
  padding: 16px 38px 8px 38px;
  border-radius: 5px;

  &__header {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #5566ff;
  }

  &__content {
    margin-top: 14px;
  }

  &__footer {
    margin-top: 20px;
  }
}
</style>
