<template>
  <modal
    :id="modalId"
    :name="modalName"
    height="auto"
    @before-open="setPostAuthorAccount"
    scrollable
  >
    <slot name="post-card" />
    <div class="input-area">
      <editor
        name="response"
        @input="setResponse($event)"
        v-validate="'min-post-length|max-post-length'"
        :value="response"
        :groupId="groupId"
        :isInline="true"
      />
      <div
        v-show="veeErrors.has('response')"
        class="text-warning invalid-feedback"
        style="display: block"
      >
        {{ veeErrors.first("response") }}
      </div>
      <div class="d-flex flex-row justify-content-between mt-2">
        <base-button
          :disabled="!canComment"
          :block="true"
          type="primary"
          @click="submitReply"
        >
          Comment
        </base-button>
      </div>
    </div>
    <div class="replies-list" @scroll="onScroll">
      <div v-for="reply in replies" :key="reply.id">
        <PostReplyCard :post="reply" @liked-post="handleLikedPost" />
      </div>
    </div>
  </modal>
</template>

<script>
import validateNewPost from "@/form-validation/validate-new-post.js";
import scrollHandlerMixin from "@/mixins/scroll-handler-mixin.js";
import PostReplyCard from "@/components/posts/PostReplyCard";

export default {
  name: "BasePostDetailModal",
  mixins: [validateNewPost, scrollHandlerMixin],
  components: {
    PostReplyCard,
  },
  props: {
    modalName: {
      // The name of the modal, internally referenced to open and close
      // Multi word names should be hyphenated. Ex: "portfolio-info-form"
      type: String,
      required: true,
    },
    modalId: {
      // The id of the modal, externally referenced to open and close
      // Typically the id should be an acronym of the name. Ex: "pif"
      type: String,
      required: true,
    },
    replies: {
      type: Array,
      default: new Array(),
    },
    authorId: {
      type: String,
      required: true,
    },
    groupId: {
      type: String,
      required: false,
    },
  },
  data() {
    return {
      postAuthorAccount: {
        avatar_img: null,
        first_name: "",
        avatar_bg_hex: "",
      },
      response: "",
    };
  },
  computed: {
    canComment() {
      return !(
        this.veeErrors.has("response") || this.veeFields?.response?.invalid
      );
    },
  },
  methods: {
    setResponse(value) {
      this.response = value;
    },
    close() {
      this.reset();
      this.$modal.hide(this.modalName);
    },
    isResponseValid() {
      return this.$validator
        .validate()
        .then((result) => (result ? true : false))
        .catch(() => false);
    },
    submitReply() {
      if (this.isResponseValid()) {
        this.$emit("reply", this.response);
        this.reset();
      }
    },
    handleLikedPost(post) {
      this.$emit("liked-reply", post);
    },
    async setPostAuthorAccount() {
      if (this.authorId) {
        const authorId = this.authorId;
        this.postAuthorAccount = await this.$store.dispatch(
          "accounts/get",
          authorId
        );
      }
    },
    reset() {
      this.response = "";
      this.$validator.pause();
      this.$nextTick(() => {
        this.$validator.errors.clear();
        this.$validator.fields.items.forEach((field) => field.reset());
        this.$validator.fields.items.forEach((field) =>
          this.$validator.errors.remove(field)
        );
        this.$validator.resume();
      });
    },
    handleScrollToBottom() {
      this.$emit("scrolled-to-bottom");
    },
  },
  watch: {
    authorId: {
      handler: "setPostAuthorAccount",
      immediate: false,
    },
  },
  created() {
    this.publicPath = process.env.BASE_URL;
    this.setVeePostValidator({});
  },
};
</script>
<style lang="scss" scoped>
.input-area {
  position: relative;
  padding: 11px 6px 11px 6px;
  background: #fbfbfb;

  &__btn {
    background: $primary;
    border-radius: 5px;
    border: none;
    width: 90px;
    height: 45px;
    margin-left: 10px;
    color: white;
  }
}
.replies-list {
  overflow-y: auto;
  max-height: 300px;
  min-height: 300px;
}

.editor {
  min-height: 50px;
}
</style>