<template>
  <BasePostModal name="modalCreatePost" class="general-post">
    <template v-slot:post-header>Create Post</template>
    <template v-slot:post-content>
      <b-input
        name="title"
        v-model="post.title"
        placeholder="Post title (optional)"
        class="mb-3"
      />

      <editor
        name="post"
        @input="setPostValue($event)"
        v-validate="'min-post-length|max-post-length'"
        :value="post.value"
        :groupId="groupId"
      />

      <div
        v-show="veeErrors.has('post')"
        style="display: block"
        class="text-warning invalid-feedback"
      >
        {{ veeErrors.first("post") }}
      </div>
    </template>
    <template v-slot:post-footer>
      <div class="d-flex justify-content-end">
        <b-button variant="outline-primary" class="ml-2" @click="close()"
          >Cancel
        </b-button>
        <b-button variant="primary" @click="onSubmit()">Post</b-button>
      </div>
    </template>
  </BasePostModal>
</template>

<script>
import validateNewPost from "@/form-validation/validate-new-post.js";
import BasePostModal from "@/components/posts/modals/BasePostModal";

export default {
  name: "GroupPostModal",
  components: {
    BasePostModal,
  },
  mixins: [validateNewPost],
  props: {
    groupId: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      post: {
        title: "",
        value: "",
      },
    };
  },
  methods: {
    setPostValue(value) {
      this.post.value = value;
    },
    close() {
      this.$modal.hide("modalCreatePost");
    },
    async onSubmit() {
      const result = await this.$validator.validate();
      if (!result) {
        return;
      }

      let message = "";
      const groupId = this.groupId;

      if (this.post.title) {
        message = message.concat(
          "<h2>" + this.post.title.toUpperCase() + "</h2>"
        );
      }

      message = message.concat(this.post.value);

      try {
        await this.$store.dispatch("groupPosts/createPost", {
          groupId,
          message,
        });
        this.reset();
        this.close();
      } catch (e) {
        console.log("Error: " + e);
      }
    },
    reset() {
      this.post.value = "";
      this.post.title = "";
      this.$validator.pause();
      this.$nextTick(() => {
        this.$validator.errors.clear();
        this.$validator.fields.items.forEach((field) => field.reset());
        this.$validator.fields.items.forEach((field) =>
          this.errors.remove(field)
        );
        this.$validator.resume();
      });
    },
    // handleImageAdded(file) {
    //   // Editor, cursorLocation, resetUploader
    //   // An example of using FormData
    //   // NOTE: Your key could be different such as:
    //   // formData.append('file', file)
    //
    //   const formData = new FormData();
    //   formData.append("image", file);
    // }
  },
  created() {
    this.setVeePostValidator({});
  },
};
</script>

<style lang="scss">
.general-post {
  &__editor {
    margin-top: 8px;
  }

  &__error {
    color: #d8000c;
    margin-top: 5px;
    font-size: 12px;
  }
}

.ql-editor {
  p {
    color: black;
  }

  &:focus {
    color: black;
  }

  strong {
    font-weight: bold;
  }
}

.ql-toolbar.ql-snow {
  background-color: #ececec;
}

.ql-spanblock:after {
  content: "<spanblock/>";
}

.spanblock {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  line-height: 19px;
  padding: 6px 10px;
  border-radius: 3px;
  margin: 15px 0;
}

.tag {
  &:hover {
    cursor: pointer;
  }

  color: blue;
  font-weight: bold;
}

a {
  text-decoration: none;
}
</style>