<template>
  <BasePostDetailModal
    v-if="isPostReady"
    :modalName="modalName"
    :modalId="modalId"
    :replies="post.replies"
    :authorId="post.author_id"
    :groupId="groupId"
    @reply="submitReply($event)"
  >
    <template #post-card>
      <PostCard :post="post" />
    </template>
  </BasePostDetailModal>
</template>

<script>
import BasePostDetailModal from "@/components/posts/modals/BasePostDetailModal.vue";
import PostCard from "@/components/posts/PostCard";
import sweetAlertMixin from "@/mixins/sweet-alert-mixin.js";
import { eventBus } from "@/main";
import { GLOBAL_EVENTS } from "@/constants/global-events.js";

export default {
  name: "GroupPostDetailModal",
  components: {
    BasePostDetailModal,
    PostCard,
  },
  mixins: [sweetAlertMixin],
  props: {
    groupId: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      postId: "",
      post: {
        id: null,
        author_id: null,
        replies: [],
      },
    };
  },
  computed: {
    isPostReady() {
      return this.post["id"] !== null;
    },
  },
  methods: {
    async submitReply(response) {
      try {
        await this.$store.dispatch("groupPosts/replyPost", {
          groupId: this.groupId,
          superPostId: this.post.id,
          message: response,
        });
        this.loadPost();
      } catch (ex) {
        console.log(ex);
        this.showSwal(
          "warning",
          "Hmm, Something Went Wrong",
          "An error occurred while submitting your post. Please try again."
        );
      }
    },
    loadPost() {
      const _post = this.$store.getters[
        "groupPosts/post__fromGroupId_andPostId"
      ]({
        groupId: this.groupId,
        postId: this.postId,
      });
      if (_post) {
        this.post = _post;
      }
    },
    reset() {
      this.post = {
        id: null,
        author_id: null,
        replies: [],
      };
    },
    openWith(_postId) {
      this.reset();
      this.postId = _postId;
      this.loadPost();
      this.open();
    },
    open() {
      this.$modal.show(this.modalName);
    },
  },
  created() {
    this.modalName = "group-post-detail-modal";
    this.modalId = "gpdm";
    eventBus.$on(GLOBAL_EVENTS.SHOW_GROUP_POST_DETAIL_MODAL, (postId) =>
      this.openWith(postId)
    );
  },
};
</script>
<style lang="scss" scoped>
.input-area {
  position: relative;
  padding: 11px 6px 11px 6px;
  background: #fbfbfb;

  &__btn {
    background: $primary;
    border-radius: 5px;
    border: none;
    width: 90px;
    height: 45px;
    margin-left: 10px;
    color: white;
  }
}
</style>