<template>
  <BasePostDetailModal
    :modalName="modalName"
    :modalId="modalId"
    :replies="replies.posts"
    :authorId="transactionOwnerId"
    :groupId="groupId"
    @scrolled-to-bottom="loadAdditionalTransactionReplies"
    @reply="submitReply"
    @liked-reply="handleLikedReply"
  >
    <template #post-card>
      <TransactionPostCard
        :transactionId="transactionId"
        :groupId="groupId"
        :showTransactionTotals="showTransactionTotals"
      />
    </template>
  </BasePostDetailModal>
</template>

<script>
import BasePostDetailModal from "@/components/posts/modals/BasePostDetailModal.vue";
import TransactionPostCard from "@/components/transaction-history/transaction-cards/TransactionPostCard";
import {
  groupPostDataService,
  postDataService,
} from "@/services/post-data.service";
import authHeader from "@/services/auth-header.js";
import axiosWrapper from "@/services/axios-wrapper.js";
import sweetAlertMixin from "@/mixins/sweet-alert-mixin.js";
import { eventBus } from "@/main";
import { GLOBAL_EVENTS } from "@/constants/global-events.js";
import { updateObjectInList } from "@/store/update-object-in-list.js";

import { UPDATE_TRANSACTION_REPLIES_COUNT } from "@/store/mutation-types.js";
import { createNamespacedHelpers } from "vuex";
const { mapMutations } = createNamespacedHelpers("transactions");
export default {
  name: "TransactionPostDetailModal",
  components: { BasePostDetailModal, TransactionPostCard },
  mixins: [sweetAlertMixin],
  data() {
    return {
      transactionId: null,
      groupId: null,
      replies: {
        posts: [],
        nextUrl: null,
      },
      transactionOwnerId: "",
    };
  },
  computed: {
    currentUserId() {
      return this.$store.getters["accounts/userAccount"].id;
    },
    showTransactionTotals() {
      return this.currentUserId === this.transactionOwnerId;
    },
  },
  methods: {
    ...mapMutations({
      updateTransactionRepliesCount: UPDATE_TRANSACTION_REPLIES_COUNT,
    }),
    async submitReply(reply) {
      try {
        let response = null;
        if (this.groupId) {
          response = await groupPostDataService.createPost({
            message: reply,
            groupId: this.groupId,
            transactionId: this.transactionId,
          });
        } else {
          response = await postDataService.createPost({
            message: reply,
            transactionId: this.transactionId,
          });
        }
        this.replies.posts.push(response.data);
        this.updateTransactionRepliesCount({
          transactionId: this.transactionId,
          repliesCount: this.replies.posts.length,
        });
      } catch (ex) {
        console.log(ex);
        this.showSwal(
          "warning",
          "Hmm, Something Went Wrong",
          "An error occurred while submitting your post. Please try again."
        );
      }
    },
    handleLikedReply(reply) {
      updateObjectInList(reply, this.replies.posts);
    },
    handlePostsDataResponse(response) {
      this.replies.posts.push(...response.data.results);
      this.replies.nextUrl = response.data.next;
    },
    async initializeTransactionReplies() {
      let response = { data: { results: [], next: null } };
      if (this.groupId) {
        response = await groupPostDataService.getPosts({
          groupId: this.groupId,
          transactionId: this.transactionId,
          ordering: "created_at",
        });
      } else {
        response = await postDataService.getPosts({
          transactionId: this.transactionId,
          ordering: "created_at",
        });
      }
      this.handlePostsDataResponse(response);
    },
    loadAdditionalTransactionReplies() {
      if (this.replies.nextUrl) {
        axiosWrapper
          .get(this.replies.nextUrl, {
            headers: authHeader(),
          })
          .then((response) => this.handlePostsDataResponse(response));
      }
    },
    setTransactionOwnerId(transactionId) {
      this.transactionOwnerId =
        this.$store.state.transactions.allTransactions[transactionId].user_id;
    },
    reset() {
      this.replies = {
        posts: [],
        nextUrl: null,
      };
    },
    openWith(_transactionId, _groupId = null) {
      this.reset();
      this.transactionId = _transactionId;
      this.groupId = _groupId;
      this.setTransactionOwnerId(this.transactionId);
      this.initializeTransactionReplies().then(() => this.open());
    },
    open() {
      this.$modal.show(this.modalName);
    },
  },
  created() {
    this.modalName = "transaction-post-detail-modal";
    this.modalId = "tpdm";
    eventBus.$on(GLOBAL_EVENTS.SHOW_TRANSACTION_POST_DETAIL_MODAL, (params) =>
      this.openWith(params.transactionId, params.groupId)
    );
  },
};
</script>

<style>
</style>