<template>
  <div
    class="chart-area"
    :style="{
      height: toPxStr(chartDimensions.height),
      width: toPxStr(chartDimensions.width),
    }"
  >
    <doughnut-chart
      :height="chartDimensions.height"
      :chart-data="computedChartData"
      :extra-options="extraOptions"
    >
    </doughnut-chart>
  </div>
</template>

<script>
import DoughnutChart from "@/components/base/charts/creative_tim/DoughnutChart.js";
import numberToPixelStrMixin from "@/mixins/number-to-pixel-str-mixin.js";
export default {
  name: "CompositeDoughnutChart",
  mixins: [numberToPixelStrMixin],
  props: {
    size: {
      // Augment the size of the chart for different displays
      type: String,
      default: "md",
      validator: function (size) {
        let isValid = true;
        const validSizes = ["sm", "md"];
        if (!validSizes.includes(size)) {
          isValid = false;
        }
        return isValid;
      },
    },
    chartData: {
      // Used to build the chart. The index for a given datapoint is the same across each array
      // Parent is responsible for compiling the composite chart data
      type: Object,
      labels: {
        type: Array,
      },
      values: {
        type: Array,
      },
      colors: {
        type: Array,
      },
      required: true,
    },
  },
  components: {
    DoughnutChart,
  },
  computed: {
    computedChartData() {
      return {
        labels: this.chartData.labels,
        datasets: [
          {
            data: this.chartData.values,
            backgroundColor: this.chartData.colors,
            label: "Composite Holdings",
            borderWidth: 0, // Removes whitespace between data
          },
        ],
      };
    },
    chartDimensions() {
      // height/width = 7/8
      let dimensions = {
        // Default case (ie: this.size == "md")
        height: 175,
        width: 200,
      };
      if (this.size == "sm") {
        dimensions.height = 100;
        dimensions.width = 114;
      }
      return dimensions;
    },
    extraOptions() {
      return {
        animation: {
          animateScale: true,
          animateRotate: true,
        },
        tooltips: {
          enabled: true,
        },
      };
    },
  },
};
</script>