<template>
  <div
    class="chart-area"
    :style="{
      height: toPxStr(chartDimensions.height),
      width: toPxStr(chartDimensions.width),
    }"
  >
    <doughnut-chart
      :height="chartDimensions.height"
      :chart-data="chartData"
      :extra-options="extraOptions"
    >
    </doughnut-chart>
  </div>
</template>

<script>
import DoughnutChart from "@/components/base/charts/creative_tim/DoughnutChart.js";
import numberToPixelStrMixin from "@/mixins/number-to-pixel-str-mixin.js";
import { randomColor } from "randomcolor";
export default {
  name: "PortfolioDoughnutChart",
  mixins: [numberToPixelStrMixin],
  props: {
    portfolioId: {
      type: String,
      required: true,
    },
    size: {
      // Augment the size of the chart for different displays
      type: String,
      default: "sm",
      validator: function (size) {
        let isValid = true;
        const validSizes = ["xs", "sm", "md"];
        if (!validSizes.includes(size)) {
          isValid = false;
        }
        return isValid;
      },
    },
  },
  components: {
    DoughnutChart,
  },
  data() {
    return {
      portfolio: {},
      chartData: {},
    };
  },
  computed: {
    chartDimensions() {
      // height/width = 7/8
      let dimensions = {
        // Default case (ie: this.size == "md")
        height: 175,
        width: 200,
      };
      if (this.size == "sm") {
        dimensions.height = 100;
        dimensions.width = 114;
      }
      if (this.size == "xs") {
        dimensions.height = 56;
        dimensions.width = 64;
      }
      return dimensions;
    },
    showTooltips() {
      // Show tooltips if portfolio belongs to the user, otherwise hide
      return this.$store.getters["portfolios/isUserPortfolio"](
        this.portfolioId
      );
    },
    extraOptions() {
      return {
        animation: {
          animateScale: true,
          animateRotate: true,
        },
        tooltips: {
          enabled: this.showTooltips,
        },
      };
    },
  },
  // USE WATCHERS TO SEE WHEN PORTFOLIO CHANGES, AND RELOAD THE DATA
  methods: {
    load() {
      this.setPortfolio().then(() => {
        this.chartData = this.createChartDataFrom(this.portfolio);
      });
    },
    async setPortfolio() {
      this.portfolio = await this.$store.dispatch(
        "portfolios/get",
        this.portfolioId
      );
    },
    createChartDataFrom(portfolio) {
      let labels = [];
      let values = [];
      let colors = [];
      portfolio.investments.forEach((investment, index) => {
        labels.push(investment.ticker_symbol);
        values.push(investment.institution_value);
        // values.push(investment.total_value);
        colors.push(
          // TODO: [https://app.clickup.com/t/qh8vf6] Set this to primary or secondary color
          randomColor({
            hue: "#5e72e4",
            format: "hex",
            seed: index,
          })
        );
      });
      return {
        labels: labels,
        datasets: [
          {
            data: values,
            backgroundColor: colors,
            label: "Portfolio",
            borderWidth: 0, // Removes whitespace between data
          },
        ],
      };
    },
  },
  watch: {
    portfolioId: {
      handler: "load",
      immediate: true,
    },
  },
};
</script>