// A time series chart optimized for displaying portfolio performance. Includes a toggle
// for the data timeline of the time series graph. Displays information about
// the Portfolio's performance as a whole as well.
<template>
  <div class="px-2">
    <div class="d-flex flex-row justify-content-between">
      <div class="ml-1">
        <template v-if="showInvestedValues">
          <h2>
            <strong> {{ portfolio.balance_current | currencyFormat }}</strong>
          </h2>
          <h4>
            <CashChangeOverTimeSpan :cashChangeValue="portfolioCashReturn" />
            <PercentChangeOverTimeSpan
              :percentChangeValue="portfolioPercentReturn"
            />
          </h4>
        </template>
        <template v-else>
          <h2>
            <PercentChangeOverTimeSpan
              :percentChangeValue="portfolioPercentReturn"
            />
          </h2>
        </template>
      </div>
      <div>
        <TimeSeriesSelectorButtons
          :timelines="timelines"
          :selectedTimeline="selectedTimeline"
        />
      </div>
    </div>
    <b-skeleton-wrapper :loading="loading">
      <template #loading>
        <b-skeleton-img no-aspect width="100%" :height="toPxStr(height)" />
      </template>
      <BaseTimeSeriesChart
        :chartType="chartType"
        :isSparkline="isSparkline"
        :height="height"
        :series="series"
        :selectedTimeline="selectedTimeline"
        :showDataTooltips="showInvestedValues"
      />
    </b-skeleton-wrapper>
  </div>
</template>

<script>
import { GRANULARITIES } from "@/constants/twelvedata-constants.js";
import numberToPixelStrMixin from "@/mixins/number-to-pixel-str-mixin.js";
import BaseTimeSeriesChart from "@/components/base/charts/apex/BaseTimeSeriesChart.vue";
import TimeSeriesSelectorButtons from "@/components/base/TimeSeriesSelectorButtons.vue";
import CashChangeOverTimeSpan from "@/components/base/CashChangeOverTimeSpan.vue";
import PercentChangeOverTimeSpan from "@/components/base/PercentChangeOverTimeSpan.vue";
export default {
  name: "PortfolioTimeSeriesChart",
  mixins: [numberToPixelStrMixin],
  components: {
    BaseTimeSeriesChart,
    TimeSeriesSelectorButtons,
    CashChangeOverTimeSpan,
    PercentChangeOverTimeSpan,
  },
  props: {
    portfolioId: {
      type: String,
      required: true,
    },
    chartType: {
      // This component is optimized for use as ( "line" | "area")
      type: String,
      required: true,
    },
    isSparkline: {
      type: Boolean,
      default: false,
    },
    showInvestedValues: {
      // Several use cases require us to not reveal the raw value of cash invested
      type: Boolean,
      default: true,
    },
    height: {
      type: Number,
      default: 300,
    },
  },
  data() {
    return {
      selectedTimeline: "ALL",
      portfolio: {},
      timeseriesData: [[]],
      loading: false,
    };
  },
  computed: {
    portfolioCashReturn() {
      return (
        parseFloat(this.portfolio.balance_current) -
        this.portfolio.total_cost_basis
      );
    },
    portfolioPercentReturn() {
      return (
        ((parseFloat(this.portfolio.balance_current) -
          this.portfolio.total_cost_basis) /
          this.portfolio.total_cost_basis) *
        100
      );
    },
    selectedGranularity() {
      // Granularities are based on https://twelvedata.com/docs#stocks
      switch (this.selectedTimeline) {
        case "1D":
          return GRANULARITIES.FIVE_MIN;
        case "1W":
          return GRANULARITIES.ONE_HOUR;
        case "1M":
        case "3M":
          return GRANULARITIES.ONE_DAY;
        case "1Y":
        case "ALL":
          return GRANULARITIES.ONE_WEEK;
        default:
          throw `'${this.selectedTimeline}' is not supported by PortfolioTimeSeriesChart`;
      }
    },
    series() {
      /*
       * Formatting for apex charts needs to look like this:
       * series: [
       *   {
       *     name: "Portfolio Name Here",
       *     data: [
       *       [1327359600000, 30.95],
       *       [1327446000000, 31.34]
       *     ],
       *   },
       * ],
       */
      return [
        {
          name: this.portfolio.name,
          data: this.timeseriesData,
        },
      ];
    },
  },
  methods: {
    async setPortfolio() {
      this.portfolio = await this.$store.dispatch(
        "portfolios/get",
        this.portfolioId
      );
    },
    async setTimeseriesData() {
      this.loading = true;
      await this.$store.dispatch("portfolioHistory/refresh_portfolio_history", {
        portfolioId: this.portfolioId,
        granularity: this.selectedGranularity,
      });
      this.timeseriesData = this.$store.getters[
        "portfolioHistory/reverse_chronological_timeseries__from_id_granularity"
      ]({
        id: this.portfolioId,
        granularity: this.selectedGranularity,
      });
      this.loading = false;
    },
  },
  watch: {
    portfolioId: [
      {
        handler: "setTimeseriesData",
        immediate: true,
      },
      {
        handler: "setPortfolio",
        immediate: true,
      },
    ],
  },
  created() {
    this.timelines = ["1D", "1W", "1M", "3M", "1Y", "ALL"];
    /*
     * Initially, only listen to time selection events from child components.
     * We may opt to reorganize this event structure to be more universal later on,
     * but for now components should only respond to time-selected events from a child
     * for a consistent and simple UX
     */
    this.$on("timeline-selected", (timeline) => {
      this.selectedTimeline = timeline;
      this.setTimeseriesData();
    });
  },
};
</script>
