// A time series chart optimized for displaying stock performance. Includes a toggle
// for the data timeline of the time series graph. Displays information about
// the stock's performance as a whole as well.
<template>
  <div class="px-2">
    <template v-if="isTickerSymbolSupported">
      <div class="d-flex flex-row justify-content-between">
        <div class="ml-1">
          <h2>
            <strong>
              <CalculatedValueCell :value="mostRecentValue" size="xl" />
            </strong>
          </h2>
          <h4>
            <b-skeleton-wrapper
              width="100%"
              :loading="
                Object.is(stockCashReturn, NaN) ||
                Object.is(stockPercentReturn, NaN)
              "
            >
              <CashChangeOverTimeSpan :cashChangeValue="stockCashReturn" />
              <PercentChangeOverTimeSpan
                :percentChangeValue="stockPercentReturn"
              />
            </b-skeleton-wrapper>
          </h4>
        </div>
        <div>
          <TimeSeriesSelectorButtons
            :timelines="timelines"
            :selectedTimeline="selectedTimeline"
          />
        </div>
      </div>
      <b-skeleton-wrapper :loading="loading">
        <template #loading>
          <b-skeleton-img no-aspect width="100%" :height="toPxStr(height)" />
        </template>
        <BaseTimeSeriesChart
          :chartType="chartType"
          :isSparkline="isSparkline"
          :height="height"
          :series="series"
          :selectedTimeline="selectedTimeline"
          :showDataTooltips="true"
        />
      </b-skeleton-wrapper>
    </template>
    <template v-else>
      <font-awesome-icon
        class="mr-2 text-warning"
        icon="exclamation-triangle"
        size="lg"
      />
      Timeseries data for this stock is not available at this time
    </template>
  </div>
</template>

<script>
import { GRANULARITIES } from "@/constants/twelvedata-constants.js";
import numberToPixelStrMixin from "@/mixins/number-to-pixel-str-mixin.js";
import BaseTimeSeriesChart from "@/components/base/charts/apex/BaseTimeSeriesChart.vue";
import TimeSeriesSelectorButtons from "@/components/base/TimeSeriesSelectorButtons.vue";
import CashChangeOverTimeSpan from "@/components/base/CashChangeOverTimeSpan.vue";
import PercentChangeOverTimeSpan from "@/components/base/PercentChangeOverTimeSpan.vue";
import CalculatedValueCell from "@/components/holdings/CalculatedValueCell.vue";

export default {
  name: "StockTimeSeriesChart",
  mixins: [numberToPixelStrMixin],
  components: {
    BaseTimeSeriesChart,
    TimeSeriesSelectorButtons,
    CashChangeOverTimeSpan,
    PercentChangeOverTimeSpan,
    CalculatedValueCell,
  },
  props: {
    tickerSymbol: {
      type: String,
      required: true,
    },
    chartType: {
      // This component is optimized for use as ( "line" | "area")
      type: String,
      required: true,
    },
    isSparkline: {
      type: Boolean,
      default: false,
    },
    height: {
      type: Number,
      default: 300,
    },
  },
  data() {
    return {
      selectedTimeline: "1D",
      timeseriesData: [[]],
      loading: false,
    };
  },
  computed: {
    isTickerSymbolSupported() {
      return !this.$store.state.unsupportedStocks.symbols.includes(
        this.tickerSymbol
      );
    },
    selectedGranularity() {
      // Granularities are based on https://twelvedata.com/docs#stocks
      switch (this.selectedTimeline) {
        case "1D":
          return GRANULARITIES.FIVE_MIN;
        case "1W":
          return GRANULARITIES.ONE_HOUR;
        case "1M":
        case "3M":
          return GRANULARITIES.ONE_DAY;
        case "1Y":
        case "ALL":
          return GRANULARITIES.ONE_WEEK;
        default:
          throw `'${this.selectedTimeline}' is not supported by PortfolioTimeSeriesChart`;
      }
    },
    series() {
      /*
       * Formatting for apex charts needs to look like this:
       * series: [
       *   {
       *     name: "Stock Ticker Symbol Here",
       *     data: [
       *       [1327359600000, 30.95],
       *       [1327446000000, 31.34]
       *     ],
       *   },
       * ],
       */
      return [
        {
          name: this.tickerSymbol,
          data: this.timeseriesData,
        },
      ];
    },
    mostRecentValue() {
      return this
        .timeseriesData[0 /* The most recent datapoint */][1 /* The value at that datapoint */];
    },
    leastRecentValue() {
      return this.timeseriesData[
        this.timeseriesData.length - 1 /* The most recent datapoint */
      ][1 /* The value at that datapoint */];
    },
    stockCashReturn() {
      return (
        parseFloat(this.mostRecentValue) - parseFloat(this.leastRecentValue)
      );
    },
    stockPercentReturn() {
      return (
        ((parseFloat(this.mostRecentValue) -
          parseFloat(this.leastRecentValue)) /
          parseFloat(this.leastRecentValue)) *
        100
      );
    },
  },
  methods: {
    async setTimeseriesData() {
      this.loading = true;
      await this.$store.dispatch("stockHistory/refresh_single_symbol_data", {
        symbol: this.tickerSymbol,
        granularity: this.selectedGranularity,
      });
      this.timeseriesData = this.$store.getters[
        "stockHistory/reverse_chronological_timeseries__from_id_granularity"
      ]({
        id: this.tickerSymbol,
        granularity: this.selectedGranularity,
      });
      this.loading = false;
    },
  },
  watch: {
    tickerSymbol: {
      handler: "setTimeseriesData",
      immediate: true,
    },
  },
  created() {
    this.timelines = ["1D", "1W", "1M", "3M", "1Y", "ALL"];
    /*
     * Initially, only listen to time selection events from child components.
     * We may opt to reorganize this event structure to be more universal later on,
     * but for now components should only respond to time-selected events from a child
     * for a consistent and simple UX
     */
    this.$on("timeline-selected", (timeline) => {
      this.selectedTimeline = timeline;
      this.setTimeseriesData();
    });
  },
};
</script>
