<template>
<div class="mr-1 ml-1"> 
        <b-list-group flush v-for="bucket in buckets" :key="bucket.bucket_id">
            <BucketSearchResultItem :bucket="bucket" />
        </b-list-group>
</div>

</template>
 
<script>
import BucketSearchResultItem from "./BucketSearchResultItem.vue"
export default {
  components: {
      BucketSearchResultItem
  },
  props:  {
      buckets: {
        required: true,
        default: null
    },
  },
  data () {
    return {

    }
  },
}
</script>

<style>

</style>
