<template>
  <b-list-group-item href="#">
    <div class="text-left d-flex justify-content-between align-items-center">
      <strong>
        <div v-if="bucket.name.length < 28">{{ bucket.name }}</div>
        <div v-else>{{ bucket.name.substring(0, 28) + ".." }}</div>
      </strong>
      <div v-if="bucket.return !== null" class="text-right">
        {{ bucket.return }}%
      </div>

      <div v-else style="width: 20%" class="text-right">
        <b-skeleton width="100%" />
      </div>
    </div>
    <div class="text-left">
      <small v-if="currentAccountId == bucket.user_id">Me</small>
      <small v-else>{{ bucket.owner }}</small>
    </div>
    <div class="text-left">
      <b-badge>
        {{ bucket.bucket_type }}
      </b-badge>
    </div>
  </b-list-group-item>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
const { mapState } = createNamespacedHelpers("accounts/userAccount");
export default {
  props: {
    bucket: {
      required: true,
      // default: null
    },
  },
  computed: {
    ...mapState({
      currentAccountId: (state) => state.account.id,
    }),
  },
  data() {
    return {};
  },
};
</script>

<style>
</style>
