<template>
  <div class="d-flex justify-content-center" style="width: 100%">
    <slide-up-down
      :active="active"
      class="search-panel"
      @open-start="emitClear()"
      @close-end="emitClear()"
      :duration="300"
      v-click-outside="emitClose"
    >
      <b-col>
        <b-card class="results-panel">
          <b-row>
            <b-col cols="6" class="text-center"
              ><h4>
                <font-awesome-icon icon="money-check-alt" /> Stocks
              </h4></b-col
            >
            <b-col cols="6" class="text-center"
              ><h4><font-awesome-icon icon="users" /> Groups</h4></b-col
            >
          </b-row>
          <b-row no-gutters>
            <b-col cols="6" class="text-center results-panel-body-column">
              <div v-if="stocks.results.length < 1">
                <i>No stocks found</i>
              </div>
              <b-spinner v-if="stocks.loading" variant="primary"></b-spinner>
              <StockSearchResultList :stocks="stocks.results" />
            </b-col>
            <b-col cols="6" class="text-center pl-2 results-panel-body-column">
              <div v-if="groups.results.length < 1">
                <i>No groups found</i>
              </div>
              <b-spinner v-if="groups.loading" variant="primary"></b-spinner>
              <GroupSearchResultList :groups="groups.results" />
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </slide-up-down>
  </div>
</template>

<script>
import GroupSearchResultList from "@/components/navbar/globalsearch/GroupSearchResultList.vue";
import StockSearchResultList from "@/components/navbar/globalsearch/StockSearchResultList.vue";

export default {
  name: "GlobalSearchDropdown",
  components: {
    GroupSearchResultList,
    StockSearchResultList,
  },
  props: {
    active: {
      type: Boolean,
      required: true,
    },
    stocks: {
      type: Object,
      results: {
        type: Array,
        required: true,
      },
      loading: {
        type: Boolean,
        required: true,
      },
      required: true,
    },
    groups: {
      type: Object,
      results: {
        type: Array,
        required: true,
      },
      loading: {
        type: Boolean,
        required: true,
      },
      required: true,
    },
  },
  computed: {
    currentRoutePath() {
      return this.$route.path;
    },
  },
  methods: {
    emitClear() {
      this.$emit("clear");
    },
    emitClose() {
      this.$emit("close");
    },
  },
  watch: {
    // Close the search panel when navigating to a new a page
    currentRoutePath: {
      handler: "emitClose",
    },
  },
};
</script>

<style>
</style>
