<template>
  <div class="global-search-bar">
    <b-nav-form @submit.prevent="debouncedSearch()">
      <b-form-input
        @input="debouncedSearch()"
        :ref="searchInputRef"
        :placeholder="placeholderText"
        class="search-bar mr-lg-2"
        v-model="searchQuery"
      ></b-form-input>
    </b-nav-form>
    <GlobalSearchDropdown
      @clear="clearResults"
      @close="closeDropdown"
      :active="activeSearch"
      :stocks="stocks"
      :groups="groups"
    />
  </div>
</template>

<script>
import { eventBus } from "@/main";
import { GLOBAL_EVENTS } from "@/constants/global-events.js";
import debounce from "lodash/debounce";
import numberToPixelStrMixin from "@/mixins/number-to-pixel-str-mixin.js";
import SearchService from "@/services/search/search.service.js";
import GlobalSearchDropdown from "@/components/navbar/globalsearch/GlobalSearchDropdown.vue";
export default {
  name: "GlobalSearchBar",
  components: { GlobalSearchDropdown },
  mixins: [numberToPixelStrMixin],
  props: {
    placeholderText: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      searchQuery: null,
      groups: {
        loading: false,
        results: [],
      },
      stocks: {
        loading: false,
        results: [],
      },
      activeSearch: false,
    };
  },
  methods: {
    closeDropdown() {
      this.activeSearch = false;
    },
    openDropdown() {
      this.activeSearch = true;
    },
    search() {
      this.clearResults();
      this.openDropdown();
      this.setLoadingTrue();
      this.executeStockSearch(this.searchQuery);
      this.executeGroupSearch(this.searchQuery);
    },
    clearResults() {
      this.groups.results = [];
      this.groups.loading = false;
      this.stocks.results = [];
      this.stocks.loading = false;
    },
    setLoadingTrue() {
      this.stocks.loading = true;
      this.groups.loading = true;
    },
    async executeStockSearch(stockQuery) {
      return new Promise((resolve, reject) => {
        SearchService.searchStocks(stockQuery)
          .then((results) => {
            const searchResultsData = results.data.data || [];
            this.stocks.results =
              this.cleanStockSearchResults(searchResultsData);
            this.stocks.loading = false;
            resolve();
          })
          .catch((error) => reject(error));
      });
    },
    cleanStockSearchResults(results) {
      /*
          As an optimization of our twelvedata API calls, we currently only
          make (timeseries) queries against United States exchanges. While
          that is the case, only permit search results for the United States.
          Otherwise this will result in stock detail pages that can't render
          or render data for the wrong stock.
        */
      return results.filter((result) => result["country"] == "United States");
    },
    async executeGroupSearch(groupQuery) {
      return new Promise((resolve, reject) => {
        SearchService.searchGroups(groupQuery)
          .then((results) => {
            const searchResultsData = results.data || [];
            this.groups.results = this.cleanGroupSearchResults(
              searchResultsData.results
            );
            this.groups.loading = false;
            resolve();
          })
          .catch((error) => reject(error));
      });
    },
    cleanGroupSearchResults(results) {
      // Sometimes the search results inexplicably render duplicates. Filter out duplicate results
      const groupIds = [];
      return results.filter((result) => {
        if (!groupIds.includes(result.id)) {
          groupIds.push(result.id);
          return true;
        }
        return false;
      });
    },
  },
  created() {
    this.debouncedSearch = debounce(this.search, 1500);
    this.searchInputRef = "searchInput";
    eventBus.$on(GLOBAL_EVENTS.SET_FOCUS_ON_SEARCH, () => {
      this.$refs[`${this.searchInputRef}`].focus();
    });
  },
};
</script>

<style>
</style>