<template>
  <div class="mx-1">
    <b-list-group flush v-for="group of groups" :key="group.id">
      <GroupSearchResultItem :group="group" />
    </b-list-group>
  </div>
</template> 

<script>
import GroupSearchResultItem from "@/components/navbar/globalsearch/GroupSearchResultItem.vue";
export default {
  name: "GroupSearchResultList",
  components: {
    GroupSearchResultItem,
  },
  props: {
    groups: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style>
</style>
