<template>
  <b-list-group-item class="search-result-item" @click="routeToGroupPage()">
    <!-- TODO [https://app.clickup.com/t/1tf1w2c]: Replace with the groupthumbnail -->
    <div class="text-left d-flex justify-content-between align-items-center">
      <strong>
        <div>{{ group.name }}</div>
      </strong>
    </div>

    <div class="text-left">
      <small>
        <div>
          Members
          <badge type="primary" pill>
            {{ group.members.length }}
          </badge>
        </div>
      </small>
    </div>
  </b-list-group-item>
</template>

<script>
export default {
  name: "GroupSearchResultItem",
  props: {
    group: {
      type: Object,
      required: true,
    },
  },
  methods: {
    routeToGroupPage() {
      this.$router.push({ path: `/group/${this.group.id}` });
    },
  },
};
</script>

<style>
</style>
