<template>
  <div class="mx-1">
    <b-list-group flush v-for="stock of stocks" :key="stock.symbol">
      <StockSearchResultItem :stock="stock" />
    </b-list-group>
  </div>
</template>
 
<script>
import StockSearchResultItem from "./StockSearchResultItem.vue";

export default {
  name: "StockSearchResultList",
  components: {
    StockSearchResultItem,
  },
  props: {
    stocks: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style>
</style>