<template>
  <b-list-group-item class="search-result-item" @click="routeToStockPage()">
    <!-- TODO [https://app.clickup.com/t/1tf1zu1]: Replace with the stockthumbnail -->
    <div class="text-left d-flex justify-content-between align-items-center">
      <strong>
        <div>{{ stock.symbol }}</div>
      </strong>

      <div v-if="price !== null" class="text-right">
        {{ price | currencyFormat }}
      </div>

      <!-- TODO [https://app.clickup.com/t/1yrhe6g]: Add api calls to fetch
           current price of search results
      -->
      <!-- <div v-else style="width: 20%" class="text-right">
        <b-skeleton width="100%" /> 
      </div> -->
    </div>
    <div class="text-left">
      <small>
        <div v-if="stock.instrument_name.length < 20">
          {{ stock.instrument_name }}
        </div>
        <div
          v-b-tooltip.hover.v-secondary.bottom
          :title="stock.instrument_name"
          v-else
        >
          {{ stock.instrument_name.substring(0, 20).trim() + "..." }}
        </div>
      </small>
    </div>
  </b-list-group-item>
</template>

<script>
import { GRANULARITIES } from "@/constants/twelvedata-constants.js";
export default {
  name: "StockSearchResultList",
  props: {
    stock: {
      type: Object,
      required: true,
    },
  },
  computed: {
    price() {
      const mostRecentDatapoint =
        this.$store.getters[
          "stockHistory/reverse_chronological_timeseries__from_id_granularity"
        ]({
          id: this.stock.symbol,
          granularity: GRANULARITIES.FIVE_MIN,
        })[0 /* The most recent datapoint */] || [];
      return mostRecentDatapoint[1 /* The value at that datapoint */] || null;
    },
  },
  methods: {
    routeToStockPage() {
      this.$router.push({ path: `/stock/${this.stock.symbol}` });
    },
  },
};
</script>

<style>
</style>
