<template>
<div class="mr-1 ml-1"> 
        <b-list-group flush v-for="profile in profiles" :key="profile.profile_id">
            <UserSearchResultItem :profile="profile" />
        </b-list-group>
</div>

</template> 

<script>
import UserSearchResultItem from "./UserSearchResultItem.vue"
export default {
  components: {
      UserSearchResultItem
  },
  props:  {
      profiles: {
        required: true,
        default: null
    },
  },
  data () {
    return {

    }
  },
}
</script>

<style>

</style>
