<template>
   <b-list-group-item href="#" 
    >
        <div class="text-left d-flex justify-content-between align-items-center">
            <strong>
            <div>{{ profile.first_name }} </div>
            <div >{{ profile.last_name }}</div>
            </strong>
        <div v-if="profile.return!==null" class="text-right">
            {{ profile.return }}%
        </div>
        <div v-else style="width:20%;" class="text-right">
            <b-skeleton width="100%"/>
        </div>
 
        </div>
        
        <div class="text-center">
        <b-row>
                <b-col sm=6>
                    <small>
                        Followers<br>
                    </small>
                    <b-badge pill>
                        {{ profile.followers_count }}
                    </b-badge>  
                </b-col>
                <b-col sm=6>
                    <small>
                        Echos<br>
                    </small>
                    <b-badge pill>
                        {{ profile.echos_count }}
                    </b-badge>  
                </b-col>



        </b-row>
        </div>

    </b-list-group-item >
</template>

<script>
export default {

  props:  {
      profile: {
        required: true,
        // default: null
    },
  },
  data () {
    return {
      
    }
  },
}
</script>

<style>

</style>
