<template>
  <base-input
    :label="label"
    :required="required"
    :error="selectedPortfolio.error"
  >
    <b-form-select
      :disabled="disabled"
      v-add-input-validation-class="selectedPortfolio.state"
      v-model="selectedPortfolio.value"
      @change="change"
      :options="portfolioOptions"
    >
      <template #first>
        <b-form-select-option :value="null" disabled>
          -- Please select a portfolio --
        </b-form-select-option>
      </template>
    </b-form-select>
  </base-input>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "PortfolioSelect",
  props: {
    label: {
      // The label for the input
      type: String,
      default: "Portfolio",
    },
    required: {
      // Whether or not this input is required
      type: Boolean,
      default: true,
    },
    selectedPortfolio: {
      /*
       * Required fields {key: valueType}:
       *     value: Object - The portfolio object
       *     state: Boolean - The validation state of the current portfolio input
       *     error: String - The error message set when state == false. Else null
       */
      type: Object,
      required: true,
      validator: function (selectedPortfolio) {
        // Check that all expected fields are present and of the correct Type
        let isValid = true;
        if (
          selectedPortfolio.value != null &&
          !(typeof selectedPortfolio.value === "string")
        ) {
          isValid = false;
        } else if (
          selectedPortfolio.state != null &&
          !(typeof selectedPortfolio.state === "boolean")
        ) {
          isValid = false;
        } else if (
          selectedPortfolio.error != null &&
          !(typeof selectedPortfolio.error === "string")
        ) {
          isValid = false;
        }
        return isValid;
      },
    },
    disabled: {
      // Whether the input should be disabled or not
      type: Boolean,
      default: false,
    },
  },
  computed: {
    ...mapGetters({
      portfolios: "portfolios/userPortfolios",
    }),
    portfolioOptions() {
      const options = [];
      for (const portfolioId in this.portfolios) {
        options.push({
          value: portfolioId,
          text: this.portfolios[portfolioId].name,
        });
      }
      return options;
    },
  },
  methods: {
    change() {
      this.$emit("change");
    },
  },
};
</script>

<style>
</style>