<template>
  <div>
    <b-navbar class="main-navbar">
      <b-navbar-brand @mouseover="logoHover()">
        <router-link :to="{ name: 'home' }">
          <img
            :src="require('../../assets/logos/echo_new_logo.png')"
            width="40px"
          />
        </router-link>
      </b-navbar-brand>

      <b-navbar-nav v-if="isDataReady"
        class="ml-auto d-flex justify-content-center align-items-center"
        right
      >
        <template v-if="!loggedIn">
          <b-nav-form>
            <router-link to="/login"
              ><b-button
                class="mr-2 pr-4 pl-4"
                size="sm"
                variant="outline-primary"
                type="submit"
              >
                Log in
              </b-button></router-link
            >
            <router-link to="/signup">
              <b-button
                class="pr-3 pl-3"
                size="sm"
                variant="primary"
                type="submit"
              >
                Sign up
              </b-button>
            </router-link>
          </b-nav-form>
        </template>
        <template v-else>
          <b-nav-item-dropdown right no-caret>
            <!-- Using 'button-content' slot -->
            <template v-slot:button-content>
              <b-avatar
                variant="dark"
                :size="34"
                class="dropdown align-baseline"
                :text="userInitials"
              ></b-avatar>
            </template>
            <b-dropdown-form class="dropdown">
              <b-dropdown-group>
                <div class="d-flex">
                  <b-avatar
                    variant="dark"
                    :size="34"
                    class="dropdown align-baseline mr-3"
                    :text="userInitials"
                  ></b-avatar>
                  <div>
                    <div class="dropdown__login">{{ userShortName }}</div>
                    <div class="dropdown__email">{{ userEmail }}</div>
                  </div>
                </div>
              </b-dropdown-group>

              <b-dropdown-divider></b-dropdown-divider>

              <div class="d-flex align-items-center">
                <div
                  style="width: 1.5rem"
                  class="d-flex justify-content-center"
                >
                  <font-awesome-icon icon="users" />
                </div>
                <b-dropdown-item>Manage account</b-dropdown-item>
              </div>

              <div class="d-flex align-items-center">
                <div
                  style="width: 1.5rem"
                  class="d-flex justify-content-center"
                >
                  <font-awesome-icon icon="user-cog" />
                </div>
                <b-dropdown-item>Manage profile</b-dropdown-item>
              </div>

              <b-dropdown-divider></b-dropdown-divider>

              <div class="d-flex align-items-center">
                <div
                  style="width: 1.5rem"
                  class="d-flex justify-content-center"
                >
                  <font-awesome-icon icon="user" />
                </div>
                <b-dropdown-item>
                  <router-link :to="{ name: 'profile', params: { userId: userId } }"> View profile </router-link>
                </b-dropdown-item>
              </div>

              <div class="d-flex align-items-center">
                <div
                  style="width: 1.5rem"
                  class="d-flex justify-content-center"
                >
                  <font-awesome-icon icon="cog" />
                </div>
                <b-dropdown-item>Settings</b-dropdown-item>
              </div>

              <div class="d-flex align-items-center">
                <div
                  style="width: 1.5rem"
                  class="d-flex justify-content-center"
                >
                  <font-awesome-icon icon="sign-out-alt" />
                </div>
                <b-dropdown-item href @click.prevent="logOut"
                  >Sign out</b-dropdown-item
                >
              </div>
            </b-dropdown-form>
          </b-nav-item-dropdown>
        </template>
      </b-navbar-nav>
    </b-navbar>

    <AccountInfoModal ref="aim" />
  </div>
</template>

<script>
import AccountInfoModal from "@/components/account/modals/AccountInfoModal.vue";

export default {
  name: "NavbarComponent",
  components: {
    AccountInfoModal,
  },
  computed: {
    isDataReady() {
      return this.userId;
    },
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
    userId() {
      return this.$store.getters["accounts/userAccount"].id;
    },
    userShortName() {
      return this.$store.getters["accounts/userAccount"].short_name;
    },
    userInitials() {
      return this.userShortName
        ?.split(" ")
        .map((word) => word[0].toUpperCase())
        .join("");
    },
    userEmail() {
      return this.$store.getters["accounts/userAccount"].email;
    },
  },
  methods: {
    logOut() {
      this.$store.dispatch("auth/logout");
      this.$router.push("/registration");
    },
    logoHover() {
      this.$store.dispatch("show__sidebar");
    },
    openAccountInfo() {
      this.$refs.aim.open();
    },
  },
  mounted() {
    this.publicPath = process.env.BASE_URL;
  },
};
</script>

<style scoped lang="scss">
.main-navbar {
  height: 40px;
  background: $white;

  .dropdown {
    font-weight: bold;

    &__email {
      font-size: $font-size-xs;
      font-weight: normal;
    }

    &__login {
      font-weight: bold;
      font-size: $font-size-sm;
    }

    &__group {
      display: flex;
      align-items: center;
      column-gap: 10px;
    }

    .router-link-exact-active {
      color: $black;
    }
  }
}

.navbar-brand:hover {
  color: #ff7900;
}
</style>
