<template>
  <base-modal-form
    :processing="processing"
    :name="modalName"
    :id="modalId"
    :isFormValid="validForm"
    :header="header"
    :headerTooltip="headerTooltip"
    :submitButtonName="submitButtonName"
    @close="close()"
    @submit="handleSubmit()"
  >
    <template slot="form">
      <base-input
        :valid="name.state"
        :required="true"
        label="Group Name"
        :error="name.error"
        v-model="name.value"
        @input="validateName"
        placeholder="Sure helps if the name is funny. No pressure."
      />
      <base-input
        :valid="description.state"
        :required="true"
        label="Description"
        :error="description.error"
      >
        <b-form-textarea
          v-add-input-validation-class="description.state"
          v-model="description.value"
          placeholder="Set the tone. Sum up the goals of the group. Provide the meaning of life, the universe, and everything."
          size="sm"
          rows="5"
          @input="validateDescription"
        />
      </base-input>
      <base-input label="Privacy" :locked="!isPublic.editable">
        <div>
          <b-row align-v="center">
            <b-col cols="4">
              <base-switch
                :disabled="!isPublic.editable"
                v-model="isPublic.value"
                class="ml-2 d-inline"
                :style="`position: relative; top: 8px`"
                on-text=""
                off-text=""
              ></base-switch>
              <template v-if="isPublic.value">
                <b-badge class="ml-2" variant="primary">Public</b-badge>
                <info-tooltip
                  :description="publicGroupTooltip.description"
                  identifier="public-badge"
                  placement="right"
                />
              </template>
              <template v-else>
                <b-badge class="ml-2" variant="secondary">Private</b-badge>
                <info-tooltip
                  :description="privateGroupTooltip.description"
                  identifier="private-badge"
                  placement="right"
                />
              </template>
            </b-col>
            <b-col>
              <small class="d-inline form-text text-muted">
                Groups can be either <b>Public</b> or <b>Private</b>.
                <b>Public</b> groups can be joined at anytime by anyone. To join
                a <b>Private</b> group, users must request access or be invited.
              </small>
            </b-col>
          </b-row>
        </div>
      </base-input>
      <!-- Portfolio selection. Alternatively, a new portfolio can be linked and selected -->
      <!-- Only relevant when creating the group -->
      <b-row v-if="creating">
        <b-col cols="6">
          <PortfolioSelect
            label="Select a Portfolio"
            :selectedPortfolio="selectedPortfolio"
            @change="validatePortfolio"
          />
        </b-col>
        <b-col class="ml-1" cols="1.5">
          <h4 :style="`position: relative; top: 50px`">OR</h4>
        </b-col>
        <b-col class="ml-2">
          <base-input label="Link a New Portfolio" :required="true">
            <BrokerageAccountLinkButton
              leftBorder
              rightBorder
              rounded
              buttonType="primary"
              borderType="primary"
            />
          </base-input>
        </b-col>
      </b-row>
    </template>
  </base-modal-form>
</template>

<script>
import toastNotificationsMixin from "@/mixins/toast-notifications-mixin";
import modalFormOpenCloseSubmitMixin from "@/mixins/modal-form-open-close-submit-mixin.js";
import whatIsAGroupTooltip from "@/components/group/tooltips/what-is-a-group.js";
import privateGroupTooltip from "@/components/group/tooltips/private-group.js";
import publicGroupTooltip from "@/components/group/tooltips/public-to-join-group.js";
import PortfolioSelect from "@/components/buckets/forms/inputs/PortfolioSelect.vue";
import BrokerageAccountLinkButton from "@/components/buckets/link/BrokerageAccountLinkButton.vue";

export default {
  name: "CreateGroupModal",
  mixins: [toastNotificationsMixin, modalFormOpenCloseSubmitMixin],
  components: { PortfolioSelect, BrokerageAccountLinkButton },
  computed: {
    validForm() {
      return this.name.state &&
        this.description.state &&
        this.selectedPortfolio.state
        ? true
        : false;
    },
    header() {
      return this.creating ? "Create a New Group" : "Edit Group Info";
    },
    submitButtonName() {
      return this.creating ? "Create" : "Update";
    },
  },
  data() {
    return {
      processing: false,
      creating: true,

      // Input Fields
      name: {
        value: "",
        state: null,
        error: null,
      },
      description: {
        value: "",
        state: null,
        error: null,
      },
      isPublic: {
        value: true,
        editable: true,
      },
      selectedPortfolio: {
        value: null, // The portfolio.id
        state: null,
        error: null,
      },
    };
  },
  methods: {
    validatePortfolio() {
      /*
       * TODO [https://app.clickup.com/t/1nwh0vd]: Make sure the portfolio meets
       * the requirements of the group
       */
      if (this.selectedPortfolio.value == null) {
        this.selectedPortfolio.state = false;
        this.selectedPortfolio.error =
          "We know you're eager to create this group, but you must select a portfolio to join with!";
      } else {
        this.selectedPortfolio.state = true;
        this.selectedPortfolio.error = null;
      }
    },
    validateName() {
      if (this.name.value.length > 30) {
        this.name.state = false;
        this.name.error = "Good thinking, but that name is too long!";
      } else if (this.name.value.length == 0) {
        this.name.state = false;
        this.name.error = "Whoops, you forgot to give your new group a name!";
      } else {
        this.name.error = null;
        this.name.state = true;
      }
    },
    validateDescription() {
      if (this.description.value.length > 4000) {
        this.description.state = false;
        this.description.error =
          "Whoa this must be quite the group! We love all the detail here, but we can only store so much. Would you mind you shortening it a bit?";
      } else if (this.description.value.length == 0) {
        this.description.state = false;
        this.description.error =
          "Tell us a bit about your new group. You can come back to edit this at any time.";
      } else {
        this.description.error = null;
        this.description.state = true;
      }
    },
    async create() {
      this.processing = true;
      if (this.validForm) {
        try {
          const creationParams = {
            name: this.name.value,
            description: this.description.value,
            /*
             * TODO [https://app.clickup.com/t/1nwgf35]: Expand privacy options once Invite Only and
             * Visible privacy enabled
             */
            privacy: this.isPublic.value ? "N" : "P",
            portfolioId: this.selectedPortfolio.value,
          };
          const newGroupId = await this.$store.dispatch(
            "groups/create__group",
            creationParams
          );
          const successMsg =
            "Congrats on creating your new group: " + this.name.value + "!";
          this.makeToastNotification(successMsg, "Success");
          this.$router.push({ path: `/group/${newGroupId}` });
          this.close();
        } catch (error) {
          const errorMsg =
            'We ran into an issue creating your new group: "' +
            this.name.value +
            '"';
          this.makeToastNotification(errorMsg, "Whoops!");
          console.log(error);
        }
      }
      this.processing = false;
    },
    async edit() {
      this.processing = true;
      if (this.validForm) {
        try {
          const updateParams = {
            groupId: this.groupId,
            name: this.name.value,
            description: this.description.value,
          };
          await this.$store.dispatch("groups/edit__group", updateParams);
          const successMsg =
            "Success! You edited the settings for your group, " +
            this.name.value +
            ".";
          this.makeToastNotification(successMsg, "Success");
          this.close();
        } catch (error) {
          const errorMsg =
            'We ran into an issue editting your group: "' +
            this.name.value +
            '"';
          this.makeToastNotification(errorMsg, "Whoops!");
          console.log(error);
        }
      }
      this.processing = false;
    },
    async reset() {
      this.name.value = "";
      this.name.state = null;
      this.name.error = null;
      this.description.value = "";
      this.description.state = null;
      this.description.error = null;
      this.selectedPortfolio.value = null;
      this.selectedPortfolio.state = null;
      this.selectedPortfolio.error = null;
      this.isPublic.value = false;
      this.isPublic.editable = true;
      this.processing = false;
    },
    load() {
      if (!this.creating) {
        // Set the existing values of the group when editting the form
        this.group = this.$store.state.groups.userGroups[this.groupId];
        this.isPublic.value =
          this.group.privacy == "P" || this.group.privacy == "I" ? false : true;
        this.isPublic.editable = false;
        this.name.value = this.group.name;
        this.name.error = null;
        this.name.state = true;
        this.description.value = this.group.description;
        this.description.error = null;
        this.description.state = true;
        this.selectedPortfolio.value = this.$store.getters[
          "groups/userPortfolioId__from_groupId"
        ](this.groupId);
        this.selectedPortfolio.error = null;
        this.selectedPortfolio.state = true;
      } else {
        this.reset();
      }
    },
    async handleSubmit() {
      this.processing = true;
      if (this.creating) {
        await this.create();
      } else {
        await this.edit();
      }
      this.close();
    },
    openWith(groupId) {
      this.groupId = groupId;
      this.creating = false;
      this.open();
    },
  },
  created() {
    this.modalName = "create-group-form";
    this.modalId = "cgf";
    this.headerTooltip = whatIsAGroupTooltip;
    this.privateGroupTooltip = privateGroupTooltip;
    this.publicGroupTooltip = publicGroupTooltip;
  },
};
</script>
