<template>
  <BaseInviteModal
    :modalName="modalName"
    :modalId="modalId"
    :parentProcessing="processing"
    :includeExistingUsers="true"
    :pendingInvites="pendingInvites"
    :subject="subject"
    :inviteLink="inviteLink"
    @delete-invite="handleDeleteInvite"
    @send-invite="handleSendInvite"
  />
</template>

<script>
import BaseInviteModal from "@/components/base/modals/BaseInviteModal.vue";
import InvitesService from "@/services/invites.service.js";

export default {
  name: "InviteToGroupModal",
  components: { BaseInviteModal },
  computed: {
    pendingInvites() {
      const entries = Object.entries(this.invites);
      if (entries.length > 0) {
        return Object.fromEntries(
          entries.filter(([, invite]) => invite.status == "P")
        );
      }
      return {};
    },
  },
  data() {
    return {
      invites: {},
      subject: {
        type: "",
        name: "",
      },
      processing: false,
    };
  },
  methods: {
    async setInviteLink() {
      const response = await InvitesService.getGroupReferralLink(this.groupId);
      // Should be static and unique to the user + group
      this.inviteLink = response.data["referral_link"];
    },
    updateInvites() {
      /*
       * The nested nature of the group invite state structure makes reactivity
       * complex. Force reactivity by updating the local component state when
       * module state is updated.
       */
      this.invites = Object.assign(
        {},
        this.invites,
        this.$store.state.groupInvites.invites[this.groupId]
      );
    },
    async load() {
      this.processing = true;
      await this.$store.dispatch("groupInvites/load__invites", this.groupId);
      this.updateInvites();
      const groupName = this.$store.state.groups.userGroups[this.groupId].name;
      this.subject = {
        type: "Group",
        name: groupName,
      };
      this.processing = false;
    },
    async handleDeleteInvite(id) {
      // Remove the invite based on it's id
      this.processing = true;
      await this.$store.dispatch("groupInvites/delete__invite", id);
      this.updateInvites();
      this.processing = false;
    },
    async handleSendInvite(recipientEmail) {
      this.processing = true;
      await this.$store.dispatch("groupInvites/create__invite", {
        recipientEmail: recipientEmail,
        groupId: this.groupId,
      });
      this.updateInvites();
      this.processing = false;
    },
    open() {
      this.load().then(() => this.$modal.show(this.modalName));
    },
    openWith(groupId) {
      this.groupId = groupId;
      this.setInviteLink().then(() => this.open());
    },
  },
  created() {
    // Private Fields
    this.modalName = "invite-to-group-modal";
    this.modalId = "itgm";
    // Initialize on creation to silence creation errors
    this.inviteLink = "";
  },
};
</script>

<style>
</style>