<template>
  <base-modal-form
    :processing="processing"
    :name="modalName"
    :id="modalId"
    :isFormValid="validForm"
    :header="header"
    :headerTooltip="headerTooltip"
    submitButtonName="Join"
    @close="close()"
    @submit="handleSubmit()"
  >
    <template slot="form">
      <!-- TODO: [https://app.clickup.com/t/1p25fgy] Replace with a more intelligent group finding design -->
      <!-- <base-input v-if="group == null" label="Group" :required="true">
        <b-form-select
          v-model="selectedGroup.value"
          :options="groupOptions"
          @input="validateGroup"
          v-add-input-validation-class="selectedGroup.state"
        >
          <template #first>
            <b-form-select-option :value="null" disabled>
              -- Please select a group --
            </b-form-select-option>
          </template>
        </b-form-select>
      </base-input> -->

      <!--
        TODO [https://app.clickup.com/t/1nwh0vd]: Enable once group requirements
        are implemented on BE
      -->
      <!-- <base-input label="Requirements">
        <div>
          <template v-for="(requirement, index) in requirements">
            <badge
              :key="index"
              type="secondary"
              :rounded="true"
              size="md"
              class="mr-1"
            >
              {{ requirement }}
            </badge>
          </template>
        </div>
      </base-input>

      <base-input
        label="Show Dollar Amounts"
        :locked="!dollarAmounts.editable"
        :lockedTooltipText="lockedTooltipText"
      >
        <base-switch
          type="primary"
          :disabled="!dollarAmounts.editable"
          v-model="dollarAmounts.value"
          class="m-0"
          on-text="Yes"
          off-text="No"
          :displayTextAppended="true"
        />
        <div
          slot="helpBlock"
          class="text-warning invalid-feedback"
          style="display: block"
          v-if="dollarAmounts.value"
        >
          Selecting "Yes" means other members of this group can see the amount
          of money in your portfolio
        </div>
      </base-input>

      <base-input
        label="Trades in Activity Feed"
        :locked="!tradeActivity.editable"
        :lockedTooltipText="lockedTooltipText"
      >
        <base-switch
          type="primary"
          :disabled="!tradeActivity.editable"
          v-model="tradeActivity.value"
          class="m-0"
          on-text="Yes"
          off-text="No"
          :displayTextAppended="true"
        />
        <div
          slot="helpBlock"
          class="text-warning invalid-feedback"
          style="display: block"
          v-if="tradeActivity.value"
        >
          Selecting "Yes" means other members of this group can see details
          about trades made in your portfolio
        </div>
      </base-input> -->
      <PortfolioSelect
        :selectedPortfolio="selectedPortfolio"
        @change="validatePortfolio"
        :disabled="selectedGroup == null"
      />
    </template>
  </base-modal-form>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
import toastNotificationsMixin from "@/mixins/toast-notifications-mixin";
import modalFormOpenCloseSubmitMixin from "@/mixins/modal-form-open-close-submit-mixin.js";
import whatIsAGroupTooltip from "@/components/group/tooltips/what-is-a-group.js";
import PortfolioSelect from "@/components/buckets/forms/inputs/PortfolioSelect.vue";
const { mapState } = createNamespacedHelpers("portfolios/userPortfolios");
export default {
  name: "JoinGroupModal",
  mixins: [modalFormOpenCloseSubmitMixin, toastNotificationsMixin],
  components: { PortfolioSelect },
  data() {
    return {
      processing: false,
      /*
       * TODO [https://app.clickup.com/t/1nwh0vd]: Enable once group requirements
       * are implemented on BE
       */
      // requirements: ["Min $10,000", "1 Portfolio Max"],
      // Input Fields
      /*
       * TODO [https://app.clickup.com/t/1p7z83r] Enable users to determine whether
       * or not to show trades and dollar values in the group, depending on the
       * restrictions of the group.
       */
      // dollarAmounts: {
      //   value: false,
      //   editable: false, // Determined by the group
      // },
      // tradeActivity: {
      //   value: true,
      //   editable: false, // Determined by the group
      // },
      selectedPortfolio: {
        value: null, // The portfolio.id
        state: null,
        error: null,
      },
      selectedGroup: {
        value: null, // The group.id
        state: null,
        error: null,
      },
    };
  },
  computed: {
    validForm() {
      return this.selectedPortfolio.state && this.selectedGroup.state
        ? true
        : false;
    },
    /*
     * TODO [https://app.clickup.com/t/1p7z83r] Enable users to determine whether
     * or not to show trades and dollar values in the group, depending on the
     * restrictions of the group.
     */
    // dollarAmountsTextToggle() {
    //   return this.dollarAmounts.value ? "Yes" : "No";
    // },
    // tradeActivityTextToggle() {
    //   return this.tradeActivity.value ? "Yes" : "No";
    // },
    ...mapState({
      portfolios: (state) => state.portfolios,
    }),
  },
  methods: {
    isPortfolioInGroup(portfolioId, group) {
      return group.members
        .map((member) => member.portfolio_id)
        .includes(portfolioId);
    },
    validatePortfolio() {
      /*
       * 1. Make sure a non-null portfolio is selected
       * 2. Make sure a group has been selected before validating the portfolio
       * 3. Make sure the portfolio does not already belong to the group
       * TODO [https://app.clickup.com/t/1nwh0vd]:
       * 4. Make sure the portfolio meets the requirements of the group
       */
      if (this.selectedPortfolio.value == null) {
        this.selectedPortfolio.state = false;
        this.selectedPortfolio.error =
          "We know you're eager to become a member this group, but you must select a portfolio to join with";
      } else if (this.selectedGroup == null) {
        this.selectedPortfolio.state = false;
        this.selectedPortfolio.error =
          "You must select a group before selecting a Portfolio.";
      } else if (
        this.isPortfolioInGroup(this.selectedPortfolio.value, this.group)
      ) {
        this.selectedPortfolio.state = false;
        this.selectedPortfolio.error =
          "You have already joined the group with this portfolio";
      } else {
        this.selectedPortfolio.state = true;
        this.selectedPortfolio.error = null;
      }
    },
    validateGroup() {
      if (this.selectedGroup.value == null) {
        this.selectedGroup.state = false;
        this.selectedGroup.error =
          "We know you're eager to be part of something big, but you must select a group to join";
      }
      this.selectedGroup.state = true;
      this.selectedGroup.error = null;
    },
    load() {
      /*
       * This form needs to do several things on load
       * 1. Determine if a portfolio, group, or both need to be selected
       * 2. TODO: [https://app.clickup.com/t/1p25fgy]: Load group options from the store
       * 3. TODO [https://app.clickup.com/t/1nwh0vd]: Determine the dependent properties
       */
      this.reset();
      this.selectedPortfolio.value = this.portfolioId;
      if (this.selectedPortfolio.value) {
        this.validatePortfolio();
      }
      this.selectedGroup.value = this.groupId;
      if (this.selectedGroup.value) {
        this.validateGroup();
      }
    },
    openWith(portfolioId, groupId) {
      if (portfolioId != null && this.portfolios[portfolioId] == false) {
        throw "It looks like this is not a portfolio you've created yet. Please try again with a different portfolio";
      }
      this.portfolioId = portfolioId;
      this.groupId = groupId;
      this.$store
        .dispatch("groups/get__group_by_id", { groupId })
        .then((response) => {
          this.group = response;
          this.header = `Join "${this.group.name}"`;
          this.open();
        });
    },
    reset() {
      this.processing = true;
      this.selectedPortfolio.value = null;
      this.selectedPortfolio.state = null;
      this.selectedPortfolio.error = null;
      this.selectedGroup.value = null;
      this.selectedGroup.state = null;
      this.selectedGroup.error = null;
      this.processing = false;
    },
    async handleSubmit() {
      this.processing = true;
      try {
        await this.$store.dispatch("groups/join__group", {
          groupId: this.selectedGroup.value,
          portfolioId: this.selectedPortfolio.value,
        });
        const successMsg =
          "Congrats on joining " + `"${this.group.name}"` + "!";
        this.makeToastNotification(successMsg, "Success");
        this.close();
      } catch (error) {
        const errorMsg =
          'There was an issue joining your "' + `"${this.group.name}".`;
        this.makeToastNotification(errorMsg, "Whoops!");
        console.log(error);
      }
      this.processing = false;
    },
  },
  created() {
    this.modalName = "join-group-form";
    this.modalId = "jgf";
    this.header = "Join a Group";
    this.headerTooltip = whatIsAGroupTooltip;
    this.lockedTooltipText =
      "This setting is locked by the group and cannot be altered.";
    // This field will be set on open if triggered from a GroupDetail page.
    // Should not be reactive or confused with the selectedGroup data
    this.group = null;
  },
};
</script>
<style scoped>
badge {
  font-size: 0.825rem;
}
</style>
