<template>
  <div class="group-post-list">
    <div class="list">
      <div class="list__tabs">
        <div v-for="tab in tabs" :key="tab.name">
          <button :class="{ 'active': tab.isActive }" @click="setOrder(tab)">{{ tab.name }}</button>
        </div>
      </div>
      <b-button variant="primary" @click="createPost">New post</b-button>
    </div>
    <div v-infinite-scroll="loadMore"
         infinite-scroll-disabled="busy"
         infinite-scroll-distance="50">
      <div v-if="isPostsReady">
        <PostList :posts="posts" type="group"/>
      </div>
    </div>
    <div v-if="busy && (nextPage < totalPages)" class="spinner d-flex justify-content-center">
      <div class="spinner-border"></div>
    </div>
  </div>
</template>

<script>
import {mapActions} from "vuex";
import PostList from '@/components/posts/PostList';

export default {
  name: "GroupPostList",
  components: {
    PostList
  },
  props: {
    groupId: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      tabs: [
        {
          name: 'Top',
          value: 'top',
          isActive: true
        },
        {
          name: 'New',
          value: 'new',
          isActive: false
        }
      ],
      busy: false,
    }
  },
  computed: {
    orderBy() {
      return this.$store.state.groupPosts.orderBy;
    },
    isPostsReady() {
      return this.$store.state.groupPosts.groupData[this.groupId] && this.$store.state.groupPosts.groupData[this.groupId][this.orderBy];
    },
    posts() {
      return this.$store.state.groupPosts.groupData[this.groupId][this.orderBy].posts;
    },
    nextPage() {
      return this.$store.state.groupPosts.groupData[this.groupId]?.[this.orderBy].nextPage;
    },
    totalPages() {
      return this.$store.state.groupPosts.groupData[this.groupId]?.totalPages;
    }
  },
  methods: {
    ...mapActions({
      loadGroupPosts: 'groupPosts/loadGroupPosts',
      getTotalPages: 'groupPosts/getTotalPages',
      setNextPage: 'groupPosts/setNextPage',
      setOrderBy: 'groupPosts/setOrderBy',
    }),
    async setOrder(selectedTab) {
      this.tabs.forEach(tab => {
        tab.isActive = (tab.name == selectedTab.name);
      });
      this.setOrderBy(selectedTab.value);
    },
    loadMore() {
      this.busy = true;
      setTimeout(async () => {
        if (this.nextPage <= this.totalPages) {
          const groupId = this.groupId;
          const nextPage = this.nextPage + 1;

          await this.loadGroupPosts(groupId);
          this.setNextPage({groupId, nextPage});
          this.busy = false;
        }
      }, 1000);
    },
    createPost() {
      this.$modal.show("modalCreatePost");
    },
  },
  async created() {
    this.busy = true;
    this.setOrderBy('top');
    await this.getTotalPages(this.groupId);
    this.busy = false;
  },
}
</script>

<style lang="scss" scoped>
.group-post-list {
  width: 60%;

  .list {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: $white;
    padding: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__tabs {
      display: flex;

      button {
        border: none;
        background: none;
        margin-right: 10px;

        &:hover,
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.active {
  color: $primary;
  font-weight: bold;
}
</style>