<template>
  <div class="post-card__container">
    <a v-if="post.pinned" class="pinned">
      <font-awesome-icon icon="thumbtack" />
      <span class="ml-2">
        <i>Pinned</i>
      </span>
    </a>
    <div class="post-card__header d-flex justify-content-between">
      <div>
        <GroupThumbnail
          v-if="post.group"
          :path="`${publicPath}`"
          :color="'#91BBDF'"
          :groupId="post.group"
          type="post"
        >
        </GroupThumbnail>
        <UserThumbnail
          v-if="hasPostAuthorAccountLoaded"
          class="ml-2"
          :path="`${publicPath}${postAuthorAccount.avatar_img}`"
          :shortName="postAuthorAccount.first_name"
          :fallback="postAuthorAccount.first_name[0]"
          :color="postAuthorAccount.avatar_bg_hex"
          type="post"
        ></UserThumbnail>
      </div>
      <span class="post-card__date"
        ><font-awesome-icon icon="clock" size="1x" />
        {{ post.created_at | humanizeDateTime }}
      </span>
    </div>
    <div class="post-card__content" @click="openPostDetail">
      <slot name="post-content">
        <div v-html="post.message"></div>
      </slot>
    </div>
    <div class="post-card__footer">
      <div>
        <a class="icons" @click="likePost()">
          <font-awesome-icon
            icon="heart"
            :class="{ active: isLikedByCurrentUser }"
          />
          <span class="text-muted"
            >{{ post.likes_count }} like<span v-if="post.likes_count != 1"
              >s</span
            ></span
          >
        </a>
        <a class="icons" @click="openPostDetail">
          <font-awesome-icon icon="comments" />
          <span class="text-muted"
            >{{ post.replies_count }} comment<span
              v-if="post.replies_count != 1"
              >s</span
            ></span
          >
        </a>
      </div>
      <el-dropdown trigger="click" class="dropdown">
        <button class="additionalActionsButton" outline>
          <!-- <i class="fas fa-ellipsis-v mt-2"></i> -->
          <div class="additional-actions-icon">
            <font-awesome-icon icon="ellipsis-h" size="lg" />
          </div>
        </button>

        <el-dropdown-menu
          class="dropdown-menu dropdown-menu-arrow show"
          slot="dropdown"
        >
          <b-dropdown-item @click="likePost()">
            <font-awesome-icon icon="thumbs-up" />
            Like
          </b-dropdown-item>
          <b-dropdown-item v-if="allowPinning" @click="pinPost()">
            <font-awesome-icon icon="thumbtack" />
            Pin
          </b-dropdown-item>
          <b-dropdown-item
            v-if="allowDeletion && currentUserId === post.author_id"
            @click="deletePost()"
          >
            <font-awesome-icon icon="trash-alt" />
            Delete
          </b-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <slot></slot>
  </div>
</template>

<script>
import GroupThumbnail from "@/components/group/GroupThumbnail";
import UserThumbnail from "@/components/user/UserThumbnail";

import {
  DropdownMenu,
  DropdownItem,
  Dropdown,
  Table,
  TableColumn,
} from "element-ui";
import { isEmpty } from "lodash";
import { eventBus } from "@/main";
import { GLOBAL_EVENTS } from "@/constants/global-events.js";
export default {
  name: "PostCard",
  components: {
    GroupThumbnail,
    UserThumbnail,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
  },
  props: {
    pinned: {
      type: Boolean,
      default: false,
    },
    isReply: {
      type: Boolean,
      default: false,
    },
    post: {
      type: Object,
      id: {
        type: String,
        required: false,
      },
      pinned: {
        type: Boolean,
        default: false,
      },
      group: {
        // The id of the group the post is in
        type: String,
        required: false,
      },
      created_at: {
        type: String,
        required: true,
      },
      message: {
        type: String,
        default: "",
      },
      likes: {
        type: Array,
        default: [],
      },
      likes_count: {
        type: Number,
        default: 0,
      },
      replies_count: {
        type: Number,
        default: 0,
      },
      author_id: {
        type: String,
        required: true,
      },
      required: true,
    },
    allowPinning: {
      // Indicates whether this type of post allows pinning. Ex: Replies and transaction
      // comments can not be pinned
      type: Boolean,
      default: true,
    },
    allowDeletion: {
      // Indicates whether this type of post is able to be deleted. Ex: Transactions
      // can not be deleted
      type: Boolean,
      default: true,
    },
    isChild: {
      // When true, emits events for key methods to the parent to enable custom
      // handling of particular actions
      type: Boolean,
      default: false,
    },
    detailModalType: {
      type: String,
      default: "group",
      validation: function (detailModalType) {
        const validTypes = ["group", "transaction"];
        return validTypes.includes(detailModalType);
      },
    },
  },
  data() {
    return {
      postAuthorAccount: {},
    };
  },
  computed: {
    hasPostAuthorAccountLoaded() {
      return !isEmpty(this.postAuthorAccount);
    },
    currentUserId() {
      return this.$store.getters["accounts/userAccount"].id;
    },
    isLikedByCurrentUser() {
      return this.post.likes.includes(this.currentUserId);
    },
  },
  methods: {
    openPostDetail() {
      switch (this.detailModalType) {
        case "group":
          eventBus.$emit(
            GLOBAL_EVENTS.SHOW_GROUP_POST_DETAIL_MODAL,
            this.post.id
          );
          break;
        case "transaction":
          // PostCard is not aware of the transactionId, so this must be handled
          // by the parent
          this.$emit("open-post-detail");
          break;
        default:
          throw `DetailModal component of type ${this.detailModalType} is not implemented.`;
      }
    },
    async likePost() {
      if (this.isChild) {
        this.$emit("like-post");
      } else {
        await this.$store.dispatch("groupPosts/likePost", {
          groupId: this.post.group,
          postId: this.post.id,
          isReply: false,
        });
      }
    },
    deletePost() {
      if (this.isChild) {
        this.$emit("delete-post");
      } else {
        return;
      }
    },
    pinPost() {
      if (this.isChild) {
        this.$emit("pin-post");
      } else {
        this.$store.dispatch("groupPosts/pinPost", {
          groupId: this.post.group,
          postId: this.post.id,
        });
      }
    },
    setPostAuthorAccount() {
      const authorId = this.post.author_id;
      this.$store
        .dispatch("accounts/get", authorId)
        .then((response) => (this.postAuthorAccount = response));
    },
  },
  watch: {
    "post.author_id": {
      handler: "setPostAuthorAccount",
      immediate: true,
    },
  },
  beforeCreate() {
    this.publicPath = process.env.BASE_URL;
  },
};
</script>

<style lang="scss" scoped>
.post-card {
  &__header {
    cursor: pointer;
  }
  &__container {
    margin-top: 10px;
    width: 100%;
    padding: 10px 16px 10px 16px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: $white;

    .pinned {
      font-size: $font-size-sm;
      line-height: $font-size-sm;
      color: $gray-600;
    }
  }

  &__date {
    display: inline-block;
    font-size: $font-size-sm;
    line-height: $font-size-sm;
  }

  &__content {
    padding: 12px 0;
    font-size: $font-size-sm;
    line-height: $font-size-sm;
    word-wrap: break-word;
    cursor: pointer;
  }

  &__footer {
    margin-top: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .icons {
      font-size: $font-size-sm;
      line-height: $font-size-sm;
      color: $gray-600;
      cursor: pointer;

      .text-muted {
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    .dropdown {
      .additionalActionsButton {
        border: none;
        background: none;
        color: $gray-600;

        &:hover,
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.active {
  color: red;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  border-top: 1px solid $gray-600;
}
</style>
