<template>
  <div class="reply-card">
    <div class="reply-card__header" v-if="postAuthorAccount.first_name">
      <UserThumbnail
        :path="`${publicPath}${postAuthorAccount.avatar_img}`"
        :shortName="postAuthorAccount.first_name"
        :fallback="postAuthorAccount.first_name[0]"
        :color="postAuthorAccount.avatar_bg_hex"
        type="post"
      ></UserThumbnail>
      <span class="date"
        ><font-awesome-icon icon="clock" size="1x" />
        {{ post.created_at | humanizeDateTime }}
      </span>
    </div>
    <div class="reply-card__content">
      <div v-html="post.message"></div>
    </div>
    <div class="reply-card__footer">
      <div>
        <a class="icons" @click="likePost()">
          <font-awesome-icon
            icon="heart"
            :class="{ active: isLikedByCurrentUser }"
          />
          <span class="text-muted"
            >{{ post.likes_count }} like<span v-if="post.likes_count != 1"
              >s</span
            ></span
          >
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import UserThumbnail from "@/components/user/UserThumbnail";
import { postDataService } from "@/services/post-data.service";

export default {
  name: "PostReplyCard",
  components: {
    UserThumbnail,
  },
  props: {
    post: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      postAuthorAccount: {
        avatar_img: null,
        first_name: "",
        avatar_bg_hex: "",
      },
    };
  },
  computed: {
    currentUserId() {
      return this.$store.getters["accounts/userAccount"].id;
    },
    isLikedByCurrentUser() {
      return this.post.likes.includes(this.currentUserId);
    },
  },
  methods: {
    async likePost() {
      if (this.post.transaction) {
        const response = await postDataService.likePost({
          postId: this.post.id,
        });
        this.$emit("liked-post", response.data);
      } else {
        this.$store.dispatch("groupPosts/likePost", {
          groupId: this.post.group,
          postId: this.post.id,
          isReply: true,
        });
      }
    },
    async setPostAuthorAccount() {
      const authorId = this.post.author_id;
      this.postAuthorAccount = await this.$store.dispatch(
        "accounts/get",
        authorId
      );
    },
  },
  watch: {
    "post.author_id": {
      handler: "setPostAuthorAccount",
      immediate: false,
    },
  },
  async created() {
    this.publicPath = process.env.BASE_URL;
    await this.setPostAuthorAccount();
  },
};
</script>

<style lang="scss" scoped>
.reply-card {
  padding: 6px 28px 6px 28px;
  border-top: 1px solid $gray-400;

  &__header {
    display: flex;
    justify-content: space-between;

    .date {
      display: inline-block;
      font-size: $font-size-sm;
      line-height: 16px;
    }
  }

  &__content {
    margin-left: 56px;
  }

  &__footer {
    .icons {
      font-size: $font-size-sm;
      line-height: 16px;
      color: #8d98a6;
      cursor: pointer;

      .text-muted {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}

.active {
  color: $red;
}
</style>
