<template>
  <div>
    <div v-if="posts">
      <div v-for="post in posts" :key="post.id" class="mt-3">
        <PostCard v-if="post.pinned" :key="post.id" :post="post" />
      </div>
    </div>

    <div v-for="post in posts" :key="post.id" class="mt-3">
      <PostCard v-if="!post.pinned" :key="post.id" :post="post" />
    </div>
  </div>
</template>
<script>
import PostCard from "@/components/posts/PostCard.vue";

export default {
  name: "PostList",
  components: {
    PostCard,
  },
  props: {
    posts: {
      type: Array,
      required: true,
    },
  },
};
</script>
<style lang="scss">
.post-list {
  width: 60%;
}

.posts__tabs {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: $white;
  width: 60%;
  padding: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    border: none;
    background: none;
    margin-right: 10px;

    &:hover,
    &:focus {
      outline: none;
    }
  }

  .btn-new-post {
    background: $primary;
    border-radius: 5px;
    padding: 8px 6px 6px 8px;
    color: white;
  }
}

.active {
  color: $primary;
  font-weight: bold;
}
</style>
