<template>
  <div class="public-post-list">
    <div class="list">
      <div class="list__tabs">
        <div v-for="tab in tabs" :key="tab.name">
          <button :class="{ 'active': tab.isActive }" @click="setOrder(tab)">{{ tab.name }}</button>
        </div>
      </div>
    </div>
    <div v-infinite-scroll="loadMore"
         infinite-scroll-disabled="busy"
         infinite-scroll-distance="50">
      <div v-if="isPostsReady">
        <PostList :posts="posts" type="public"/>
      </div>
    </div>
    <div v-if="busy && (nextPage < totalPages)" class="spinner d-flex justify-content-center">
      <div class="spinner-border"></div>
    </div>
  </div>
</template>

<script>
import {mapActions} from "vuex";
import PostList from "@/components/posts/PostList";

export default {
  name: "PublicPostList",
  components: {
    PostList
  },
  data() {
    return {
      tabs: [
        {
          name: 'Top',
          value: 'top',
          isActive: true
        },
        {
          name: 'New',
          value: 'new',
          isActive: false
        }
      ],
      busy: false,
    }
  },
  computed: {
    orderBy() {
      return this.$store.state.publicPosts.orderBy;
    },
    isPostsReady() {
      return this.$store.state.publicPosts.publicData[this.orderBy] && this.$store.state.publicPosts.publicData[this.orderBy].posts;
    },
    posts() {
      return this.$store.state.publicPosts.publicData[this.orderBy].posts;
    },
    nextPage() {
      return this.$store.state.publicPosts.publicData[this.orderBy]?.nextPage;
    },
    totalPages() {
      return this.$store.state.publicPosts.publicData?.totalPages;
    }
  },
  methods: {
    ...mapActions({
      getTotalPages: 'publicPosts/getTotalPages',
      loadPublicPosts: 'publicPosts/loadPublicPosts',
      setOrderBy: 'publicPosts/setOrderBy',
      setNextPage: 'publicPosts/setNextPage',
    }),
    async setOrder(selectedTab) {
      this.tabs.forEach(tab => {
        tab.isActive = (tab.name == selectedTab.name);
      });
      this.setOrderBy(selectedTab.value);
    },
    loadMore() {
      this.busy = true;
      setTimeout(async () => {
        if (this.nextPage <= this.totalPages) {
          const nextPage = this.nextPage + 1;

          await this.loadPublicPosts();
          this.setNextPage(nextPage);
          this.busy = false;
        }
      }, 1000);
    },
  },
  async created() {
    this.busy = true;
    await this.getTotalPages();
    this.busy = false;
  }
}
</script>

<style lang="scss" scoped>
.public-post-list {
  width: 60%;

  .list {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: $white;
    padding: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__tabs {
      display: flex;

      button {
        border: none;
        background: none;
        margin-right: 10px;

        &:hover,
        &:focus {
          outline: none;
        }
      }
    }

    &__btn-new-post {
      background: $primary;
      border-radius: 5px;
      padding: 8px 6px 6px 8px;
      color: white;
      border: 1px solid black;
    }
  }
}

.active {
  color: $primary;
  font-weight: bold;
}

.spinner {
  margin-top: 20px;
  margin-bottom: 20px;

  @-webkit-keyframes spinner-border {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes spinner-border {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


  .spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid $primary;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
  }
}
</style>