<template>
  <b-form>
    <div>
      <template v-for="inputName of Object.keys(inputs)">
        <PasswordInput
          :key="inputName"
          :label="labels[inputName]"
          :inputSlotId="`${inputName}_field_cpwf`"
          :password="inputs[inputName]"
          @input="triggerValidationEvent(inputName)"
        />
      </template>
    </div>
  </b-form>
</template>

<script>
import PasswordInput from "@/components/account/forms/inputs/PasswordInput.vue";
export default {
  name: "ChangePasswordForm",
  components: { PasswordInput },
  props: {
    inputs: {
      type: Object,
      required: true,
      currentPassword: {
        type: Object,
        required: true,
        value: {
          type: String,
          required: true,
        },
        state: {
          type: Boolean || null,
          required: true,
        },
        error: {
          type: String,
          required: true,
        },
      },
      newPassword1: {
        type: Object,
        required: true,
        value: {
          type: String,
          required: true,
        },
        state: {
          type: Boolean || null,
          required: true,
        },
        error: {
          type: String,
          required: true,
        },
      },
      newPassword2: {
        type: Object,
        required: true,
        value: {
          type: String,
          required: true,
        },
        state: {
          type: Boolean || null,
          required: true,
        },
        error: {
          type: String,
          required: true,
        },
      },
    },
  },
  data() {
    return {
      loading: false,
    };
  },
  methods: {
    // Communicates to the parent which input has changed and needs to be validated
    triggerValidationEvent(inputName) {
      this.$emit("input", inputName);
    },
  },
  created() {
    this.labels = {
      currentPassword: "Current Password",
      newPassword1: "New Password",
      newPassword2: "Re-enter your New Password",
    };
  },
};
</script>

<style>
</style>