<template>
  <b-form>
    <div>
      <PasswordInput
        :label="labels['currentPassword']"
        :inputSlotId="`currentPassword_field_cef`"
        :password="inputs['currentPassword']"
        @input="triggerValidationEvent('currentPassword')"
      />
      <template v-for="inputName of ['newEmail1', 'newEmail2']">
        <base-input
          :key="inputName"
          :label="labels[inputName]"
          :inputSlotId="`${inputName}_field_cef`"
          :required="true"
          :error="inputs[inputName].error"
          v-model="inputs[inputName].value"
          inputType="email"
          :valid="inputs[inputName].state"
          @input="triggerValidationEvent(inputName)"
        />
      </template>
    </div>
  </b-form>
</template>

<script>
import PasswordInput from "@/components/account/forms/inputs/PasswordInput.vue";
export default {
  name: "ChangeEmailForm",
  components: { PasswordInput },
  props: {
    inputs: {
      type: Object,
      required: true,
      currentPassword: {
        type: Object,
        required: true,
        value: {
          type: String,
          required: true,
        },
        state: {
          type: Boolean || null,
          required: true,
        },
        error: {
          type: String,
          required: true,
        },
      },
      newEmail1: {
        type: Object,
        required: true,
        value: {
          type: String,
          required: true,
        },
        state: {
          type: Boolean || null,
          required: true,
        },
        error: {
          type: String,
          required: true,
        },
      },
      newEmail2: {
        type: Object,
        required: true,
        value: {
          type: String,
          required: true,
        },
        state: {
          type: Boolean || null,
          required: true,
        },
        error: {
          type: String,
          required: true,
        },
      },
    },
  },
  data() {
    return {
      loading: false,
    };
  },
  methods: {
    // Communicates to the parent which input has changed and needs to be validated
    triggerValidationEvent(inputName) {
      this.$emit("input", inputName);
    },
  },
  created() {
    this.labels = {
      currentPassword: "Current Password",
      newEmail1: "New Email",
      newEmail2: "Re-enter your New Email",
    };
  },
};
</script>

<style>
</style>