<template>
  <modal :id="modalId" :name="modalName" height="auto" draggable scrollable>
    <b-card align="left" class="border-0 m-2 rounded">
      <b-spinner variant="primary" v-if="parentProcessing" />
      <b-card-text v-else>
        <h1 class="text-primary">Invite</h1>
        <b-row>
          <b-col>
            <h4 v-if="subject">
              {{ subject.type }} -
              {{ subject.name }}
            </h4>
            <h4 v-else>
              Help Echo grow! Invite new members to join our platform
            </h4>
          </b-col>
        </b-row>
        <b-row class="mt-2">
          <b-col cols="9">
            <base-input
              :valid="validInput"
              :error="invite.error"
              v-model="invite.value"
              :placeholder="placeHolder"
            />
          </b-col>
          <b-col>
            <base-button
              @click="handleSubmit()"
              :disabled="!canSubmit"
              type="primary"
              :block="true"
            >
              Send
            </base-button>
          </b-col>
        </b-row>
        <h4 class="mt-3">Pending Invites</h4>
        <template v-if="Object.entries(pendingInvites).length > 0">
          <b-row
            class="mb-2"
            v-for="(pendingInvite, id) in pendingInvites"
            v-bind:key="id"
          >
            <b-col cols="8">
              <strong v-if="pendingInvite.recipient_email.length < 40">
                {{ pendingInvite.recipient_email }}
              </strong>
              <strong v-else>
                {{ pendingInvite.recipient_email.slice(0, 39).trim() }}...
              </strong>
              <small class="d-block text-muted" v-if="pendingInvite.handle">
                {{ pendingInvite.handle }}
              </small>
            </b-col>
            <b-col class="d-flex justify-content-end" align-self="center">
              <base-button
                @click="resendInvite(id)"
                type="primary"
                size="sm"
                :outline="true"
              >
                Remind
              </base-button>
              <base-button
                @click="deleteInvite(id)"
                type="primary"
                size="sm"
                :outline="true"
              >
                Delete
              </base-button>
            </b-col>
          </b-row>
        </template>
        <template v-else>
          <b-row>
            <b-col>
              <p class="text-dark">
                Real friends don't let friends get FOMO. Submit their email or
                username above, or share the invite link so they can join the
                fun.
              </p>
            </b-col>
          </b-row>
        </template>
        <h4 class="mt-3">Invite Link</h4>
        <b-row>
          <b-col>
            <CopyInput :value="inviteLink" type="url" />
          </b-col>
        </b-row>
        <b-row>
          <b-col class="mt-3" align="center">
            <base-button @click="close()" type="primary" :block="true">
              Done
            </base-button>
          </b-col>
        </b-row>
      </b-card-text>
    </b-card>
  </modal>
</template>

<script>
import validateEmail from "@/form-validation/account-info/validate-email.js";
import validateUsername from "@/form-validation/account-info/validate-username.js";
import CopyInput from "@/components/base/CopyInput.vue";
export default {
  name: "BaseInviteModal",
  mixins: [validateEmail, validateUsername],
  components: { CopyInput },
  props: {
    modalName: {
      type: String,
      required: true,
    },
    modalId: {
      type: String,
      required: true,
    },
    parentProcessing: {
      // True when the parent is in the middle of a processing job
      type: Boolean,
      required: true,
    },
    includeExistingUsers: {
      // Augment the language based on whether or not the invite inludes existing users
      type: Boolean,
      default: true,
    },
    pendingInvites: {
      // Previous invites. It is ok for this to be an empty array
      type: Object,
      required: true,
    },
    subject: {
      // Provides info on what the invite is for
      type: Object,
      required: false,
      validation: function (subject) {
        let isValid = true;
        if (typeof subject.type === "string") {
          isValid = false;
        } else if (typeof subject.name === "string") {
          isValid = false;
        }
        return isValid;
      },
    },
    inviteLink: {
      // A copyable invite link for alternative sharing
      type: String,
      required: true,
    },
  },
  computed: {
    placeHolder() {
      let message = "Invite users by";
      if (this.includeExistingUsers) {
        message = message + " username or";
      }
      return `${message} email.`;
    },
    errorMessage() {
      let message = "The";
      if (this.includeExistingUsers) {
        message = message + " username or";
      }
      return `${message} email you entered is invalid.`;
    },
    canSubmit() {
      return !this.processing && !this.parentProcessing;
    },
    validInput() {
      let validInput = this.invite.state.email;
      if (this.includeExistingUsers) {
        // usernames are only a valid input if the invite includes existing users
        validInput = validInput && this.invite.state.username;
      }
      return validInput;
    },
  },
  data() {
    return {
      invite: {
        value: "",
        state: {
          email: null,
          username: null,
        },
        error: null,
      },
      processing: false,
    };
  },
  methods: {
    copyInviteData() {
      /*
       * Create a copy of the invite data suitable for the validators. This also
       * allows us to run validation asyncronously by not acting directly on the
       * invite data
       */
      return Object.assign(
        {},
        {
          value: this.invite.value,
          state: null,
          error: null,
        }
      );
    },
    async validate() {
      let email = this.copyInviteData();
      let username = this.copyInviteData();
      await Promise.all([
        (async () => {
          await this.validateEmail(email);
          this.invite.state.email = email.state;
        })(),
        (async () => {
          await this.validateUsername(username);
          this.invite.state.username = username.state;
        })(),
      ]);
      if (!this.validInput) {
        this.invite.error = this.errorMessage;
      }
    },
    handleSubmit() {
      this.processing = true;
      this.validate().then(() => {
        if (this.validInput) {
          this.sendInvite();
        }
        this.processing = false;
      });
    },
    sendInvite() {
      this.$emit("send-invite", this.invite.value);
      this.reset();
    },
    resendInvite(id) {
      this.$emit("send-invite", this.pendingInvites[id]["recipient_email"]);
    },
    deleteInvite(id) {
      this.$emit("delete-invite", id);
    },
    reset() {
      this.invite.value = "";
      this.invite.error = null;
      this.invite.state.email = null;
      this.invite.state.username = null;
    },
    close() {
      this.$modal.hide(this.modalName);
    },
  },
};
</script>