<template>
  <div class="row mt-0">
    <h6 class="h4 pl-6 col-sm-7">
      {{ post.author_info.first_name }} {{ post.author_info.last_name }}
    </h6>
    <span v-if="post.pinned" class="pl-7 col-sm-5"
      ><font-awesome-icon icon="thumbtack" size="1x"
    /></span>
    <span v-else align="right" class="col-sm-5"
      ><font-awesome-icon icon="clock" size="1x" />
      {{ post.created_at | humanizeDateTime }}</span
    >
  </div>
</template>
<script>
export default {
  props: {
    post: {
      pinned: {
        type: Boolean,
        default: false,
      },
      created_at: "",
      required: true,
    },
  },
};
</script>