<template>
  <div class="row align-items-center">
    <div class="col-sm-6">
      <div class="icon-actions">
        <a class="like" @click="likePost()" :class="{ active: post.liked }">
          <font-awesome-icon icon="rocket" />
          <span class="text-muted">{{ post.likes_count }}</span>
        </a>
        <a v-if="!isReply">
          <font-awesome-icon icon="comments" />
          <span class="text-muted">{{ post.replies_count }}</span>
        </a>
      </div>
    </div>
    <div class="d-none d-sm-block col-sm-6">
      <div class="d-flex align-items-center justify-content-sm-end">
        <!-- <div class="avatar-group">
                            <a href="#" data-toggle="tooltip" data-original-title="Jessica Rowland" class="rounded-circle avatar avatar-xs">
                                <img rouned="circle" src="img/theme/team-1.jpg" alt="Image placeholder" class="">
                            </a>
                            <a href="#" data-toggle="tooltip" data-original-title="Audrey Love" class="avatar avatar-xs rounded-circle">
                                <img rouned="circle" src="img/theme/team-2.jpg" alt="Image placeholder" class="">
                            </a>
                            <a href="#" data-toggle="tooltip" data-original-title="Michael Lewis" class="avatar avatar-xs rounded-circle">
                                <img rouned="circle" src="img/theme/team-3.jpg" alt="Image placeholder" class="">
                            </a>
                        </div>
                        <small class="pl-2 font-weight-bold">and 30+ more</small> -->
      </div>
    </div>
  </div>
</template>
<script>
import { createNamespacedHelpers } from "vuex";
const { mapState } = createNamespacedHelpers("accounts/userAccount");
export default {
  props: {
    post: {
      liked: {
        type: Boolean,
        default: false,
      },
      likes_count: {
        type: Number,
        default: 0,
      },
      replies_count: {
        type: Number,
        default: 0,
      },
      required: true,
    },
    isReply: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    ...mapState({
      userId: (state) => state.account.id,
    }),
  },
  methods: {
    likePost() {
      this.$store.dispatch("posts/like__post", {
        groupId: this.post.group,
        postId: this.post.id,
        isReply: this.isReply,
      });
    },
  },
};
</script>