<template>
  <b-card :style="{ opacity: 0 }" id="tab-content" class="left-component pt-0">
    <b-card-header class="m-0 p-1 header">
      <b-row>
        <b-col>
          <b-dropdown
            variant="secondary"
            :text="dropDownText"
            class="optimize-button-container"
          >
            <b-dropdown-item @click="sortPostsBy = 'date'"
              >Date</b-dropdown-item
            >
            <b-dropdown-item @click="sortPostsBy = 'likes'"
              >Likes</b-dropdown-item
            >
          </b-dropdown>
        </b-col>

        <base-button
          type="primary"
          @click="openNewPostModal()"
          class="optimize-button-container"
        >
          <font-awesome-icon icon="pencil-alt" class="mr-1" />
          New Post
        </base-button>
      </b-row>
      <div v-for="(post, id) in posts" :key="id" class="mt-3">
        <PostCard v-if="post.pinned" :post="post" />
      </div>
      <div></div>
    </b-card-header>
    <b-card-text class="scroll">
      <div
        v-infinite-scroll="loadMore"
        infinite-scroll-disabled="busy"
        infinite-scroll-distance="50"
      >
        <div v-for="(post, id) in posts" :key="id" class="mt-3">
          <PostCard v-if="!post.pinned" :post="post" />
        </div>
        <div class="d-flex justify-content-center">
          <b-spinner v-if="busy"></b-spinner>
        </div>
      </div>
    </b-card-text>
  </b-card>
</template>
<script>
import PostCard from "@/components/group/posts/PostCard.vue";
import BaseButton from "../../base/BaseButton.vue";

export default {
  components: {
    PostCard,
    BaseButton,
  },
  props: {
    groupId: {
      type: String,
      required: true,
    },
  },
  methods: {
    loadMore() {
      this.busy = true;
      setTimeout(() => {
        // this.posts.push(this.other_posts);
        this.busy = false;
      }, 1000);
    },
    openNewPostModal() {
      this.$modal.show("write-post-modal");
    },
  },
  computed: {
    dropDownText() {
      return "Sort posts by " + this.sortPostsBy;
    },
    posts() {
      if (this.sortPostsBy === "likes") {
        return this.$store.getters["posts/posts__fromGroupId__sort_by_likes"](
          this.groupId
        );
      } else {
        return this.$store.getters["posts/posts__fromGroupId__sort_by_date"](
          this.groupId
        );
      }
    },
  },
  created() {
    this.$store.dispatch("posts/load__group_posts", {
      groupId: this.groupId,
    });
  },
  data() {
    return {
      sortPostsBy: "date",
      busy: false,
    };
  },
};
</script>
<style scoped>
.scroll {
  max-height: 500px;
  overflow-y: auto;
}
.optimize-button-container {
  transform: scale(0.8);
  position: relative;
  top: -10px;
  z-index: 100;
}
</style>