<template>
  <div class="media media media-comment">
    <img
      v-if="planetActive"
      :id="`planet-${post.id}`"
      :src="require('@/components/orbiting/planet.svg')"
      alt="Image placeholder"
      class="avatar avatar-lg media-comment-avatar rounded-circle pointer"
      @click="openPostDetail()"
    />
    <b-card class="post-card mb-0 w-100" no-body>
      <b-card-body class="pb-1">
        <PostHeaderRow v-if="planetActive" :post="post" />
        <div @click="openPostDetail()" class="pointer">
          {{ post.message }}
        </div>
        <PostFooterRow :isReply="isReply" :post="post" />
      </b-card-body>
    </b-card>
    <b-popover
      v-if="planetActive"
      :target="`planet-${post.id}`"
      triggers="hover focus"
      class="popover"
      placement="top"
    >
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <b-col>
            <b-row>
              {{ post.author_info.first_name }} {{ post.author_info.last_name }}
            </b-row>
          </b-col>
        </div>
        <div>
          <b-col class="text-right">
            <b-row>
              <!-- <span v-if="percent_change > 0">+</span>{{ percent_change }}% -->
            </b-row>
            <b-row>
              <!-- ${{ planet.value }} -->
            </b-row>
          </b-col>
        </div>
      </div>
      <trend
        :data="[0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 7, 9, 11]"
        :gradient="['#ff7900']"
        auto-draw
        smooth
      >
      </trend>
    </b-popover>
  </div>
</template>
<script>
import PostFooterRow from "@/components/group/posts/PostFooterRow.vue";
import PostHeaderRow from "@/components/group/posts/PostHeaderRow.vue";

export default {
  components: {
    PostFooterRow,
    PostHeaderRow,
  },
  props: {
    pinned: {
      type: Boolean,
      default: false,
    },
    isReply: {
      type: Boolean,
      default: false,
    },
    planetActive: {
      type: Boolean,
      default: true,
    },
    post: {
      type: Object,
      required: true,
    },
  },
  methods: {
    openPostDetail() {
      this.$modal.show("post-detail-modal", { postId: this.post.id });
    },
  },
};
</script>
<style scoped>
.post-card {
  background-color: #e4eaf0;
  font-size: 0.85rem;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.media-comment {
  margin-top: 2rem;
}
.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.media-comment-avatar {
  margin-top: -1rem;
  margin-right: -4rem;
  position: relative;
  z-index: 1;
  border: 4px solid #fff;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.pointer {
  cursor: pointer;
}
</style>