<template>
  <modal
    id="wpm"
    name="write-post-modal"
    height="auto"
    width="60%"
    draggable
    scrollable
  >
    <b-card
      align="left"
      class="border-0 m-2 rounded"
      header-bg-variant="primary"
      header-text-variant="white"
    >
      <b-card-header>
        <b-row>
          <b-col>
            <h4 class="text-left">
              <strong>New Post</strong>
              <b-icon-info-circle-fill
                id="popover-group-info"
                class="ml-2"
                font-scale="0.85"
              />
              <b-popover
                target="popover-group-info"
                triggers="hover"
                placement="right"
              >
                <template #title>What is a post?</template>
                Posts are only seen within the group, and are a way of sharing
                your thinking about the market and trading strategies.
              </b-popover>
            </h4>
          </b-col>
        </b-row>
      </b-card-header>
      <b-card-text>
        <PostTextArea
          :post="post"
          placeholder="Make a post to the group about market conditions, recent trades, companies or anything else"
        />
        <div
          class="text-warning invalid-feedback"
          style="display: block"
          v-if="post.error"
        >
          {{ post.error }}
        </div>
        <b-row>
          <b-col class="mt-3" align="right">
            <b-button @click="close()" variant="outline-primary" class="mr-1">
              Cancel
            </b-button>
            <b-button
              @click="submitPost()"
              variant="primary"
              :disabled="!post.state"
            >
              Post
            </b-button>
          </b-col>
        </b-row>
      </b-card-text>
    </b-card>
  </modal>
</template>

<script>
import toastNotificationsMixin from "@/mixins/toast-notifications-mixin";
import PostTextArea from "@/components/group/posts/inputs/PostTextArea.vue";

export default {
  name: "WritePostModal",
  mixins: [toastNotificationsMixin],
  components: {
    PostTextArea,
  },
  props: {
    groupId: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      processing: false,
      post: {
        value: "",
        state: null,
        error: null,
      },
    };
  },
  methods: {
    close() {
      this.$modal.hide("write-post-modal");
    },
    async submitPost() {
      const message = this.post.value;
      const groupId = this.groupId;
      try {
        await this.$store.dispatch("posts/create__post", { groupId, message });
        this.reset();
        this.close();
      } catch {
        this.post.state = false;
        this.post.error =
          "An error occurred while submitting this post. Please try again.";
      }
    },
    reset() {
      this.post.value = "";
      this.post.state = null;
      this.post.error = null;
    },
  },
};
</script>
<style scoped>
.scroll {
  max-height: 350px;
  overflow-y: auto;
}
.media-comment-avatar {
  margin-top: -2rem;
  left: -3%;
  top: 20px;
  position: relative;
  z-index: 1;
  border: 4px solid #fff;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
</style>