<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>favicon/apple_touch_icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>favicon/favicon_32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>favicon/favicon_16x16.png">
    <link rel="manifest" href="<%= BASE_URL %>favicon/site.webmanifest">
    <!-- Required for Plaid link workflow. See https://plaid.com/docs/link/web/#installation for more details -->
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>

    <title>Echo Markets</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but the Echo Markets webapp doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <!-- Usersnap feedback buttons -->
    <!-- <script type="text/javascript" src="customer_feedback.js"></script> -->

    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
