
<template>
<b-card title="Member Requests">
    <b-list-group flush class=" my--3">
        <b-list-group-item v-for="member in members"
            :key="member.id"
            class="list-group-item px-0">
            <b-row align-v="center" >
                <b-col :id="`row-item-${member.id}`" md="auto">
                    <!-- Avatar -->
                    <a href="javascript:;" class="avatar">
                        <b-img rounded="circle" alt="Image placeholder" :src="member.image" />
                    </a>
            <b-popover
              :target="`row-item-${member.id}`"
              triggers="hover focus"
              placement="top"
            >
              <div class="d-flex justify-content-between align-items-center">
                <div> 
                  <b-col>
                    <b-row>
                        {{ member.name }}
                      </b-row>
                    <b-row>
                      <b-badge variant="primary">
                        Private
                      </b-badge>
                    </b-row>
                  </b-col>
                </div> 
                <div>
                   <b-col class="text-right">
                    <b-row>
                      <!-- <span v-if="percent_change > 0">+</span>{{ percent_change }}% -->
                    </b-row>
                    <b-row>
                      <!-- ${{ planet.value }} -->
                    </b-row>
                  </b-col>
                </div>
              </div>
              <trend
                :data="[0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 7, 9, 11]"
                :gradient="['#ff7900']"
                auto-draw
                smooth>
              </trend>
            </b-popover>
                </b-col>

                <b-col class="ml--2">
                    <h4 class="mb-0">
                        <a href="javascript:;">{{ member.name }}</a>
                    </h4>
                    <!-- <span :class="`text-${member.statusType}`">● </span>
                    <small>{{ member.status }}</small> -->
                    <b-badge class="ml-1" variant="primary" v-if="member.type=='A'">Admin</b-badge>
                    <b-badge class="ml-1" variant="primary" v-if="member.type=='O'">Owner</b-badge>
                </b-col>
                <b-col md="auto">
                    <b-button type="button" size="sm" variant="danger">Delete</b-button> 
                    <b-button type="button" size="sm" variant="success">Approve</b-button>
                </b-col>
            </b-row>
            
        </b-list-group-item>
    </b-list-group>
</b-card>
</template>

<script>
  export default {
    name: 'GroupMembersList',
    data() {
      return {
        membersSearch: '',
        members: [
          {
            id: 'd588c362-24b5-4c24-9143-1228ce8c1dd2',
            name: 'John Michael',
            status: 'Online',
            statusType: 'success',
            type: 'O',
            image: 'https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-1.jpg'
          },
          {
            id: 'd588c362-24b5-4c24-9143-1228ce8c1dd3',
            name: 'Alex Smith',
            status: 'In a meeting',
            statusType: 'danger',
            type: 'A',
            image: 'https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-2.jpg'
          },
          {
            id: 'd588c362-24b5-4c24-9143-1228ce8c1dd4',
            name: 'Samantha Ivy',
            status: 'Offline',
            statusType: 'danger',
            type: 'S',
            image: 'https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-3.jpg'
          },
          {
            id: 'd588c362-24b5-4c24-9143-1228ce8c1dd5',
            name: 'John Michael',
            status: 'Online',
            statusType: 'success',
            type: 'S',
            image: 'https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-4.jpg'
          },
          {
            id: 'd588c362-24b5-4c24-9143-1228ce8c1dd6',
            name: 'John Snow',
            status: 'Online',
            statusType: 'success',
            type: 'A',
            image: 'https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-5.jpg'
          }
        ]
      }
    }
  }
</script>
