<template>
  <div>
    <GroupMembersTable
      :members="reqMembers"
      title="Requested"
      :groupId="groupId"
    />
    <GroupMembersTable
      :members="members"
      title="Members"
      :groupId="groupId"
    />
  </div>
</template>
<script>
import GroupMembersTable from "@/components/group/GroupMembersTable.vue";

export default {
  components: {
    GroupMembersTable,
  },
  computed: {
    portfolios() {
      return this.$store.getters["portfolios/publicPortfolios"];
    },
    allAccounts() {
      return this.$store.state.accounts.allAccounts;
    },
    groupMembers() {
      return this.$store.state.groups.userGroups[this.groupId]?.members || [];
    },
    groupReqMembers() {
      return this.$store.state.groups.userGroups[this.groupId]
        ?.requested_members || [];
    },
    members() {
      return this.groupMembers.map((member) => {
        const percent = ((parseFloat(this.portfolios[member.portfolio_id]?.balance_current) - this.portfolios[member.portfolio_id]?.total_cost_basis) / this.portfolios[member.portfolio_id]?.total_cost_basis) * 100;
        const role = this.memberRole(member.type);
        return {
          user_id: member.user_id,
          datetime_membership_requested: member.datetime_joined,
          name: this.allAccounts[member.user_id]?.short_name,
          avatar: this.allAccounts[member.user_id]?.avatar_img,
          color: this.allAccounts[member.user_id]?.avatar_bg_hex,
          type: member.type,
          role: role,
          return: percent,
          institution: this.portfolios[member.portfolio_id]?.institution
        };
      });
    },
    reqMembers() {
      return this.groupReqMembers.map((member) => {
        const percent = ((parseFloat(this.portfolios[member.portfolio_id]?.balance_current) - this.portfolios[member.portfolio_id]?.total_cost_basis) / this.portfolios[member.portfolio_id]?.total_cost_basis) * 100;
        return {
          user_id: member.user_id,
          datetime_membership_requested: member.datetime_joined,
          name: this.allAccounts[member.user_id]?.short_name,
          avatar: this.allAccounts[member.user_id]?.avatar_img,
          color: this.allAccounts[member.user_id]?.avatar_bg_hex,
          type: member.type,
          role: 'Requested',
          return: percent,
          institution: this.portfolios[member.portfolio_id]?.institution
        };
      });
    }
  },
  methods: {
    memberRole(role) {
      switch (role) {
        case "A":
          return "Admin";
        case "O":
          return "Owner";
        case "S":
          return "Member";
      }
    },
    async getGroupPortfolios(members) {
      await Promise.all(
        members.map(async (member) => {
          await this.$store.dispatch(
            "portfolios/get",
            member.portfolio_id
          );
        })
      );
    },

  },
  async created() {
    this.groupId = this.$route.params.groupId;
    await this.$store.dispatch('accounts/getAllAccounts');

    // get portfolio info from members and requested_members
    await this.getGroupPortfolios(this.groupMembers);
    await this.getGroupPortfolios(this.groupReqMembers);
  },
};
</script>
<style >
</style>
