<template>
  <b-card no-body>
    <b-card-header class="header border-0 d-flex justify-content-space-between">
      <h3 class="mb-0 header__item">{{ title }}</h3>
      <TimeSeriesSelectorButtons
        class="header__item"
        @timeline-selected="getTimeSeriesData($event)"
        :selectedTimeline="selectedTimeline"
        :timelines="timelines"
      />
      <b-form-input
        :style="`background: #F2F2F2; border-radius: 5px`"
        class="header__item search"
        v-model="search"
        :placeholder="searchPlaceholder"
      ></b-form-input>
    </b-card-header>

    <el-table :data="searchMembers" v-if="searchMembers.length !== 0">
      <el-table-column label="Name" min-width="150px" prop="name" sortable>
        <template v-slot="{ row }">
          <div class="d-flex align-items-center">
            <UserAvatar
              class="ml-2"
              :path="row.avatar_img"
              :fallback="row.name[0]"
              :color="row.color"
              size="sm"
            ></UserAvatar>
            <strong class="ml-2">{{ row.name }}</strong>
            <b-img
              rounded="circle"
              class="avatar-sm ml-1 p-1"
              alt="Image"
              v-b-tooltip.hover.topright.v-secondary="
                row.institution.name
              "
              :src="`data:image/png;base64,${row.institution.logo}`"
            />
          </div>
        </template>
      </el-table-column>

      <el-table-column label="Return" min-width="50px" prop="return" sortable>
        <template v-slot="{ row }">
          <div class="return-container">
            <strong>{{ row.return | percentFormat }}</strong>
          </div></template
        >
      </el-table-column>

      <el-table-column label="Role" min-width="50px" prop="role" sortable>
        <template v-slot="{ row }">
          <div :style="titleStyle">{{ row.role }}</div>
        </template>
      </el-table-column>

      <el-table-column min-width="100px" label="Action" prop="type">
        <template v-slot="scope">
          <el-dropdown
            v-if="title === 'Members'"
            trigger="click"
            class="dropdown"
          >
            <base-button
              id="additionalActionsButton"
              :type="scope.row.type"
              pill
              outline
              :class="additionalActionsClass"
            >
              <div class="additional-actions-icon">
                <font-awesome-icon icon="ellipsis-v" size="lg" />
              </div>
            </base-button>

            <el-dropdown-menu
              class="dropdown-menu dropdown-menu-arrow show"
              slot="dropdown"
            >
              <b-dropdown-item @click="handleSetAdmin(scope.$index, scope.row)"
                >Set as admin</b-dropdown-item
              >
              <b-dropdown-item @click="handleSetOwner(scope.$index, scope.row)"
                >Set as owner</b-dropdown-item
              >
              <b-dropdown-item @click="handleDelete(scope.row)"
                >Delete member</b-dropdown-item
              >
            </el-dropdown-menu>
          </el-dropdown>
          <div v-else class="d-flex">
            <b-button variant="success" @click="handleAdd(scope.row)"
              >Accept</b-button
            >
            <b-button variant="danger">Reject</b-button>
          </div>
        </template>
      </el-table-column>
    </el-table>
    <div class="d-flex justify-content-center mb-2" v-else>
      No joined users during this period of time!
    </div>
  </b-card>
</template>
<script>
import {
  Table,
  TableColumn,
  DropdownMenu,
  DropdownItem,
  Dropdown,
} from "element-ui";
import UserAvatar from "@/components/user/UserAvatar";
import TimeSeriesSelectorButtons from "@/components/base/TimeSeriesSelectorButtons";
import sweetAlertMixin from "@/mixins/sweet-alert-mixin.js";

export default {
  name: "GroupMembersTable",
  props: {
    title: {
      type: String,
      default: "No title",
    },
    members: {
      type: Array,
      required: true,
    },
    groupId: {
      type: String,
      required: true,
    },
  },
  components: {
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
    UserAvatar,
    TimeSeriesSelectorButtons,
  },
  mixins: [sweetAlertMixin],
  data() {
    return {
      additionalActionsClass: "m-2 additional-actions-container",
      currentPage: 1,
      search: "",
      selectedTimeline: "1D",
    };
  },
  computed: {
    titleStyle() {
      let styleName = this.title === "Members" ? "normal" : "italic";
      return {
        fontStyle: styleName,
      };
    },
    searchPlaceholder() {
      return this.title === "Members"
        ? "Search members"
        : "Search for requests";
    },
    searchMembers() {
      return this.membersGranularity.filter((member) => {
        return member.name.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    membersGranularity() {
      let selectedTimeline = 0;
      switch (this.selectedTimeline) {
        case "1D": {
          selectedTimeline = new Date(Date.now() - 24 * 60 * 60 * 1000);
          break;
        }
        case "1W": {
          selectedTimeline = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000);
          break;
        }
        case "1M": {
          selectedTimeline = new Date(Date.now());
          selectedTimeline.setMonth(selectedTimeline.getMonth() - 1);
          break;
        }
        case "3M": {
          selectedTimeline = new Date(Date.now());
          selectedTimeline.setMonth(selectedTimeline.getMonth() - 3);
          break;
        }
        case "ALL": {
          selectedTimeline = new Date();
          selectedTimeline.setFullYear(selectedTimeline.getFullYear() - 30);
          break;
        }
        default:
          throw `'${this.selectedTimeline}' is not supported by GroupMembersTable`;
      }
      return this.members.filter((member) => {
        const memberJoinedDate = member.datetime_membership_requested;
        return (
          Date.parse(memberJoinedDate) > selectedTimeline.getTime() &&
          Date.parse(memberJoinedDate) < new Date(Date.now()).getTime()
        );
      });
    },
    currentUser() {
      return this.$store.getters["accounts/userAccount"].id;
    },
  },
  methods: {
    async handleAdd(row) {
      const groupId = this.groupId;
      const memberId = row.user_id;

      await this.$store.dispatch("groups/add__member", { groupId, memberId });
    },
    async handleDelete(user) {
      if (!this.isCurrentUserAdmin())
        return this.showSwal(
          "warning",
          "Warning",
          null,
          "You do not have permission to remove users!"
        );

      const groupId = this.groupId;
      const memberId = user.user_id;

      await this.$store.dispatch("groups/delete__member", {
        groupId,
        memberId,
      });
    },
    isCurrentUserAdmin() {
      for (let i = 0; i < this.members.length; i++) {
        if (
          this.members[i].user_id === this.currentUser &&
          (this.members[i].type === "A" || this.members[i].type === "O")
        )
          return true;
      }
      return false;
    },
  },
  created() {
    this.timelines = ["1D", "1W", "1M", "3M", "ALL"];
    this.$on("timeline-selected", async (timeline) => {
      this.selectedTimeline = timeline;
    });
  },
};
</script>

<style scoped lang="scss">
.header {
  &__item {
    flex: 1 1 calc((100% / 3) - 2rem);
  }
}
.additional-actions-icon {
  display: flex;
  justify-content: center;
  color: $white;
}
.additional-actions-container {
  transform: scale(0.7);
  position: relative;
  width: 45px;
  height: 45px;
  background: $gray-600;
}

.title {
  &__req {
    font-style: italic;
  }
}

.return-container {
  background: #bdecd5;
  border-radius: 3px;
  font-size: $font-size-xs;
  padding: 5px;
  width: 4.5rem;
  text-align: center;
}
</style>