<template>
  <div class="user-avatar">
    <base-avatar
        :uri="path"
        :fallback="fallback"
        :color="color"
        :size="size"
    ></base-avatar>
  </div>
</template>

<script>
import BaseAvatar from "@/components/base/BaseAvatar";

export default {
  name: "UserAvatar",
  components: {
    BaseAvatar,
  },
  props: {
    path: {
      type: String,
      default: '/'
    },
    fallback: {
      type: String,
      default: 'None'
    },
    color: {
      type: String,
      default: '#FFFFFF'
    },
    size: {
      type: String,
      default: 'md'
    }
  },
}
</script>

<style lang="scss">
.user-avatar {
  position: relative;

  .avatar-doughnut-chart {
    position: absolute;
    top: 0;
  }
}

</style>