<template>
  <b-card class="group-discovery-card">
    <template #header>
      <div class="d-flex flex-row">
        <div class="mr-auto my-auto align-self-center">
          <h3>Find Groups</h3>
        </div>
        <div class="ml-auto d-inline-flex my-auto">
          <h4
            v-for="(tab, index) in tabTitles"
            :key="index"
            :class="getTabTextClass(index)"
            @click="setActiveTabIndex(index)"
          >
            {{ tab }}
          </h4>
        </div>
      </div>
    </template>
    <b-skeleton-wrapper>
      <template #loading>
        <b-skeleton-table
          :rows="5"
          :cols="1"
          :table-props="{ bordered: true, striped: true }"
          width="100%"
        ></b-skeleton-table>
      </template>

      <b-card-body @scroll="onScroll">
        <div>
          <GroupThumbnail
            v-for="id of currentTabGroupIds"
            :key="id"
            :groupId="id"
            backgroundTheme="white"
            class="ml-2"
            :maxNameLength="18"
          />
        </div>
      </b-card-body>
    </b-skeleton-wrapper>
  </b-card>
</template>

<script>
import GroupThumbnail from "@/components/group/GroupThumbnail.vue";
import GroupsDataService from "@/services/groups-data.service.js";
import authHeader from "@/services/auth-header.js";
import axiosWrapper from "@/services/axios-wrapper.js";
import { createNamespacedHelpers } from "vuex";
import { LOAD_DISCOVERED_GROUPS } from "@/store/mutation-types.js";
import scrollHandlerMixin from "@/mixins/scroll-handler-mixin.js";

const { mapMutations } = createNamespacedHelpers("groups");
export default {
  name: "GroupDiscoveryCard",
  components: { GroupThumbnail },
  mixins: [scrollHandlerMixin],
  computed: {
    currentTabGroupIds() {
      const tab = this.tabTitles[this.activeTabIndex];
      return this.groupIds[tab];
    },
  },
  data() {
    return {
      loading: false,
      activeTabIndex: 0,
      groupIds: {},
    };
  },
  methods: {
    /* Functions for handling Groups/Component data */
    ...mapMutations({
      commitGroupsToStore: LOAD_DISCOVERED_GROUPS,
    }),
    extractGroupIdsFrom(groups) {
      return groups.reduce(function (allGroupIds, group) {
        allGroupIds.push(group.id);
        return allGroupIds;
      }, []);
    },
    updateDataForTabFrom(responseData, tab) {
      this.groupIds[tab] = this.groupIds[tab].concat(
        this.extractGroupIdsFrom(responseData.results)
      );
      // next and prev are are full urls for retrieving the next and prev pages of data
      this.paginationState[tab].next = responseData.next;
      this.paginationState[tab].prev = responseData.prev;
    },
    handleGroupsDataResponse(response, tab) {
      this.updateDataForTabFrom(response.data, tab);
      this.commitGroupsToStore(response.data.results);
    },
    initializeTabData() {
      this.loading = true;
      const topGroupsPromise = GroupsDataService.getTopGroups();
      const trendingGroupsPromise = GroupsDataService.getTrendingGroups();
      topGroupsPromise.then((response) => {
        this.handleGroupsDataResponse(response, "Top");
      });
      trendingGroupsPromise.then((response) => {
        this.handleGroupsDataResponse(response, "Trending");
      });
      this.loading = false;
    },
    async loadAdditionalTabData() {
      this.loading = true;
      const tab = this.tabTitles[this.activeTabIndex];
      const nextPageUrl = this.paginationState[tab].next;
      const shouldLoad = !(
        nextPageUrl == null || this.groupIds[tab].length >= this.maxNumGroups
      );
      // Load more data if the pagination state indicates there is more data that can be loaded
      if (shouldLoad) {
        const response = await axiosWrapper.get(nextPageUrl, {
          headers: authHeader(),
        });
        this.handleGroupsDataResponse(response, tab);
      }
      this.loading = false;
    },
    setActiveTabIndex(tabIndex) {
      this.activeTabIndex = tabIndex;
    },

    /* Functions for handling Groups/Component styling */
    isActive(tabIndex) {
      return tabIndex == this.activeTabIndex;
    },
    getTabTextClass(tabIndex) {
      let classes = "";
      if (!this.isActive(tabIndex)) {
        classes = classes.concat("text-muted");
      }
      if (tabIndex != 0) {
        classes = classes.concat(" pl-4");
      }
      return classes;
    },

    // Create an infinite scrolling effect
    async handleScrollToBottom() {
      await this.loadAdditionalTabData();
    },
  },
  created() {
    this.maxNumGroups = 60;
    this.tabTitles = ["Top", "Trending"];

    // Set up tab specific state values
    // Store tab specific groupIds
    const groupIdsInitialState = this.tabTitles.reduce(function (
      allGroupIdsInitialState,
      tab
    ) {
      allGroupIdsInitialState[tab] = [];
      return allGroupIdsInitialState;
    },
    {});
    this.groupIds = Object.assign({}, this.groupIds, groupIdsInitialState);

    // Store tab specific pagination state
    this.paginationState = this.tabTitles.reduce(function (
      allTabPaginationMappings,
      tab
    ) {
      const initialPaginationState = {
        next: null,
        prev: null,
      };
      allTabPaginationMappings[tab] = initialPaginationState;
      return allTabPaginationMappings;
    },
    {});

    // Make API calls to retrieve the initial data for each tab
    this.initializeTabData();
  },
};
</script>

<style>
</style>