// Gives a basic overview of the group including the avatar, # members, name and description
<template>
  <div class="group-overview-container" @click="routeToGroupPage()">
    <base-avatar
      :uri="`${publicPath}${group.avatar}`"
      :fallback="group.name[0]"
    ></base-avatar>
    <span class="ml-2 title">
      <b v-if="group.name.length <= maxNameLength">{{ group.name }}</b>
      <b v-else v-b-tooltip.hover.v-secondary.right :title="group.name">
        {{ group.name.slice(0, maxNameLength - 1).trim() }}...
      </b>
    </span>
    <small class="d-block my-2 ml-1">
      <b>{{ group.members.length | condensedNumberFormat }}</b>
      <span class="text-muted">
        member<span v-if="group.members.length != 1">s</span>
      </span>
    </small>
    <p class="ml-1 my-auto">
      {{ group.description }}
    </p>
    <!-- TODO [https://app.clickup.com/t/1q4dv0t]: Create Notification Badges -->
  </div>
</template>

<script>
export default {
  name: "GroupOverviewCard",
  props: {
    groupId: {
      type: String,
      required: true,
    },
    maxNameLength: {
      /*
       * The max length allowed for group.name. If group.name.length is greater than
       * this value, the full name will be captured in a tooltip
       */
      type: Number,
      default: 24,
    },
  },
  data() {
    return {
      group: {
        name: "",
        members: [],
        avatar: "",
        description: "",
      },
    };
  },
  watch: {
    groupId: {
      handler: "setGroup",
      immediate: true,
    },
  },
  methods: {
    routeToGroupPage() {
      this.$router.push({ path: `/group/${this.groupId}` });
    },
    setGroup() {
      this.$store
        .dispatch("groups/get__group_by_id", {
          groupId: this.groupId,
        })
        .then((group) => (this.group = group));
    },
  },
  created() {
    this.publicPath = process.env.BASE_URL;
  },
};
</script>

<style>
</style>