// A "carousel" for viewing GroupOverviewCards
<template>
  <b-container fluid class="mb-4">
    <b-row align-h="center">
      <b-col
        v-if="firstVisibleIndex > 0"
        cols=".5"
        align-self="center"
        class="btn"
        @click="decrementIndex"
      >
        <font-awesome-icon
          icon="angle-left"
          size="lg"
          class="my-auto btn-icon-only"
        />
      </b-col>
      <b-col v-for="id of visibleGroupIds" :key="id">
        <b-card class="mb-0 h-100 group-overview-card">
          <GroupOverviewCard :groupId="id" />
        </b-card>
      </b-col>
      <b-col
        v-if="firstVisibleIndex < maxFirstIndex"
        cols=".5"
        align-self="center"
        class="text-right btn"
        @click="incrementIndex"
      >
        <font-awesome-icon
          icon="angle-right"
          size="lg"
          class="my-auto btn-icon-only"
        />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
// TODO [https://app.clickup.com/t/1q4dv5y]: Animate transitions on the carousel
import GroupOverviewCard from "@/components/group/GroupOverviewCard.vue";
export default {
  name: "UserGroupOverviewCarousel",
  components: {
    GroupOverviewCard,
  },
  props: {
    groupIds: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      firstVisibleIndex: 0,
    };
  },
  computed: {
    maxLastIndex() {
      // Last Index for calculation purposes can be cardProps.length, since the slice
      // method is not tail inclusive
      return Math.max(this.groupIds.length, 0);
    },
    maxFirstIndex() {
      return Math.max(this.groupIds.length - this.maxVisibleCards, 0);
    },
    visibleGroupIds() {
      const lastVisibleIndex = this.firstVisibleIndex + this.maxVisibleCards;
      return this.groupIds.slice(
        Math.min(this.firstVisibleIndex, this.maxFirstIndex),
        Math.min(lastVisibleIndex, this.maxLastIndex)
      );
    },
  },
  methods: {
    incrementIndex() {
      this.firstVisibleIndex = Math.min(
        this.firstVisibleIndex + 1,
        this.maxFirstIndex
      );
    },
    decrementIndex() {
      this.firstVisibleIndex = Math.max(this.firstVisibleIndex - 1, 0);
    },
  },
  created() {
    this.maxVisibleCards = 3;
  },
};
</script>

<style>
</style>