<template>
  <div class="group-thumbnail" @click="routeToGroupPage()">
    <BaseThumbnail :class="groupThumbnailClass" :style="backgroundStyle">
      <template v-slot:thumbnail-header>
        <GroupAvatar
          :path="path"
          :fallback="fallback"
          :color="color"
          :size="avatarSize"
        />
      </template>
      <template v-slot:thumbnail-content>
        <b v-if="group.name.length <= maxNameLength">
          {{ group.name }}
        </b>
        <b v-else v-b-tooltip.hover.v-secondary.right :title="group.name">
          {{ group.name.slice(0, maxNameLength - 1).trim() }}...
        </b>
        <small v-if="type === 'card'" class="d-block text-muted">
          <strong> {{ group.members | condensedNumberFormat }} </strong>
          member<span v-if="group.members != 1">s</span>
        </small>
      </template>
    </BaseThumbnail>
  </div>
</template>

<script>
import BaseThumbnail from "@/components/base/BaseThumbnail";
import hexToRgbA from "@/services/hex-convert.service";
import GroupAvatar from "@/components/group/GroupAvatar";

export default {
  name: "GroupThumbnail",
  components: {
    BaseThumbnail,
    GroupAvatar,
  },
  props: {
    path: {
      type: String,
      default: "/",
    },
    color: {
      type: String,
      default: "#FFFFFF",
    },
    groupId: {
      type: String,
      required: true,
    },
    maxNameLength: {
      /*
       * The max length allowed for group.name. If group.name.length is greater than
       * this value, the full name will be captured in a tooltip
       */
      type: Number,
      default: 12,
    },
    /*
     * It's the type of group (card/post).
     */
    type: {
      type: String,
      default: "post",
    },
  },
  data() {
    return {
      group: {
        name: "",
        members: [],
      },
    };
  },
  computed: {
    fallback() {
      return this.group.name[0];
    },
    groupThumbnailClass() {
      return {
        "group-thumbnail-container": true,
        "d-flex": true,
        "justify-content-start": true,
        "align-items-center": true,
        "card-type-fontsize": this.type === "card",
      };
    },
    avatarSize() {
      if (this.type === "post") {
        return "sm";
      }
      return "md";
    },
    backgroundStyle() {
      return {
        background: this.type === "card" ? "none" : hexToRgbA("#91BBDF"),
      };
    },
  },
  methods: {
    routeToGroupPage() {
      this.$router.push({ path: `/group/${this.groupId}` });
    },
    setGroup() {
      const groupId = this.groupId;
      this.$store
        .dispatch("groups/get__group_by_id", {
          groupId,
        })
        .then((response) => (this.group = response));
    },
  },
  watch: {
    groupId: {
      handler: "setGroup",
      immediate: true,
    },
  },
};
</script>

<style scoped>
.group-thumbnail {
  display: inline-block;
}
</style>
