<template>
  <div class="px-3">
    <b-button-group size="md">
      <template v-if="!isMember">
        <base-button
          :type="type"
          pill
          :class="joinButtonClass"
          @click="openJoinGroupModal()"
          v-if="!isMember"
        >
          <font-awesome-icon icon="chart-line" class="mr-1" />
          <b> Join </b>
        </base-button>
      </template>
      <template v-else>
        <base-button
          :type="type"
          pill
          :class="joinButtonClass"
          @click="leaveGroup()"
        >
          <font-awesome-icon icon="chart-line" class="mr-1" />
          <b> Leave </b>
        </base-button>
        <base-button
          :type="type"
          pill
          outline
          :class="optimizeButtonClass"
          @click="openInviteToGroupModal()"
        >
          <font-awesome-icon icon="balance-scale-right" class="mr-1" />
          <b> Invite </b>
        </base-button>
        <base-button
          id="additionalActionsButton"
          :type="type"
          pill
          outline
          :class="additionalActionsClass"
          @click="handleAdditionalActionsButtonClick"
          v-click-outside="handleAdditionalActionsButtonClickOutside"
        >
          <div class="additional-actions-icon">
            <font-awesome-icon icon="ellipsis-h" size="lg" />
          </div>
        </base-button>
      </template>
      <!-- The dropdown menu for the additional actions button -->
      <div class="additional-actions-dd-container">
        <div id="additionalActionsDD" class="dropdown-menu">
          <b-dropdown-item @click="openCreateGroupModal">
            <font-awesome-icon icon="globe-americas" class="mr-1" />
            Settings
          </b-dropdown-item>
          <b-dropdown-item @click="transitionOut">
            Transition Out
          </b-dropdown-item>
        </div>
      </div>
    </b-button-group>
  </div>
</template>

<script>
import { eventBus } from "@/main";
export default {
  name: "GroupDetailActions",
  props: {
    isMember: {
      // Whether or not the viewing user is a member
      type: Boolean,
      required: true,
    },
    groupId: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      type: "primary",
      joinButtonClass: "m-2 join-button-container",
      optimizeButtonClass: "m-2 optimize-button-container",
      additionalActionsClass: "m-2 additional-actions-container",
      additionalActionsDDClass:
        "m-2 text-primary additional-actions-dd-container",
    };
  },
  methods: {
    transitionOut() {
      eventBus.$emit("orbitOutAll");
    },
    handleAdditionalActionsButtonClick() {
      this.toggleAdditionalActionsDDMenu();
      this.toggleAdditionalActionsButtonActive();
    },
    handleAdditionalActionsButtonClickOutside() {
      this.hideAdditionalActionsDDMenu();
      this.setAdditionalActionsButtonInactive();
    },
    toggleAdditionalActionsDDMenu() {
      document.getElementById("additionalActionsDD").classList.toggle("show");
    },
    toggleAdditionalActionsButtonActive() {
      document
        .getElementById("additionalActionsButton")
        .classList.toggle("active");
    },
    hideAdditionalActionsDDMenu() {
      document.getElementById("additionalActionsDD").classList.remove("show");
    },
    setAdditionalActionsButtonInactive() {
      document
        .getElementById("additionalActionsButton")
        .classList.remove("active");
    },
    openCreateGroupModal() {
      const app = this.$app();
      app.$refs.cgf.openWith(this.groupId);
    },
    openJoinGroupModal() {
      const app = this.$app();
      app.$refs.jgf.openWith(null, this.groupId);
    },
    openInviteToGroupModal() {
      const app = this.$app();
      app.$refs.itgm.openWith(this.groupId);
    },
    leaveGroup() {
      this.$store.dispatch("groups/leave__group", { groupId: this.groupId });
    },
  },
};
</script>

<style scoped>
.join-button-container {
  transform: scale(0.85);
  position: relative;
  left: -5px;
}
.optimize-button-container {
  transform: scale(0.85);
  position: relative;
  left: -35px;
}
.additional-actions-container {
  transform: scale(0.85);
  position: relative;
  left: -60px;
  width: 20px;
  height: 45px;
}
.additional-actions-icon {
  /* transform: scale(0.85); */
  position: relative;
  left: -10px;
}
.additional-actions-dd-container {
  position: relative;
  left: -80px;
  top: -30px;
}
/* Show the dropdown menu */
.show {
  display: block;
}
</style>