<template>
    <b-card no-body>
        <b-card-header class="border-0">
            <h3 class="mb-0">Group Members</h3>
        </b-card-header>

        <el-table class="table-responsive table-flush"
                    header-row-class-name="thead-light"
                  :data="members">
            <el-table-column label="Member"
                             min-width="150px"
                             prop="name"
                             sortable>
                <template v-slot="{row}">
                    <strong>{{ row.name }}</strong><br>
                    <b-badge class="ml-1" variant="primary" v-if="row.type=='A'">Admin</b-badge>
                    <b-badge class="ml-1" variant="primary" v-if="row.type=='O'">Owner</b-badge>
                </template>
            </el-table-column>

            <el-table-column label="Bucket"
                             min-width="150px"
                             prop="bucket_name"
                             sortable>
            </el-table-column>

            <el-table-column label="Return"
                             min-width="50px"
                             prop="return"
                             sortable>
                <template v-slot="{row}">
                    {{ row.return }}%
                </template>
            </el-table-column>

            <el-table-column min-width="100px">
                <template slot-scope="scope">
                    
                    <el-dropdown trigger="click" class="dropdown">

                        <base-button
                            id="additionalActionsButton"
                            :type="type"
                            pill
                            outline
                            :class="additionalActionsClass"
                        >
      
                      <!-- <i class="fas fa-ellipsis-v mt-2"></i> -->
                      <div class="additional-actions-icon">
                        <font-awesome-icon icon="ellipsis-h" size="lg" />
                    </div>
                    </base-button>

                        <el-dropdown-menu class="dropdown-menu dropdown-menu-arrow show" slot="dropdown">
                            <b-dropdown-item  @click="handleSetAdmin(scope.$index, scope.row)">Set as admin</b-dropdown-item>
                            <b-dropdown-item @click="handleSetOwner(scope.$index, scope.row)">Set as owner</b-dropdown-item>
                            <b-dropdown-item @click="handleDelete(scope.$index, scope.row)">Delete member</b-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </template>
            </el-table-column>
        </el-table>


    </b-card>

</template>
<script>
import { Table, TableColumn, DropdownMenu, DropdownItem, Dropdown} from 'element-ui'

export default {
    name: 'GroupLeaderboardTable',
    props: {
        members: null
    },
    components: {
        [Table.name]: Table,
        [TableColumn.name]: TableColumn,
        [Dropdown.name]: Dropdown,
        [DropdownItem.name]: DropdownItem,
        [DropdownMenu.name]: DropdownMenu,
    },
    data() {
        return {
            additionalActionsClass: "m-2 additional-actions-container",
            currentPage: 1
        };
    }
}
</script>

<style scoped>
.additional-actions-icon {
  /* transform: scale(0.85); */
  position: relative;
  left: -10px;
}
.additional-actions-container {
  transform: scale(0.7);
  position: relative;
  width: 20px;
  height: 45px;
}
</style>