// Shows the details of transaction of type cash. Should only be shown for the
// user's portfolio
<template>
  <div>
    <template v-if="transaction.is_trade">
      <div class="d-flex justify-content-start align-items-center">
        <TransactionLogBadge :variant="transaction.subtype" class="mr-1 mt-2" />
        <h3 class="mt-2 mb-0">
          <div
            v-if="showTransactionTotals"
            v-b-tooltip.hover.v-secondary.bottom="tooltipMessage"
          >
            {{ Math.abs(transaction.quantity) }} shares of
            {{ transactionName }} at
            {{ transaction.price | currencyFormat }}
            <span class="mx-2"> | </span>
            {{ Math.abs(transaction.amount) | currencyFormat }}
            total
          </div>
          <div v-else v-b-tooltip.hover.v-secondary.bottom="tooltipMessage">
            {{ transactionName }} at
            {{ transaction.price | currencyFormat }}
          </div>
        </h3>
      </div>
    </template>
    <template v-else-if="showTransactionTotals">
      <div class="d-flex justify-content-start align-items-center">
        <TransactionLogBadge :variant="transaction.subtype" class="mt-2 mr-2" />
        <h3
          class="mt-2 mb-0"
          v-b-tooltip.hover.v-secondary.bottom="tooltipMessage"
        >
          {{ Math.abs(transaction.amount) | currencyFormat }}
          {{ cashTransactionMessage }}
        </h3>
      </div>
    </template>
  </div>
</template>
<script>
import TransactionLogBadge from "@/components/transaction-history/TransactionLogBadge.vue";

export default {
  name: "TransactionPostDetails",
  components: {
    TransactionLogBadge,
  },
  props: {
    transaction: {
      type: Object,
      required: true,
    },
    showTransactionTotals: {
      // Several use cases require us to not reveal the total value of the transacton
      type: Boolean,
      default: false,
    },
  },
  computed: {
    transactionName() {
      // Sometimes the ticker symbol is blank. If so, fallback to the security name
      return this.transaction.ticker_symbol
        ? this.transaction.ticker_symbol
        : this.transaction.security_name;
    },
    cashTransactionMessage() {
      const connector =
        this.transaction.subtype == "dividend" ? "from " : "of ";
      return connector + this.transactionName;
    },
    tooltipMessage() {
      return this.transaction.ticker_symbol
        ? this.transaction.security_name
        : "No ticker symbol provided";
    },
  },
};
</script>
