<template>
  <div class="axios-example">
    <h2>Bitcoin Price Index</h2>
    <modal name="full-json-bitcoin" resizable="true" draggable="">
      <div class="container">
        <p><strong> Drag around and resize me! </strong></p>
      </div>
      <div class="container">
        {{ info }}
      </div>
    </modal>
    <section v-if="errored">
      <div class="container">
        <p>
          We're sorry, we're not able to retrieve this information at the
          moment, please try back later
        </p>
        <b-card>
          <b-skeleton animation="wave" width="85%"></b-skeleton>
          <b-skeleton animation="wave" width="55%"></b-skeleton>
          <b-skeleton animation="wave" width="70%"></b-skeleton>
        </b-card>
      </div>
    </section>

    <section v-else>
      <div v-if="loading">
        <div class="container">
          <b-card>
            <b-skeleton animation="wave" width="85%"></b-skeleton>
            <b-skeleton animation="wave" width="55%"></b-skeleton>
            <b-skeleton animation="wave" width="70%"></b-skeleton>
          </b-card>
        </div>
      </div>
      <div
        v-else
        v-for="currency in info"
        v-bind:key="currency.code"
        class="currency"
      >
        {{ currency.description }}:
        <span class="lighten">
          <span v-html="currency.symbol"></span
          >{{ currency.rate_float | currencydecimal }}
        </span>
      </div>
    </section>
    <b-button @click="show()" variant="info">Show full json response</b-button>
  </div>
</template>

<script>
export default {
  name: "AxiosExample",
  props: {
    msg: String
  },
  data() {
    return {
      info: null,
      loading: true,
      errored: false
    };
  },
  filters: {
    currencydecimal(value) {
      return value.toFixed(2);
    }
  },
  methods: {
    show() {
      this.$modal.show("full-json-bitcoin");
    },
    hide() {
      this.$modal.hide("full-json-bitcoin");
    }
  },
  mounted() {
    this.axios
      .get("https://api.coindesk.com/v1/bpi/currentprice.json")
      .then(response => {
        this.info = response.data.bpi;
      })
      .catch((this.errored = true))
      .finally(() => (this.loading = false));
  }
};
</script>
