// Graphic + Button for triggering InviteToEchoModal and inviting new users to the platform
<template>
  <div class="invite-your-friends-panel">
    <div class="d-flex flex-column">
      <p class="text-center mt-1"><b>Invest with your friends</b></p>
      <div class="align-self-center">
        <b-img
          class=""
          alt="Image"
          :src="`${publicPath}img/invite_your_friends.png`"
        />
      </div>
      <div class="pt-4 px-3">
        <base-button
          @click="openInviteToEchoModal"
          size="sm"
          :pill="true"
          :wide="true"
          :block="true"
          type="primary"
        >
          Invite
        </base-button>
      </div>
    </div>
    <decorative-circle
      class="invite-your-friends-background-circle-top-left"
      :radius="18"
    />
    <decorative-circle
      class="invite-your-friends-background-circle-top-right"
      :radius="12"
    />
    <decorative-circle
      class="invite-your-friends-background-circle-middle-right"
      :radius="6"
    />
    <decorative-circle
      class="invite-your-friends-background-circle-bottom-center"
      :radius="6"
    />
    <decorative-circle
      class="invite-your-friends-background-circle-bottom-right"
      :radius="16"
    />
  </div>
</template>

<script>
export default {
  name: "InviteYourFriendsPanel",
  methods: {
    openInviteToEchoModal() {
      const app = this.$app();
      app.$refs.item.open();
    },
  },
  created() {
    this.publicPath = process.env.BASE_URL;
  },
};
</script>

<style>
</style>