<template>
  <BaseInviteModal
    :modalName="modalName"
    :modalId="modalId"
    :parentProcessing="processing"
    :includeExistingUsers="false"
    :pendingInvites="pendingInvites"
    :inviteLink="inviteLink"
    @delete-invite="handleDeleteInvite"
    @send-invite="handleSendInvite"
  />
</template>

<script>
import BaseInviteModal from "@/components/base/modals/BaseInviteModal.vue";
import InvitesService from "@/services/invites.service.js";
export default {
  name: "InviteToEchoModal",
  components: { BaseInviteModal },
  computed: {
    pendingInvites() {
      return this.$store.getters["platformInvites/pendingInvites"] || {};
    },
  },
  data() {
    return {
      processing: false,
    };
  },
  methods: {
    async setInviteLink() {
      const response = await InvitesService.getPlatformReferralLink();
      // Should be static and unique to the user
      this.inviteLink = response.data["referral_link"];
    },
    handleDeleteInvite(id) {
      // Remove the invite based on it's id
      this.processing = true;
      this.$store.dispatch("platformInvites/delete__invite", id);
      this.processing = false;
    },
    handleSendInvite(recipientEmail) {
      this.processing = true;
      this.$store.dispatch("platformInvites/create__invite", recipientEmail);
      this.processing = false;
    },
    open() {
      this.setInviteLink().then(() => this.$modal.show(this.modalName));
    },
  },
  created() {
    // Private Fields
    // Initialize immediately to silence creation errors
    this.inviteLink = "";
    this.modalName = "invite-to-echo-modal";
    this.modalId = "item";
  },
};
</script>

<style>
</style>