<template>
  <base-modal-form
    :processing="processing"
    :name="modalName"
    :id="modalId"
    :isFormValid="validForm"
    :header="header"
    @close="close()"
    @submit="handleSubmit()"
  >
    <PortfolioInfoForm
      slot="form"
      :name="name"
      :description="description"
      @input="validate"
    />
  </base-modal-form>
</template>

<script>
import modalFormOpenCloseSubmitMixin from "@/mixins/modal-form-open-close-submit-mixin.js";
import PortfolioInfoForm from "@/components/buckets/forms/PortfolioInfoForm.vue";
export default {
  name: "EditPortfolioModal",
  mixins: [modalFormOpenCloseSubmitMixin],
  components: { PortfolioInfoForm },
  data() {
    return {
      processing: false,
      // Input Fields
      name: {
        value: "",
        state: null,
        error: null,
      },
      description: {
        value: "",
        state: null,
        error: null,
      },
    };
  },
  computed: {
    validForm() {
      return this.name.state && this.description.state ? true : false;
    },
  },
  methods: {
    // Use the event payload to determine which fields requires validation
    validate(inputName) {
      if (inputName === "name") {
        this.validateName();
      } else if (inputName === "description") {
        this.validateDescription();
      }
    },
    validateName() {
      if (this.name.value.length > 128) {
        this.name.state = false;
        this.name.error = "Good thinking, but that name is too long!";
      } else if (this.name.value.length == 0) {
        this.name.state = false;
        this.name.error = "Whoops, you forgot to give your portfolio a name!";
      } else {
        this.name.error = null;
        this.name.state = true;
      }
    },
    validateDescription() {
      if (this.description.value.length > 4000) {
        this.description.state = false;
        this.description.error = `Whoa that's too much strategy for us too handle! Would you mind
                    shortening it a bit?`;
      } else if (this.description.value.length == 0) {
        this.description.state = false;
        this.description.error = `Tell us a bit about this portfolio. You can come back to edit
                    this at any time.`;
      } else {
        this.description.error = null;
        this.description.state = true;
      }
    },
    openWith(portfolioId) {
      this.portfolioId = portfolioId;
      this.open();
    },
    load() {
      this.reset();
      const editableInfo = this.$store.getters[
        "portfolios/userPortfolios/portfolio_editableInfo__fromPortfolioId"
      ](this.portfolioId);
      /*
       * If the portfolio already has a name and description, prevalidate so the
       * user is not forced update already valid inputs
       */
      this.name.value = editableInfo.name;
      if (this.name.value) {
        this.validateName();
      }
      this.description.value = editableInfo.description;
      if (this.description.value) {
        this.validateDescription();
      }
    },
    reset() {
      this.processing = true;
      this.name.value = "";
      this.name.state = null;
      this.name.error = null;
      this.description.value = "";
      this.description.state = null;
      this.description.error = null;
      this.processing = false;
    },
    handleSubmit() {
      this.processing = true;
      this.$store.dispatch("portfolios/userPortfolios/update", {
        id: this.portfolioId,
        name: this.name.value,
        description: this.description.value,
      });
      this.reset();
      this.close();
      this.processing = false;
    },
  },
  created() {
    this.modalName = "edit-portfolio-form";
    this.modalId = "epf";
    this.header = "Edit Your Portfolio";
  },
};
</script>
