<template>
  <modal :id="modalId" :name="modalName" height="auto" draggable scrollable>
    <b-card align="left" class="border-0 m-2 rounded">
      <b-spinner variant="primary" v-if="processing" />
      <b-card-text v-else>
        <h2>
          Are you sure you would like to remove your portfolio: "{{
            portfolioName
          }}"?
        </h2>
        <small class="form-text text-muted">
          <!-- TODO: [https://app.clickup.com/t/tq5bme] List all the groups a user must leave -->
          You will also be removed from all groups that "{{ portfolioName }}" is
          a part of.
        </small>
        <!-- Cancel and Confirm Buttons -->
        <b-row>
          <b-col class="mt-5" align="center">
            <b-button @click="close()" variant="outline-primary" class="mr-1">
              Cancel
            </b-button>
            <b-button @click="handleSubmit()" variant="primary" class="mr-1">
              Confirm
            </b-button>
          </b-col>
        </b-row>
      </b-card-text>
    </b-card>
  </modal>
</template>

<script>
import toastNotificationsMixin from "@/mixins/toast-notifications-mixin";
import modalFormOpenCloseSubmitMixin from "@/mixins/modal-form-open-close-submit-mixin.js";
export default {
  name: "RemovePortfolioModal",
  mixins: [toastNotificationsMixin, modalFormOpenCloseSubmitMixin],
  data() {
    return {
      portfolioName: "",
      processing: false,
    };
  },
  methods: {
    openWith(portfolioId) {
      this.portfolioId = portfolioId;
      this.open();
    },
    load() {
      this.portfolioName =
        this.$store.getters["portfolios/userPortfolios"][this.portfolioId].name;
    },
    reset() {
      this.portfolioId = "";
      this.portfolioName = "";
    },
    handleSubmit() {
      this.$store.dispatch(
        "portfolios/userPortfolios/delete",
        this.portfolioId
      );
      const msg = `Successfully removed "${this.portfolioName}" from your account.`;
      this.makeToastNotification(msg, "Success");
      if (this.$router.currentRoute.params.portfolioId == this.portfolioId) {
        console.log("PARAMS MATCHED");
        this.$router.push("/");
      }
      this.reset();
      this.close();
    },
  },
  created() {
    // Private fields
    this.modalName = "remove-portfolio-modal";
    this.modalId = "rpm";
  },
};
</script>