// TODO: [https://app.clickup.com/t/1cdaput] Wire up this page to real data
<template>
  <div class="row align-items-center">
    <div class="col-sm-6">
      <div class="icon-actions">
        <a href="#" class="like active">
          <i class="ni ni-like-2"></i>
          <span class="text-muted">{{ likes }}</span>
        </a>
        <a href="#">
          <i class="ni ni-chat-round"></i>
          <span class="text-muted">{{ replies }}</span>
        </a>
      </div>
    </div>
    <div class="d-none d-sm-block col-sm-6">
      <div class="d-flex align-items-center justify-content-sm-end">
        <div class="avatar-group">
          <a
            href="#"
            data-toggle="tooltip"
            data-original-title="Jessica Rowland"
            class="rounded-circle avatar avatar-xs"
          >
            <!-- <img rounded="circle" src="img/theme/team-1.jpg" alt="Image placeholder" class=""> -->
          </a>
          <a
            href="#"
            data-toggle="tooltip"
            data-original-title="Audrey Love"
            class="avatar avatar-xs rounded-circle"
          >
            <!-- <img rounded="circle" src="img/theme/team-2.jpg" alt="Image placeholder" class=""> -->
          </a>
          <a
            href="#"
            data-toggle="tooltip"
            data-original-title="Michael Lewis"
            class="avatar avatar-xs rounded-circle"
          >
            <!-- <img rounded="circle" src="img/theme/team-3.jpg" alt="Image placeholder" class=""> -->
          </a>
        </div>
        <small v-if="likes > 3" class="pl-2 font-weight-bold"
          >and {{ likes_secondary }} more</small
        >
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    likes: {
      type: Number,
      default: 0,
    },
    replies: {
      type: Number,
      default: 0,
    },
  },
  computed: {
    likes_secondary() {
      if (this.likes <= 3) {
        return 0;
      } else {
        return this.likes - 3;
      }
    },
  },
};
</script>