<template>
  <badge :type="type" :pill="true">
    <span>{{ variant }}</span>
  </badge>
</template>
<script>
export default {
  name: "TransactionLogBadge",
  props: {
    variant: {
      type: String,
      default: "buy",
      // Options are
      // "buy" for a green 'success' badge
      // "sell" for red 'danger' badge
      // Anything else for 'primary'
    },
  },
  computed: {
    type() {
      if (this.variant == "buy") {
        return "success";
      } else if (this.variant == "sell") {
        return "danger";
      } else {
        return "primary";
      }
    },
  },
};
</script>