// Reusable base component for creating time series graphs, with a bias for
// area and line graphs. Defers responsibility of data fetching and augmenting
// the parent.
<template>
  <div>
    <VueApexCharts
      ref="ats_chart"
      :type="chartType"
      :height="height"
      :options="chartOptions"
      :series="series"
    />
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";
import { getMostRecentTradingDay } from "@/store/market-schedule-checker.js";
export default {
  name: "BaseTimeSeriesChart",
  components: {
    VueApexCharts,
  },
  props: {
    chartType: {
      // This component is optimized for use as ( "line" | "area")
      type: String,
      required: true,
    },
    isSparkline: {
      type: Boolean,
      default: false,
    },
    height: {
      type: Number,
      default: 300,
    },
    series: {
      /*
       * Array of [timestamp, value] pairs
       * Example: [[1327359600000, 30.95], [1327446000000, 31.34]]
       */
      type: Array,
      required: true,
    },
    selectedTimeline: {
      // Ex: ("1D")
      type: String,
      required: true,
    },
    showDataTooltips: {
      // Toggle the on hover tooltips for data points
      type: Boolean,
      default: true,
    },
  },
  computed: {
    chartOptions() {
      let fillOptions = {};
      if (!this.isSparkline && this.chartType === "area") {
        fillOptions = {
          type: "gradient",
          gradient: {
            shadeIntensity: 0,
            inverseColors: false,
            opacityFrom: 0.9,
            opacityTo: 0.2,
            stops: [0, 80],
          },
        };
      }
      return {
        chart: {
          animations: {
            enabled: true,
            easing: "easein",
            speed: 1000,
            animateGradually: {
              enabled: true,
              delay: 150,
            },
            dynamicAnimation: {
              enabled: true,
              speed: 200,
            },
          },
          type: this.chartType,
          stacked: false,
          zoom: {
            enabled: false,
          },
          toolbar: {
            show: false,
          },
          foreColor: "#8898aa",
          sparkline: {
            enabled: this.isSparkline,
          },
        },
        colors: ["#5e72e4", "#546E7A"],
        dataLabels: {
          enabled: false,
        },
        fill: fillOptions,
        yaxis: {
          show: false,
        },
        xaxis: {
          type: "datetime",
          axisTicks: {
            show: false,
          },
          axisBorder: {
            show: false,
          },
        },
        grid: {
          show: false,
        },
        tooltip: {
          enabled: this.showDataTooltips,
        },
      };
    },
  },
  methods: {
    setDataTimeline(timeline) {
      const mostRecentTradingDayDate = getMostRecentTradingDay();
      // Set the upper bound
      const marketCloseMostRecentTradingDayDate = new Date(
        mostRecentTradingDayDate.getTime()
      );
      marketCloseMostRecentTradingDayDate.setUTCHours(21);
      const marketCloseMostRecentTradingDayUnixMS =
        marketCloseMostRecentTradingDayDate.getTime();

      // Set the lower bound
      const marketOpenMostRecentTradingDayDate = new Date(
        mostRecentTradingDayDate.getTime()
      );
      marketOpenMostRecentTradingDayDate.setUTCHours(14, 30);
      const marketOpenMostRecentTradingDayUnixMS =
        marketOpenMostRecentTradingDayDate.getTime();
      switch (timeline) {
        case "1D":
          this.$refs.ats_chart.zoomX(
            marketOpenMostRecentTradingDayUnixMS,
            marketCloseMostRecentTradingDayUnixMS
          );
          break;
        case "1W":
          this.$refs.ats_chart.zoomX(
            marketOpenMostRecentTradingDayUnixMS - 604800000,
            marketCloseMostRecentTradingDayUnixMS
          );
          break;
        case "1M":
          this.$refs.ats_chart.zoomX(
            marketOpenMostRecentTradingDayUnixMS - 2628000000,
            marketCloseMostRecentTradingDayUnixMS
          );
          break;
        case "3M":
          this.$refs.ats_chart.zoomX(
            marketOpenMostRecentTradingDayUnixMS - 7884000000,
            marketCloseMostRecentTradingDayUnixMS
          );
          break;
        case "1Y":
          this.$refs.ats_chart.zoomX(
            marketOpenMostRecentTradingDayUnixMS - 31540000000,
            marketCloseMostRecentTradingDayUnixMS
          );
          break;
        case "ALL":
          this.$refs.ats_chart.zoomX();
          break;
        default:
      }
    },
  },
  watch: {
    selectedTimeline: {
      handler: function (newTimeline) {
        this.setDataTimeline(newTimeline);
      },
    },
  },
  mounted() {
    // Make sure the correct zoom is set on initial load
    this.setDataTimeline(this.selectedTimeline);
  },
};
</script>