.base-thumbnail-container {
  border-radius: 5px;
  cursor: pointer;
  transition: $transition-base;
  &:hover {
    transform: scale(105%);
  }
  div b {
    /* Shrink the font-size of the group name such that the thumbnails fit within the container */
    font-size: 85%;
  }
}
