.global-search-bar {
  width: 100%;
  li {
    width: 100%;
    form {
      width: 100%;
      input {
        min-width: 100%;
      }
    }
  }
}

.results-panel {
  min-width: 100%;
}
.search-panel {
  min-width: 50%;
  max-height: 500px;
  position: absolute;
  overflow: hidden;
  z-index: 10;
}
.results-panel-body-column {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 300px;
  min-height: 300px;
}

.search-result-item {
  cursor: pointer;
  &:hover {
    background-color: $secondary;
    transform: scale(105%);
  }
}
