.greeting-card {
  background-image: $onboarding-card-bg-color;
  width: 100%;
  .card-body {
    div {
      h1,
      h3,
      p {
        color: white;
      }
    }
    .overview-container {
      max-width: 400px;
    }
    .onboarding-container {
      h1 {
        font-size: 2.5 * $font-size-base;
      }
      h3 {
        font-size: $font-size-xl;
      }
      .planet {
        position: absolute;
        left: 75%;
        top: 5%;
        transform: scale(0.65);
      }
      .rocket {
        position: absolute;
        left: 75%;
        top: 20%;
      }
      .stars {
        position: absolute;
        width: 95%;
        height: 80%;
        img {
          // Remove the aspect ratio but fill the container
          width: 0;
          height: 0;
          min-width: 100%;
          min-height: 100%;
        }
      }
    }
  }
}
