.group-discovery-card {
  width: 350px;
  .card-header {
    padding: 0.83rem 1rem;
    background-color: $primary;
    div div {
      h3,
      h4 {
        margin-bottom: 0%;
        color: white;
      }
      h4 {
        cursor: pointer;
        transition: $transition-base;
        &:hover {
          transform: scale(105%);
        }
      }
    }
  }
  .card-body {
    padding: 0rem;
    overflow-y: auto;
    max-height: 300px;
    min-height: 300px;
    div .group-thumbnail-container {
      width: 90%;
      height: 90px;
      padding: 0%;
      img {
        font-size: $font-size-xl;
      }
      div {
        b {
          font-size: $font-size-lg;
        }
        small {
          padding-left: 0.15rem;
          font-size: $font-size-base;
        }
      }
    }
  }
}
