.group-overview-card {
  cursor: pointer;
  transition: $transition-base;
  &:hover {
    transform: scale(105%);
  }
  .card-body {
    .group-overview-container {
      .avatar {
        // Override the avatar margins
        margin-top: 0em;
        margin-left: 0em;
      }
      .title {
        font-size: $font-size-lg;
      }
    }
  }
}
