.invite-your-friends-panel {
  background: rgba(255, 153, 80, 0.33);
  height: 220px;
}
.invite-your-friends-background-circle-top-left {
  position: relative;
  display: inline-block;
  left: 8.03%;
  bottom: 62.89%;
}
.invite-your-friends-background-circle-top-right {
  position: relative;
  display: inline-block;
  left: 78.03%;
  bottom: 71.78%;
}
.invite-your-friends-background-circle-middle-right {
  position: relative;
  display: inline-block;
  left: 78.03%;
  bottom: 51.78%;
}
.invite-your-friends-background-circle-bottom-center {
  position: relative;
  display: inline-block;
  left: 48.03%;
  bottom: -8px;
}
.invite-your-friends-background-circle-bottom-right {
  position: relative;
  display: inline-block;
  left: 65.47%;
  bottom: -8px;
}
