.metric-positive {
  color: $metric-pink;
}

.metric-negative {
  color: $metric-purple;
}

.metric-title {
  color: $metric-neutral;
}

.risk-metrics-card {
  $base-width: 300px;
  display: inline-block;
  width: $base-width;
  padding: 12px 8px 0px;
  &-xl {
    @extend .risk-metrics-card;
    width: $base-width * 1.5;
  }
}
