.portfolio-privacy-badge {
  border: 0.5px solid $primary;
  box-sizing: border-box;
  border-radius: 10px;
  color: $primary;
  text-align: center;
  font-size: 0.75rem;
  span {
    padding: 0.5rem;
  }
}

.sidebar-portfolio-group {
  cursor: pointer;
  transition: $transition-base;
  &:hover {
    transform: scale(105%);
  }
  span a {
    color: inherit;
  }
}
