<template>
  <b-form-textarea
    v-add-input-validation-class="post.state"
    rows="2"
    :placeholder="placeholder"
    v-model="post.value"
    @input="validateNewPost(post)"
  ></b-form-textarea>
</template>

<script>
import validateNewPost from "@/form-validation/validate-new-post.js";

export default {
  name: "PostTextArea",
  mixins: [validateNewPost],
  props: {
    post: {
      value: {
        type: String,
        required: true,
      },
      state: {
        type: Boolean,
        required: true,
      },
      error: {
        type: String,
        required: true,
      },
      type: Object,
      required: true,
    },
    placeholder: {
      type: String,
      required: true,
    },
  },
};
</script>

<style>
</style>