// A default implementation of info tooltip with the info icon
<template>
  <div class="d-inline">
    <b-icon-info-circle-fill
      :id="popoverTarget"
      class="ml-2"
      :font-scale="scale"
    />
    <b-popover :target="popoverTarget" triggers="hover" :placement="placement">
      <template v-if="title" #title> {{ title }} </template>
      {{ description }}
    </b-popover>
  </div>
</template>

<script>
export default {
  name: "InfoTooltip",
  props: {
    // The content for the header/title. No header will be rendered if not provided
    title: {
      type: String,
    },
    // The content for the body of the tooltip
    description: {
      type: String,
      required: true,
    },
    // A way to uniquely connect the popover to the tooltip icon
    identifier: {
      type: String,
      required: true,
    },
    scale: {
      // Allow the parent to adjust the size as necessary
      type: String,
      default: "0.85",
    },
    placement: {
      // The orientation of the popover
      type: String,
      default: "bottom",
    },
  },
  computed: {
    popoverTarget() {
      return `${this.identifier}-popover`;
    },
  },
};
</script>