<template>
  <b-col>
    <TransactionPostList :groupId="groupId" :showTransactionTotals="false" />
  </b-col>
</template>
<script>
import TransactionPostList from "@/components/posts/TransactionPostList.vue";
export default {
  name: "GroupTradeLog",
  components: {
    TransactionPostList,
  },
  props: {
    groupId: {
      type: String,
      required: true,
    },
  },
};
</script>
<style>
</style>