<template>
  <div class="matrix-comparison">
    <div class="matrix-comparison__header">
      <div class="matrix-comparison__title ml-2 mt-2">Group Leaders</div>
      <TimeSeriesSelectorButtons
        @timeline-selected="getTimeSeriesData($event)"
        :selectedTimeline="selectedTimeline"
        :timelines="timelines"
      />
    </div>
    <div class="matrix">
      <div
        class="matrix__item"
        v-for="(item, index) in percentArr"
        :key="index"
        :style="`margin-top: ${setPosition(
          item.percent
        )};`"
      >
        <div style="font-weight: bold">
          {{ users[item.user_id].short_name }}
        </div>
        <UserThumbnail
          class="card"
          :path="`${publicPath}${users[item.user_id].avatar_img}`"
          :shortName="users[item.user_id].first_name"
          :fallback="users[item.user_id].first_name[0]"
          :color="users[item.user_id].color_bg_hex"
          :percent="item.percent | percentChangeFormat"
          type="group"
        />
      </div>
    </div>
  </div>
</template>
<script>
import UserThumbnail from "@/components/user/UserThumbnail.vue";
import TimeSeriesSelectorButtons from "@/components/base/TimeSeriesSelectorButtons";
import { GRANULARITIES } from "@/constants/twelvedata-constants.js";

export default {
  name: "GroupMatrixComparison",
  components: {
    UserThumbnail,
    TimeSeriesSelectorButtons,
  },
  props: {
    groupId: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      selectedTimeline: "5MIN",
      portfolios: [],
      percentArr: [],
      matrixHeight: 250,
    };
  },
  computed: {
    users() {
      return this.$store.getters["accounts/getGroupUsers"](this.groupId);
    },
    selectedGranularity() {
      // Granularities are based on https://twelvedata.com/docs#stocks
      switch (this.selectedTimeline) {
        case "5MIN":
          return GRANULARITIES.FIVE_MIN;
        case "1H":
          return GRANULARITIES.ONE_HOUR;
        case "1D":
          return GRANULARITIES.ONE_DAY;
        case "1W":
          return GRANULARITIES.ONE_WEEK;
        default:
          throw `'${this.selectedTimeline}' is not supported by GroupMatrixComparison`;
      }
    },
    getLargestPercent() {
      return Math.max(...this.percentArr.map((item) => item.percent));
    },
  },
  methods: {
    setPosition(percent) {
      let height = (percent / this.getLargestPercent) * 50;
      return 50 - height + 'px';
    },
    async getGroupPortfolios() {
      const response = await this.$store.dispatch(
        "portfolios/getGroupPortfolios",
        this.groupId
      );
      this.portfolios = response.data;
    },
    async setTimeseriesData(portfolioId) {
      await this.$store.dispatch("portfolioHistory/refresh_portfolio_history", {
        portfolioId: portfolioId,
        granularity: this.selectedGranularity,
      });
      this.timeseriesData = this.$store.getters[
        "portfolioHistory/reverse_chronological_timeseries__from_id_granularity"
      ]({
        id: portfolioId,
        granularity: this.selectedGranularity,
      });
    },
    async getTimeSeriesData(timeline) {
      this.selectedTimeline = timeline;
      await Promise.all(
        this.portfolios.map(async (portfolio) => {
          await this.setTimeseriesData(portfolio.id);
        })
      );

      this.percentArr = [];

      const topSixPortfolios = this.portfolios.slice(0, 6);

      topSixPortfolios.forEach((portfolio) => {
        const percent =
          ((parseFloat(portfolio.balance_current) -
            portfolio.total_cost_basis) /
            portfolio.total_cost_basis) *
          100;
        const returnPercentObject = {
          ["user_id"]: portfolio.user_id,
          ["percent"]: percent,
        };
        this.percentArr.push(returnPercentObject);
      });
    },
  },
  async created() {
    this.publicPath = process.env.BASE_URL;
    this.marginStep = 1;
    this.timelines = ["5MIN", "1H", "1D", "1W"];

    this.$on("timeline-selected", async (timeline) => {
      this.selectedTimeline = timeline;
      await this.getGroupPortfolios();
      await this.getTimeSeriesData(this.selectedTimeline);
    });
  },
};
</script>
<style lang="scss" scoped>
.matrix-comparison {
  padding: 3px 7px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  .matrix {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 3px 0;

    &__item {
      text-align: center;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
  }
}
</style>