<template>
  <div>
    <GroupPostDetailModal :groupId="groupId" />
    <GroupPostModal :groupId="groupId" />
    <GroupMatrixComparision class="matrix" :groupId="groupId" />
    <GroupPostList :groupId="groupId" />
  </div>
</template>
<script>
import GroupMatrixComparision from "@/components/group/tabs/GroupMatrixComparision";
import GroupPostList from "@/components/posts/GroupPostList.vue";
import GroupPostModal from "@/components/posts/modals/GroupPostModal.vue";
import GroupPostDetailModal from "@/components/posts/modals/GroupPostDetailModal.vue";
export default {
  components: {
    GroupMatrixComparision,
    GroupPostList,
    GroupPostModal,
    GroupPostDetailModal,
  },
  props: {
    groupId: {
      type: String,
      required: true,
    },
  },
};
</script>
<style lang="scss" scoped>
.matrix {
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 19px;
}
</style>