<template>
    <div class="d-flex flex-row">
          <group-members-list />
          <group-members-list />
    </div>
</template>
<script>
import GroupMembersList from '@/components/group/GroupMembersList.vue'

export default {
    data() {
        return {
            group: {
                members: [
                    {
                        'name':'GROOT',
                        "bucket_name":"I AM GROOT",
                        "return": '10',
                        "user_id": "9274799b-3315-4488-9da3-049d7739169a",
                        "bucket_id": "a6305be5-3973-485c-ab2f-416c9cfc4013",
                        "datetime_joined": "2021-01-23T23:27:42.776693Z",
                        "type": "O",
                        "status": "A"
                    },
                    {
                        'name':'AGROOT',
                        "bucket_name":"I AM GROOT",
                        "return": '10',
                        "user_id": "a29b8192-453a-40fa-b143-b74353496911",
                        "bucket_id": null,
                        "datetime_joined": "2021-01-24T19:05:10.078454Z",
                        "type": "S",
                        "status": "A"
                    }
                ]
            }
        }
    },
    components: {
        GroupMembersList
    }
}
</script>
<style >

</style>