<template>
  <div class="overview-container d-flex flex-row justify-content-between">
    <b-skeleton-wrapper :loading="loading">
      <template #loading>
        <b-skeleton-img no-aspect width="400px" height="250px" />
      </template>
      <div class="align-self-center">
        <CompositeDoughnutChart :chartData="chartData" />
      </div>
      <div>
        <template v-for="(label, index) of chartData.labels">
          <b-row
            v-if="index < maxHoldings && label != ''"
            :key="label"
            @click="showStockDetailPage(label)"
            class="stock-cell-container"
          >
            <b-col align-self="center" cols="1">
              <decorative-circle
                :radius="16"
                :color="chartData.colors[index]"
              />
            </b-col>
            <b-col class="text-left">
              <b>
                {{
                  ((chartData.values[index] / aggregatePortfolioBalance) * 100)
                    | percentFormat
                }}
                {{ label }}
              </b>
            </b-col>
          </b-row>
        </template>
        <!-- The non-top + and noTicker holdings. Only create once, and only if neccesary  -->
        <b-row v-if="showOtherHoldingsValue">
          <b-col align-self="center" cols="1">
            <decorative-circle :radius="16" color="grey" />
          </b-col>
          <b-col class="text-left">
            <b>
              {{
                ((otherHoldingsValue / aggregatePortfolioBalance) * 100)
                  | percentFormat
              }}
              Other
            </b>
          </b-col>
        </b-row>
      </div>
    </b-skeleton-wrapper>
  </div>
</template>

<script>
import CompositeDoughnutChart from "@/components/charts/CompositeDoughnutChart.vue";
import { randomColor } from "randomcolor";

export default {
  name: "CompositeHoldingsCard",
  components: {
    CompositeDoughnutChart,
  },
  computed: {
    aggregatePortfolioBalance() {
      return this.$store.getters[
        "portfolios/userPortfolios/aggregatePortfolioBalance"
      ];
    },
    aggregateHoldings() {
      return (
        this.$store.getters["portfolios/userPortfolios/aggregateHoldings"] ||
        null
      );
    },
    chartData() {
      let labels = [];
      let values = [];
      let colors = [];
      if (this.aggregateHoldings != null) {
        const holdings = this.aggregateHoldings;
        Object.entries(holdings)
          .sort(([, a], [, b]) => b - a) // Sort the entries from highest to lowest value
          .forEach(([tickerSymbol, value], index) => {
            labels.push(tickerSymbol);
            values.push(value);
            colors.push(
              // TODO: [https://app.clickup.com/t/qh8vf6] Set this to primary or secondary color
              randomColor({
                hue: "#5e72e4",
                format: "hex",
                seed: index,
              })
            );
          });
      }
      return {
        labels: labels,
        values: values,
        colors: colors,
      };
    },
    loading() {
      return (
        this.aggregatePortfolioBalance == 0 || this.aggregateHoldings == null
      );
    },
    otherHoldingsValue() {
      return (
        this.getNonTopHoldingsValue(this.maxHoldings) +
        this.getNoTickerSymbolHoldingsValue()
      );
    },
    showOtherHoldingsValue() {
      return (
        this.chartData.labels.length >= this.maxHoldings ||
        this.chartData.labels.includes("")
      );
    },
  },
  methods: {
    getNonTopHoldingsValue(numTopHoldings) {
      // Used to calculate what percentage of investments is not made of the top maxHoldings
      return this.chartData.values.reduce(function (
        totalValue,
        holdingValue,
        index
      ) {
        return index >= numTopHoldings ? totalValue + holdingValue : totalValue;
      },
      0);
    },
    getNoTickerSymbolHoldingsValue() {
      const index = this.chartData.labels.findIndex((label) => label === "");
      return this.chartData.values[index] || 0;
    },
    showStockDetailPage(symbol) {
      this.$router.push({ path: `/stock/${symbol}` });
    },
  },
  created() {
    this.maxHoldings = 8; // Abritrary, based on the amount of avaiable space
  },
};
</script>

<style>
</style>