<template>
  <div class="overview-container">
    <b-skeleton-wrapper :loading="lastUpdated == 0">
      <template #loading>
        <b-skeleton-img no-aspect width="400px" height="200px" />
      </template>
      <h1>Hi {{ firstName }},</h1>
      <h3>
        You're <span v-if="currentDayCompositeCashChange >= 0"> up </span
        ><span v-else> down </span>
        <b>
          {{ currentDayCompositeCashChange | currencyChangeFormat }} ({{
            currentDayCompositePercentChange | percentChangeFormat
          }})
        </b>
        today, and
        <span
          v-if="
            allTimeCompositeCashChange >= 0 ==
            currentDayCompositeCashChange >= 0
          "
        >
        </span>
        <span v-else-if="allTimeCompositeCashChange >= 0"> up </span
        ><span v-else> down </span>
        <b>
          {{ allTimeCompositeCashChange | currencyChangeFormat }} ({{
            allTimeCompositePercentChange | percentChangeFormat
          }})
        </b>
        all time.
      </h3>
      <br />
      <p class="mb-0 text-center">
        <b>Last Updated: {{ lastUpdated | humanizeDateTime }}</b>
      </p>
    </b-skeleton-wrapper>
  </div>
</template>


<script>
export default {
  name: "GreetingOverviewCard",
  computed: {
    firstName() {
      return this.$store.getters["accounts/userAccount"].first_name;
    },
    // Compile the return data for the current day for every portfolio of the user
    currentDayCompositeReturnData() {
      const compositeReturnData = { open: 0, current: 0, lastUpdated: 0 };
      for (const portfolioId of this.$store.getters[
        "portfolios/userPortfolios/all_portfolioIds"
      ]) {
        const currentPortfolioReturnData =
          this.getDailyReturnDataFor(portfolioId);
        compositeReturnData["open"] =
          compositeReturnData["open"] + currentPortfolioReturnData["open"];
        compositeReturnData["current"] =
          compositeReturnData["current"] +
          currentPortfolioReturnData["current"];
        compositeReturnData["lastUpdated"] =
          compositeReturnData["lastUpdated"] >
          currentPortfolioReturnData["lastUpdated"]
            ? compositeReturnData["lastUpdated"]
            : currentPortfolioReturnData["lastUpdated"];
      }
      return compositeReturnData;
    },
    lastUpdated() {
      return this.currentDayCompositeReturnData["lastUpdated"];
    },
    // Compile the cash and percent return for every portfolio of the user for the current day
    currentDayCompositeCashChange() {
      return (
        this.currentDayCompositeReturnData["current"] -
        this.currentDayCompositeReturnData["open"]
      );
    },
    currentDayCompositePercentChange() {
      return (
        ((this.currentDayCompositeReturnData["current"] -
          this.currentDayCompositeReturnData["open"]) /
          this.currentDayCompositeReturnData["open"]) *
        100
      );
    },
    // Compile the cash and percent return for every portfolio of the user for all time
    allTimeCompositeCashChange() {
      return (
        this.$store.getters[
          "portfolios/userPortfolios/aggregatePortfolioBalance"
        ] - this.$store.getters["portfolios/userPortfolios/aggregateCostBasis"]
      );
    },
    allTimeCompositePercentChange() {
      return (
        ((this.$store.getters[
          "portfolios/userPortfolios/aggregatePortfolioBalance"
        ] -
          this.$store.getters["portfolios/userPortfolios/aggregateCostBasis"]) /
          this.$store.getters["portfolios/userPortfolios/aggregateCostBasis"]) *
        100
      );
    },
  },
  methods: {
    getDailyReturnDataFor(portfolioId) {
      return this.$store.getters["portfolioHistory/daily_return_data__from_id"](
        portfolioId
      );
    },
  },
};
</script>

<style>
</style>