<template>
  <div class="mx-auto text-center onboarding-container">
    <div class="stars">
      <b-img alt="Image" :src="`${publicPath}img/onboarding_stars.png`" />
    </div>
    <div class="planet">
      <b-img
        alt="Image"
        :src="`${publicPath}img/group_avatars/White_Planet.png`"
      />
    </div>
    <div class="rocket">
      <b-img alt="Image" :src="`${publicPath}img/onboarding_rocket_ship.png`" />
    </div>
    <h1>Hi {{ firstName }}</h1>
    <h3>Import a portfolio to get started</h3>
    <br />
    <div class="w-25 mx-auto" style="position: relative">
      <base-button
        size="lg"
        type="primary"
        wide
        block
        @click="openLinkPortfolioForm()"
      >
        Get Started
      </base-button>
    </div>
  </div>
</template>

<script>
import plaidLinkMixin from "@/mixins/plaid-link-mixin.js";
export default {
  name: "GreetingOnboardingCard",
  mixins: [plaidLinkMixin],
  computed: {
    firstName() {
      return this.$store.getters["accounts/userAccount"].first_name;
    },
  },
  created() {
    this.publicPath = process.env.BASE_URL;
  },
};
</script>

<style>
</style>