<template>
  <GroupOverviewCarousel :groupIds="groupIds" />
</template>

<script>
import GroupOverviewCarousel from "@/components/group/GroupOverviewCarousel.vue";
export default {
  name: "UserGroupOverviewCarousel",
  components: { GroupOverviewCarousel },
  computed: {
    groupIds() {
      return this.$store.getters["groups/userGroupsIds"];
    },
  },
};
</script>

<style>
</style>