<template>
  <div class="transaction" v-if="transaction.is_trade">
    <div class="d-flex justify-content-center align-items-center">
      <TransactionLogBadge :variant="transaction.subtype" class="mr-1" />
      <div class="transaction__name">{{ transactionName }}</div>
      <div class="transaction__price">
        at {{ transaction.price | currencyFormat }}
      </div>
      <div class="transaction__percent">10% of portfolio (was 0%)</div>
    </div>
    <div>{{ transaction.date | humanizeDateTime }}</div>
  </div>
</template>

<script>
import TransactionLogBadge from "@/components/transaction-history/TransactionLogBadge.vue";
import { createNamespacedHelpers } from "vuex";
const { mapState } = createNamespacedHelpers("transactions");
export default {
  name: "ProfileTradeCard",
  components: {
    TransactionLogBadge,
  },
  props: {
    transactionId: {
      type: String,
      required: true,
    },
  },
  computed: {
    ...mapState({
      transaction(state) {
        return state.allTransactions[this.transactionId];
      },
    }),
    transactionName() {
      // Sometimes the ticker symbol is blank. If so, fallback to the security name
      return this.transaction.ticker_symbol
        ? this.transaction.ticker_symbol
        : this.transaction.security_name;
    },
  },
};
</script>

<style scoped lang="scss">
.transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ebebeb;
  padding: 12px;
  border-radius: 2px;

  &__name {
    color: $primary;
    font-weight: 700;
    font-size: $font-size-sm;
    line-height: 18px;
    margin-left: 0.3rem;
  }

  &__price {
    color: $black;
    font-weight: 700;
    font-size: $font-size-sm;
    line-height: 18px;
    margin-left: 0.3rem;
  }

  &__percent {
    margin-left: 0.3rem;
    font-weight: 400;
    font-size: $font-size-sm;
    line-height: 18px;
  }
}
</style>