<template>
  <div class="mb-2">
    <div class="transaction-post-list" @scroll="onScroll">
      <div
        class="mt-3"
        v-for="transaction in filteredTransactions"
        :key="transaction.id"
      >
        <ProfileTradeCard :transactionId="transaction.id" />
      </div>
      <div v-if="loading" class="spinner d-flex justify-content-center">
        <div class="spinner-border"></div>
      </div>
    </div>
  </div>
</template>
<script>
import ProfileTradeCard from "@/components/profile/ProfileTradeCard.vue";
import scrollHandlerMixin from "@/mixins/scroll-handler-mixin.js";
import { createNamespacedHelpers } from "vuex";
import { LOAD_TRANSACTIONS } from "@/store/mutation-types.js";
import { cloneDeep } from "lodash";
import authHeader from "@/services/auth-header.js";
import axiosWrapper from "@/services/axios-wrapper.js";

const { mapMutations } = createNamespacedHelpers("transactions");
export default {
  name: "ProfileTradeList",
  components: {
    ProfileTradeCard,
  },
  mixins: [scrollHandlerMixin],
  props: {
    portfolioId: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      loading: false,
      transactions: [],
      nextUrl: null,
    };
  },
  computed: {
    filteredTransactions() {
      return this.transactions.filter((transaction) => transaction.is_trade);
    },
  },
  methods: {
    /* Functions for handling Transaction/Component data */
    ...mapMutations({
      commitTransactionsToStore: LOAD_TRANSACTIONS,
    }),
    initializeTransactions() {
      this.loading = true;
      this.$store
        .dispatch("transactions/getTransactions", {
          portfolioId: this.portfolioId,
        })
        .then((response) => {
          this.transactions = response.data.results;
          this.nextUrl = response.data.next;
        });
      this.loading = false;
    },
    loadAdditionalTransactions() {
      if (this.nextUrl) {
        this.loading = true;
        axiosWrapper
          .get(this.nextUrl, {
            headers: authHeader(),
          })
          .then((response) => {
            const _transactions = cloneDeep(response.data.results);
            this.commitTransactionsToStore(_transactions);
            this.transactions.push(...response.data.results);
            this.nextUrl = response.data.next;
          });
        this.loading = false;
      }
    },
    // Create an infinite scrolling effect
    async handleScrollToBottom() {
      await this.loadAdditionalTransactions();
    },
  },
  watch: {
    portfolioId: {
      handler: "initializeTransactions",
      immediate: false,
    },
  },
  mounted() {
    this.initializeTransactions();
  },
};
</script>
<style lang="scss">
.transaction-post-list {
  overflow-y: auto;
  max-height: 450px;
  min-height: 450px;
}
</style>
