<template>
  <div>
    <b-skeleton-wrapper :loading="loading">
      <template #loading>
        <div>
          <b-skeleton type="input" />
        </div>
      </template>
      <template #default>
        <div :class="'editor__header'">
          <button
            @click="editor.chain().focus().toggleBold().run()"
            :class="{ 'is-active': editor.isActive('bold') }"
          >
            <font-awesome-icon icon="bold" />
          </button>
          <button
            @click="editor.chain().focus().toggleItalic().run()"
            :class="{ 'is-active': editor.isActive('italic') }"
          >
            <font-awesome-icon icon="italic" />
          </button>
          <button
            @click="editor.chain().focus().toggleBulletList().run()"
            :class="{ 'is-active': editor.isActive('bulletList') }"
          >
            <font-awesome-icon icon="list-ul" />
          </button>
          <button @click="setLink">
            <font-awesome-icon icon="link" />
          </button>
          <button @click="addImage">
            <font-awesome-icon icon="file-image" />
          </button>
        </div>
        <editor-content :editor="editor" />
      </template>
    </b-skeleton-wrapper>
  </div>
</template>

<script>
import { Editor, EditorContent } from "@tiptap/vue-2";
import Mention from "@tiptap/extension-mention";
import StarterKit from "@tiptap/starter-kit";
import { suggestion, stockSuggestion } from "@/components/editor/suggestion.js";
export default {
  name: "Editor",
  components: {
    EditorContent,
  },
  props: {
    groupId: {
      type: String,
      required: false,
    },
    value: {
      type: String,
      default: "",
    },
    isInline: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      editor: null,
      users: [],
    };
  },
  computed: {
    loading() {
      return this.editor == null;
    },
  },
  methods: {
    async getUsersForGroup(groupId) {
      return (
        (await this.$store.dispatch("accounts/getAccountsByGroup", groupId)) ||
        []
      );
    },
    async loadUsers() {
      if (this.groupId) {
        this.users = await this.getUsersForGroup(this.groupId);
      } else {
        // Until features like following/friends are allowed, only allow userMentions
        // for accounts the user shares a group with, when not posting in a specific group
        const promises = [];
        for (const groupId of this.$store.getters["groups/userGroupsIds"]) {
          promises.push(this.getUsersForGroup(groupId));
        }
        const responses = await Promise.all(promises);
        // Dedupe the results
        const addedUsersByHandle = [];
        for (const response of responses) {
          response.forEach(
            function (user) {
              if (!addedUsersByHandle.includes(user.handle)) {
                addedUsersByHandle.push(user.handle);
                this.users.push(user);
              }
            }.bind(this)
          );
        }
      }
    },
    addImage() {
      const url = window.prompt("URL");

      if (url) {
        this.editor.chain().focus().setImage({ src: url }).run();
      }
    },
    setLink() {
      const previousUrl = this.editor.getAttributes("link").href;
      const url = window.prompt("URL", previousUrl);

      // cancelled
      if (url === null) {
        return;
      }

      // empty
      if (url === "") {
        this.editor.chain().focus().extendMarkRange("link").unsetLink().run();

        return;
      }

      // update link
      this.editor
        .chain()
        .focus()
        .extendMarkRange("link")
        .setLink({ href: url })
        .run();
    },
    setMinEditorHeightVar() {
      document.documentElement.style.setProperty(
        "--min-editor-height",
        this.isInline ? "50px" : "250px"
      );
    },
  },
  watch: {
    value(value) {
      const isSame = this.editor.getHTML() === value;

      if (isSame) {
        return;
      }

      this.editor.commands.setContent(value, false);
    },
    groupId: {
      handler: "loadUsers",
      immediate: false,
    },
  },
  async mounted() {
    this.setMinEditorHeightVar();
    await this.loadUsers();
    let names = this.users.reduce(function (allNames, user) {
      allNames.push(user.full_name);
      return allNames;
    }, []);
    this.editor = new Editor({
      extensions: [
        StarterKit,
        Mention.extend({
          name: "userMention",
        }).configure({
          HTMLAttributes: {
            class: "mention",
          },
          suggestion: suggestion("@", names, "userSuggestion"),
        }),
        Mention.extend({
          name: "stockMention",
          renderHTML: ({ node }) => {
            return [
              "a",
              {
                class: "mention",
                stockKey: node.attrs.id,
                href: `/stock/${node.attrs.id}`,
              },
              "$" + node.attrs.id,
            ];
          },
          parseHTML() {
            return [
              {
                tag: "a",
                getAttrs: (dom) => {
                  const id = dom.getAttribute("stockKey");
                  const label = dom.innerText.trim().split("$").join(""); // trim removes white space around text
                  return { id, label };
                },
              },
            ];
          },
        }).configure({
          HTMLAttributes: {
            class: "mention",
          },
          suggestion: stockSuggestion("$", "stockSuggestion"),
        }),
      ],
      content: this.value,
      onUpdate: () => {
        this.$emit("input", this.editor.getHTML());
      },
      editorProps: {
        attributes: {
          class: "editor",
        },
      },
    });
  },
  beforeUnmount() {
    this.editor.destroy();
  },
};
</script>

<style lang="scss">
.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }
}

.editor {
  outline: none;
  border: 1px solid $gray-400;
  padding: 10px;
  min-height: var(--min-editor-height);
  max-height: 350px;
  overflow-y: auto;

  &__header {
    height: 50px;
    display: flex;
    align-items: center;
    background: $gray-400;
    padding: 6px 22px;

    button {
      border: none;
      background: none;
      margin-left: 5px;
    }
  }
}

.is-active {
  color: $primary;
}
</style>