// Container to display Best and Worst performance badges together
<template>
  <b-row>
    <DWMPerformanceBadges
      :best="true"
      :metricValues="performanceMetrics['BEST']"
    />
    <DWMPerformanceBadges
      :best="false"
      :metricValues="performanceMetrics['WORST']"
    />
  </b-row>
</template>

<script>
import DWMPerformanceBadges from "@/components/buckets/DWMPerformanceBadges.vue";
export default {
  name: "BestWorstPerformanceBadges",
  components: {
    DWMPerformanceBadges,
  },
  props: {
    portfolioId: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      performanceMetrics: {},
    };
  },
  methods: {
    loadPerformanceMetrics() {
      return this.$store
        .dispatch(
          "portfolioSuperlativePerformanceMetrics/load_single_portfolio__by_id",
          this.portfolioId
        )
        .then(
          () =>
            (this.performanceMetrics =
              this.$store.state["portfolioSuperlativePerformanceMetrics"][
                this.portfolioId
              ])
        );
    },
  },
  mounted() {
    this.loadPerformanceMetrics();
  },
  watch: {
    portfolioId: {
      // Make sure if the portfolioId changes the metrics are loaded for the portfolio
      handler: "loadPerformanceMetrics",
    },
  },
};
</script>
