// Grouping of badges to display the best or worst performance for the given
// stock, bucket or investor
<template>
  <div v-if="!loading" class="d-flex px-1 best-color">
    <div class="title">
      <b-row>
        <span v-if="best" class="text-success"> Best </span>
        <span v-else class="text-danger"> Worst </span>
      </b-row>
    </div>
    <b-col class="px-1">
      <div :class="badgeHeaderContainerClasses">
        <span class="text-muted"> Day </span>
      </div>
      <div :class="badgeContainerClasses">
        <badge style="width: 4rem" :type="badgeType" :rounded="true" size="lg">
          {{ day | percentChangeFormat }}
        </badge>
      </div>
    </b-col>
    <b-col class="px-1">
      <div :class="badgeHeaderContainerClasses">
        <span class="text-muted"> Week </span>
      </div>
      <div :class="badgeContainerClasses">
        <badge style="width: 4rem" :type="badgeType" :rounded="true" size="lg">
          {{ week | percentChangeFormat }}
        </badge>
      </div>
    </b-col>
    <b-col class="px-1">
      <div :class="badgeHeaderContainerClasses">
        <span class="text-muted"> Month </span>
      </div>
      <div :class="badgeContainerClasses">
        <badge style="width: 4rem" :type="badgeType" :rounded="true" size="lg">
          {{ month | percentChangeFormat }}
        </badge>
      </div>
    </b-col>
  </div>
</template>
<script>
import { isEmpty } from "lodash";
export default {
  name: "DWMPerformanceBadges",
  props: {
    // Whether this set of badges is showing best or worst performance
    best: {
      type: Boolean,
      required: true,
    },
    // The values to display for each period
    metricValues: {
      type: Object,
      required: true,
      "1d": {
        type: Object,
        required: true,
        percent_return: {
          type: Number,
          required: true,
        },
      },
      "1m": {
        type: Object,
        required: true,
        percent_return: {
          type: Number,
          required: true,
        },
      },
      "1w": {
        type: Object,
        required: true,
        percent_return: {
          type: Number,
          required: true,
        },
      },
    },
  },
  computed: {
    loading() {
      return isEmpty(this.metricValues) ? true : false;
    },
    badgeType() {
      return this.best ? "success" : "danger";
    },
    day() {
      return this.metricValues["1d"]["percent_return"];
    },
    week() {
      return this.metricValues["1w"]["percent_return"];
    },
    month() {
      return this.metricValues["1m"]["percent_return"];
    },
  },
  created() {
    this.badgeContainerClasses =
      "d-flex justify-content-center align-items-center";
    this.badgeHeaderContainerClasses =
      "d-flex justify-content-center align-items-center";
  },
};
</script>
<style scoped>
.title {
  position: relative;
  top: -40px;
  left: 50%;
}
</style>