<template>
  <b-button-group size="md" class="px-2 ml-2">
    <base-button
      @click="setFocusOnSearch()"
      :type="type"
      pill
      :class="joinGroupButtonClass"
    >
      <font-awesome-icon icon="users" class="mr-1" />
      <b> Join Group </b>
    </base-button>
    <base-button
      :id="additionalActionsButtonId"
      :type="type"
      pill
      outline
      :class="additionalActionsClass"
      @click="handleAdditionalActionsButtonClick"
      v-click-outside="handleAdditionalActionsButtonClickOutside"
      :style="{
        width: additionalActionsIconWidth,
      }"
    >
      <div
        :id="additionalActionsIconId"
        class="additional-actions-icon-container"
        :style="{
          left: toPxStr(additionalActionsIconX),
          width: additionalActionsIconWidth,
        }"
      >
        <font-awesome-icon icon="ellipsis-h" size="lg" />
      </div>
    </base-button>
    <!-- The dropdown menu for the additional actions button -->
    <div class="additional-actions-dd-container">
      <div :id="additionalActionsDDId" class="dropdown-menu">
        <b-dropdown-item @click="openEditForm">
          <font-awesome-icon icon="edit" class="mr-1" />
          Edit
        </b-dropdown-item>
        <b-dropdown-item @click="openRemoveForm">
          <font-awesome-icon icon="trash-alt" class="mr-1" />
          Remove
        </b-dropdown-item>
      </div>
    </div>
  </b-button-group>
</template>

<script>
import { eventBus } from "@/main";
import { GLOBAL_EVENTS } from "@/constants/global-events.js";
import numberToPixelStrMixin from "@/mixins/number-to-pixel-str-mixin.js";
export default {
  name: "ManagePortfolioActions",
  mixins: [numberToPixelStrMixin],
  data() {
    return {
      additionalActionsIconX: 0,
    };
  },
  computed: {
    additionalActionsButtonRect() {
      return document
        .getElementById(this.additionalActionsButtonId)
        .getBoundingClientRect();
    },
  },
  methods: {
    handleAdditionalActionsButtonClick() {
      this.toggleAdditionalActionsDDMenu();
      this.toggleAdditionalActionsButtonActive();
    },
    handleAdditionalActionsButtonClickOutside() {
      this.hideAdditionalActionsDDMenu();
      this.setAdditionalActionsButtonInactive();
    },
    toggleAdditionalActionsDDMenu() {
      document
        .getElementById(this.additionalActionsDDId)
        .classList.toggle("show");
    },
    toggleAdditionalActionsButtonActive() {
      document
        .getElementById(this.additionalActionsButtonId)
        .classList.toggle("active");
    },
    hideAdditionalActionsDDMenu() {
      document
        .getElementById(this.additionalActionsDDId)
        .classList.remove("show");
    },
    setAdditionalActionsButtonInactive() {
      document
        .getElementById(this.additionalActionsButtonId)
        .classList.remove("active");
    },
    centerAdditionalActionsButtonIcon() {
      const additionalActionsButtonIconRect = document
        .getElementById(this.additionalActionsIconId)
        .getBoundingClientRect();
      const iconWidth = additionalActionsButtonIconRect.width;
      const iconX = additionalActionsButtonIconRect.x;
      const buttonWidth = this.additionalActionsButtonRect.width;
      const buttonX = this.additionalActionsButtonRect.x;
      const centerOffset = buttonX - iconX + (buttonWidth - iconWidth);
      this.additionalActionsIconX = -centerOffset;
    },
    openEditForm() {
      this.$emit("open-edit-portfolio-modal");
    },
    openRemoveForm() {
      this.$emit("open-remove-portfolio-modal");
    },
    setFocusOnSearch() {
      eventBus.$emit(GLOBAL_EVENTS.SET_FOCUS_ON_SEARCH);
    },
  },
  created() {
    this.type = "primary";
    this.joinGroupButtonClass = "join-group-button-container my-2 ml-1";
    this.additionalActionsClass =
      "additional-actions-button-container my-2 ml-2";
    this.additionalActionsButtonId = "aa-button";
    this.additionalActionsDDId = "aa-dropdown";
    this.additionalActionsIconId = "aa-icon";
    this.additionalActionsIconWidth = ".7rem";
  },
  mounted() {
    this.centerAdditionalActionsButtonIcon();
  },
};
</script>

<style scoped>
.btn {
  transform: scale(0.82);
  position: relative;
}
.join-group-button-container {
  padding: 0.5rem;
}
.additional-actions-button-container {
  height: 41px;
}
.additional-actions-icon-container {
  position: relative;
}
.additional-actions-dd-container {
  position: relative;
  top: -30px;
  left: -10px;
}
/* Show the dropdown menu */
.show {
  display: block;
}
</style>