<template>
  <div class="d-inline portfolio-privacy-badge">
    <span :id="tooltipId">{{ privacy }}</span>
    <b-popover
      :target="tooltipId"
      triggers="hover"
      placement="top"
      :boundary-padding="0"
      boundary="window"
    >
      <template #title> {{ tooltip["title"] }} </template>
      {{ tooltip["description"] }}
    </b-popover>
  </div>
</template>

<script>
import privatePortfolioTooltip from "@/components/buckets/tooltips/private-portfolio-tooltip.js";
import publicPortfolioTooltip from "@/components/buckets/tooltips/public-portfolio-tooltip.js";
import groupVisiblePortfolioTooltip from "@/components/buckets/tooltips/group-visible-portfolio-tooltip.js";
export default {
  name: "PortfolioPrivacyBadge",
  props: {
    portfolioId: {
      type: String,
      required: true,
    },
  },
  computed: {
    // All the groups for which the portfolio is a member
    groups() {
      return this.$store.getters["groups/userGroups__from_portfolioId"](
        this.portfolioId
      );
    },
    privacy() {
      const privacies = Object.entries(this.groups).map(
        (group) => group.privacy
      );
      if (privacies.length == 0) {
        // If the portfolio is a member of no groups, it is private
        return this.PRIVATE;
      } else if (privacies.includes("V") || privacies.includes("N")) {
        // If the portfolio is a member of public groups, it is public
        return this.PUBLIC;
      } else {
        /*
            If the porfolio is only a member of private groups, it is visible
            in those groups
          */
        return this.GROUP_VISIBLE;
      }
    },
    tooltip() {
      switch (this.privacy) {
        case this.PRIVATE:
          return privatePortfolioTooltip;
        case this.PUBLIC:
          return publicPortfolioTooltip;
        case this.GROUP_VISIBLE:
          return groupVisiblePortfolioTooltip;
        default:
          throw `${this.privacy} is not supported by PortfolioPrivacyBadge`;
      }
    },
    tooltipId() {
      return this.portfolioId + "-portfolio-privacy-badge";
    },
  },
  created() {
    this.PRIVATE = "PRIVATE";
    this.PUBLIC = "PUBLIC";
    this.GROUP_VISIBLE = "IN GROUP";
  },
};
</script>