<template>
  <BaseRiskMetric name="Alpha" :tooltipDescription="tooltipDescription">
    <div slot="graphic">
      <RiskMetricLineGraphic
        :metricValue="value"
        :baselineValue="baselineValue"
        :maxValue="maxValue"
        :minValue="minValue"
      />
    </div>
    <p slot="description">
      This portfolio has performed
      <span :class="valueClass">
        <!-- Precision of percentChangeFormat is also 2 -->
        {{ value | percentFormat }}
      </span>
      {{ betterOrWorse }} than expected based on Beta. The higher the R Squared
      value the more meaningful this metric is.
    </p>
  </BaseRiskMetric>
</template>

<script>
import BaseRiskMetric from "@/components/risk-metrics/BaseRiskMetric.vue";
import RiskMetricLineGraphic from "@/components/risk-metrics/RiskMetricLineGraphic.vue";

export default {
  name: "Alpha",
  components: {
    BaseRiskMetric,
    RiskMetricLineGraphic,
  },
  props: {
    value: {
      default: 0.0,
      type: Number,
    },
  },
  computed: {
    valueClass() {
      return this.value >= this.baselineValue
        ? "metric-positive"
        : "metric-negative";
    },
    betterOrWorse() {
      /*
       * Returns "better" or "worse" depending on if the metric value is above
       * or below baseline
       */
      return this.value >= this.baselineValue ? "better" : "worse";
    },
  },
  created() {
    this.tooltipDescription =
      "Alpha measures the difference between a fund’s expected returns based on its beta and its actual returns. A positive alpha indicates the fund has performed better than its beta would predict. A negative alpha indicates a fund has underperformed, given the fund’s beta.";
    this.baselineValue = 0;
    this.maxValue = 20;
    this.minValue = -10;
  },
};
</script>

<style></style>