<template>
  <b-container class="risk-metric-container">
    <!-- Header -->
    <div class="d-flex flex-row justify-content-start align-items-start">
      <h5 class="mr-1 metric-title">{{ name }}</h5>
      <b-icon-info-circle scale=".75" :id="'popover-' + name + '-info'" />
      <b-popover
        :target="'popover-' + name + '-info'"
        triggers="hover"
        placement="bottomleft"
      >
        {{ tooltipDescription }}
      </b-popover>
      <div class="ml-auto timespan-button">
        <span class="timespan">{{ timespan }}</span>
      </div>
    </div>

    <!-- Body -->
    <div :class="bodyClass">
      <div class="graphic m-auto px-2">
        <slot name="graphic"></slot>
      </div>
      <div class="description m-auto px-2">
        <slot name="description"></slot>
      </div>
    </div>
  </b-container>
</template>

<script>
export default {
  name: "BaseRiskMetric",

  props: {
    name: {
      type: String,
      required: true,
    },
    timespan: {
      // TODO: https://app.clickup.com/t/rx2ng2 Make the risk metric timespan toggleable
      type: String,
      default: "1 year",
    },
    tooltipDescription: {
      type: String,
      required: true,
    },
    horizontal: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    bodyClass() {
      let classes = "d-flex justify-content-center align-items-center";
      if (!this.horizontal) {
        classes = classes.concat(" flex-column");
      }
      return classes;
    },
  },
};
</script>

<style>
.timespan-button {
  position: relative;
  height: 1rem;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
}

.graphic {
  width: fit-content;
}

.description {
  text-align: left;
}

.timespan {
  font-size: 0.825rem;
  position: relative;
  top: -7px;
  padding: 0.5rem;
}

.risk-metric-container {
  /* Defer padding to parent containers */
  padding-left: 0px;
  padding-right: 0px;
}
</style>