<template>
  <BaseRiskMetric name="Beta" :tooltipDescription="tooltipDescription">
    <div slot="graphic">
      <RiskMetricLineGraphic
        :metricValue="value"
        :baselineValue="baselineValue"
        :maxValue="maxValue"
        :minValue="minValue"
      />
    </div>
    <p slot="description">
      This portfolio is
      <span :class="valueClass">
        {{ ((value - baselineValue) * 100) | percentFormat }}</span
      >
      {{ moreOrLess }} volatile than the S&amp;P 500. The higher the R Squared
      value the more meaningful this metric is.
    </p>
  </BaseRiskMetric>
</template>

<script>
import BaseRiskMetric from "@/components/risk-metrics/BaseRiskMetric.vue";
import RiskMetricLineGraphic from "@/components/risk-metrics/RiskMetricLineGraphic.vue";

export default {
  name: "Beta",
  components: {
    BaseRiskMetric,
    RiskMetricLineGraphic,
  },
  props: {
    value: {
      default: 0.0,
      type: Number,
    },
  },
  computed: {
    valueClass() {
      return this.value >= this.baselineValue
        ? "metric-positive"
        : "metric-negative";
    },
    moreOrLess() {
      /*
       * Returns "more" or "less" depending on if the metric value is above
       * or below baseline
       */
      return this.value >= this.baselineValue ? "more" : "less";
    },
  },
  created() {
    this.tooltipDescription =
      "Beta measures a fund’s sensitivity to market movements. A beta greater than one indicates the investment is more volatile than the market. If beta is less than one, the investment is less risky than the market.";
    this.baselineValue = 1;
    this.maxValue = 3;
    this.minValue = -1;
    this.precision = 2;
  },
};
</script>

<style>
</style>