<template>
  <b-container class="ip-risk-metric-container">
    <Alpha :value="riskMetrics.alpha" />
    <br />
    <Beta :value="riskMetrics.beta" />
    <br />
    <RSquared :value="riskMetrics.r_squared" />
    <br />
    <Sharpe :value="riskMetrics.sharpe" />
    <br />
    <StandardDeviation :value="riskMetrics.standard_deviation" />
  </b-container>
</template>

<script>
import Alpha from "@/components/risk-metrics/Alpha.vue";
import Beta from "@/components/risk-metrics/Beta.vue";
import RSquared from "@/components/risk-metrics/RSquared.vue";
import Sharpe from "@/components/risk-metrics/Sharpe.vue";
import StandardDeviation from "@/components/risk-metrics/StandardDeviation.vue";
import RiskMetricDataService from "@/services/risk-metrics.data.service.js";

export default {
  name: "InvestorProfileRiskMetrics",
  components: {
    Alpha,
    Beta,
    RSquared,
    Sharpe,
    StandardDeviation,
  },

  props: {
    profileId: null,
  },

  data() {
    return {
      riskMetrics: null,
    };
  },

  mounted() {
    this.loadData();
  },

  methods: {
    async loadData() {
      this.riskMetrics = (
        await RiskMetricDataService.getInvestorProfileRiskMetrics(
          this.profileId
        )
      ).data;
    },
  },
};
</script>

<style>
.ip-risk-metric-container {
  width: 300px;
}
</style>