// A compilation of graphics and details evaluating the risk of a portfolio
<template>
  <b-container class="d-flex flex-row">
    <div class="d-flex flex-column">
      <b-card no-body class="risk-metrics-card">
        <Alpha :value="riskMetricsForPeriod.alpha" />
      </b-card>
      <b-card no-body class="risk-metrics-card">
        <Beta :value="riskMetricsForPeriod.beta" />
      </b-card>
      <b-card no-body class="risk-metrics-card">
        <Sharpe :value="riskMetricsForPeriod.sharpe" />
      </b-card>
    </div>

    <div class="d-flex flex-column ml-4">
      <b-card no-body class="risk-metrics-card-xl">
        <RSquared :value="riskMetricsForPeriod.r_squared" />
      </b-card>
      <b-card no-body class="risk-metrics-card-xl">
        <StandardDeviation :value="riskMetricsForPeriod.standard_deviation" />
      </b-card>
    </div>
  </b-container>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
import Alpha from "@/components/risk-metrics/Alpha.vue";
import Beta from "@/components/risk-metrics/Beta.vue";
import RSquared from "@/components/risk-metrics/RSquared.vue";
import Sharpe from "@/components/risk-metrics/Sharpe.vue";
import StandardDeviation from "@/components/risk-metrics/StandardDeviation.vue";
const { mapState } = createNamespacedHelpers("portfolioRiskMetrics");

export default {
  name: "PortfolioRiskMetrics",
  components: {
    Alpha,
    Beta,
    RSquared,
    Sharpe,
    StandardDeviation,
  },
  props: {
    portfolioId: {
      type: String,
      required: true,
    },
    timePeriod: {
      type: String,
      default: "1y",
      validation: function (timePeriod) {
        const supportedTimePeriods = ["1y"];
        return supportedTimePeriods.includes(timePeriod);
      },
    },
  },
  computed: {
    ...mapState({
      riskMetrics: (state) => state.riskMetrics,
    }),
    riskMetricsForPeriod() {
      return this.riskMetrics[this.portfolioId][this.timePeriod];
    },
  },
};
</script>