<template>
  <div
    class="risk-metric-line-graphic-container d-flex justify-content-center align-items-center"
  >
    <div class="metric-line" :ref="metricLineRef">
      <span
        class="text-muted baseline mt-2"
        :style="{ left: toPxStr(baselineXPosition) }"
        :ref="baselineRef"
      >
        Baseline
      </span>
      <span
        class="text-muted baseline mt-4"
        :ref="baselineValueRef"
        :style="{ left: toPxStr(baselineValueXPosition) }"
      >
        {{ baselineValue }}
      </span>

      <div
        class="tooltip-container px-1"
        :ref="tooltipContainerRef"
        :style="{
          top: toPxStr(tooltipContainerYPosition),
          'border-color': tooltipColor,
        }"
      >
        <span
          class="tooltip-span font-weight-bold"
          :style="{ color: tooltipColor }"
          >{{ parseFloat(metricValue).toFixed(precision) }}</span
        >
      </div>

      <div class="midpoint" :ref="midpointRef"></div>
      <div
        class="tooltip-point"
        :ref="tooltipPointRef"
        :style="{
          top: toPxStr(tooltipPointYPosition),
          height: toPxStr(tooltipPointRadius),
          width: toPxStr(tooltipPointRadius),
          background: tooltipColor,
        }"
      ></div>
      <div
        class="tooltip-line"
        :ref="tooltipLineRef"
        :style="{
          top: toPxStr(tooltipLineYPosition),
          height: toPxStr(tooltipLineHeight),
          'border-color': tooltipColor,
        }"
      ></div>
    </div>
  </div>
</template>

<script>
import Velocity from "velocity-animate";
import numberToPixelStrMixin from "@/mixins/number-to-pixel-str-mixin.js";
export default {
  name: "RiskMetricLineGraphic",
  mixins: [numberToPixelStrMixin],
  props: {
    metricValue: {
      type: Number,
      default: 0,
    },
    baselineValue: {
      type: Number,
      default: 0,
    },
    maxValue: {
      type: Number,
      default: 1,
    },
    minValue: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      /* Positioning values */
      baselineXPosition: 0,
      baselineValueXPosition: 0,
      tooltipContainerXPosition: 0,
      tooltipContainerYPosition: 0,
      // Simplifies some calculations as oppossed to calculating this from the DOM
      tooltipLineHeight: 19,
      tooltipLineXPosition: 0,
      tooltipLineYPosition: 0,
      // Simplifies some calculations as oppossed to calculating this from the DOM
      tooltipPointRadius: 10,
      tooltipPointXPosition: 0,
      tooltipPointYPosition: 0,
      precision: 2,

      /* Component refs */
      metricLineRef: "metric-line",
      midpointRef: "midpoint",
      tooltipPointRef: "tt-point",
      tooltipLineRef: "tt-line",
      tooltipContainerRef: "tt-container",
      baselineRef: "baseline",
      baselineValueRef: "baseline-value",
    };
  },
  // A lot of values are reused in downstream calculations. Leverage computed to
  // avoid recalculating values multiple timess
  computed: {
    metricLineRect() {
      return this.$refs[`${this.metricLineRef}`].getBoundingClientRect();
    },
    metricLineMidWidth() {
      return this.metricLineRect.width / 2;
    },
    metricLineMidHeight() {
      return this.metricLineRect.height / 2;
    },
    tooltipContainerRect() {
      return this.$refs[`${this.tooltipContainerRef}`].getBoundingClientRect();
    },
    tooltipContainerMidWidth() {
      return this.tooltipContainerRect.width / 2;
    },
    metricValueGreaterThanBaseline() {
      return this.metricValue >= this.baselineValue;
    },
    normalizedMetricValue() {
      /*
       * Aproximate the position of the tooltip based on it's value. Since it's
       * not gauranteed that |baseline - max| == |baseline - min|, normalize
       * the value relative to the range of values before or after the baseline
       */
      if (this.metricValueGreaterThanBaseline) {
        // Normalize the metricValue based on the range btwn baseline & max
        const range = this.maxValue - this.baselineValue;
        const adjustedMetricValue = this.metricValue - this.baselineValue;
        /*
         * A value btwn 0 -> 1 that represents how close to the max value the
         * metric value is. Since Max is not absolute, consider any metric value
         * above the provided max to be normalized to 1
         */
        return Math.min(adjustedMetricValue / range, 1);
      } else {
        // Normalize the metricValue based on the range btwn baseline & min
        const range = this.baselineValue - this.minValue;
        const adjustedMetricValue = this.baselineValue - this.metricValue;
        /*
         * A value btwn 0 -> 1 that represents how close to the max value the
         * metric value is. Since Max is not absolute, consider any metric value
         * above the provided max to be normalized to 1
         */
        return Math.min(adjustedMetricValue / range, 1);
      }
    },
    tooltipColor() {
      // Hex === metric-pink and metric-purple
      return this.metricValueGreaterThanBaseline ? "#ea2a7e" : "#904ce3";
    },
  },
  methods: {
    /* TOOLTIP POSITIONING FUNCTIONS */
    setTooltipContainerX(offsetFactor = 0) {
      /*
       * On initialization, we want to position the container along the center
       * When we are positioning based on the value, we need to pass in the
       * normalizedMetricValue as the offsetFactor
       */
      let xPosition = this.metricLineMidWidth;
      if (offsetFactor != 0) {
        // The maxOffset from the center of the metricLine is 1/2 its width
        let maxOffset = this.metricLineMidWidth;
        if (!this.metricValueGreaterThanBaseline) {
          // Inverse the offset if it the value is less than baseline
          maxOffset = maxOffset * -1;
        }
        xPosition = xPosition + maxOffset * offsetFactor;
      }
      this.tooltipContainerXPosition =
        xPosition - this.tooltipContainerMidWidth;
    },
    setToolTipContainerY() {
      /*
       * The container is vertically positioned such that the bottom of the
       * container lines up with the top of the tooltipLine
       */
      this.tooltipContainerYPosition =
        -1 *
        (this.metricLineMidHeight +
          this.tooltipContainerRect.height +
          this.tooltipLineHeight);
    },
    centerElementAlongTooltipContainer(el) {
      // Position an element such that it is centered relative to the tooltipContainer
      const elRect = el.getBoundingClientRect();
      return (
        this.tooltipContainerXPosition +
        this.tooltipContainerMidWidth -
        elRect.width / 2
      );
    },
    setTooltipLineX() {
      const tooltipLine = this.$refs[`${this.tooltipLineRef}`];
      this.tooltipLineXPosition = this.centerElementAlongTooltipContainer(
        tooltipLine
      );
    },
    setTooltipLineY() {
      /*
       * The line is vertically positioned such that the line is perfectly
       * positioned between the metricLine and the tooltipContainer
       */
      this.tooltipLineYPosition =
        -1 * (this.metricLineMidHeight + this.tooltipLineHeight);
    },
    setTooltipPointX() {
      const tooltipPoint = this.$refs[`${this.tooltipPointRef}`];
      this.tooltipPointXPosition = this.centerElementAlongTooltipContainer(
        tooltipPoint
      );
    },
    setTooltipPointY() {
      /*
       * The point is vertically positioned such that the tooltipPoint is
       * centered on the metric line
       */
      this.tooltipPointYPosition = -1 * (this.tooltipPointRadius / 2);
    },

    /* BASELINE POSITIONING FUNCTIONS */
    centerElementAlongMetricLine(el) {
      const elRect = el.getBoundingClientRect();
      return this.metricLineMidWidth - elRect.width / 2;
    },
    alignBaselineElements() {
      this.baselineXPosition = this.centerElementAlongMetricLine(
        this.$refs[`${this.baselineRef}`]
      );
      this.baselineValueXPosition = this.centerElementAlongMetricLine(
        this.$refs[`${this.baselineValueRef}`]
      );
    },

    /* COMPOSITE POSITIONING FUNCTIONS */
    initializeElements() {
      /*
       * Align all the elements to their default positions
       * For the tooltip, this is at the metricLine midpoint
       * X and Y positioning are decoupled because we only wish to set the Y
       * Position on intialization, where as the X value will shift
       */
      this.setTooltipContainerX();
      this.setToolTipContainerY();

      this.setTooltipLineX();
      this.setTooltipLineY();

      this.setTooltipPointX();
      this.setTooltipPointY();

      // Positions the elements with the baseline info below the metric line
      this.alignBaselineElements();
    },

    setTooltipElementsXForMetricValue() {
      this.setTooltipContainerX(this.normalizedMetricValue);
      this.setTooltipLineX();
      this.setTooltipPointX();
    },

    /* ANIMATION FUNCTIONS */
    slideToXPosition(el, xPosition, duration) {
      Velocity(
        el,
        {
          translateX: [this.toPxStr(xPosition)],
        },
        {
          duration: duration,
          easing: "easeOutBounce",
        }
      );
    },
    animateTooltipPositioning(duration = 1000) {
      /*
       * This function should only be called after elements have already been
       * initialized so that animation begins at the midpoint
       */
      const tooltipContainer = this.$refs[`${this.tooltipContainerRef}`];
      const tooltipLine = this.$refs[`${this.tooltipLineRef}`];
      const tooltipPoint = this.$refs[`${this.tooltipPointRef}`];
      this.slideToXPosition(
        tooltipContainer,
        this.tooltipContainerXPosition,
        duration
      );
      this.slideToXPosition(tooltipLine, this.tooltipLineXPosition, duration);
      this.slideToXPosition(tooltipPoint, this.tooltipPointXPosition, duration);
    },
  },
  mounted() {
    this.initializeElements();
    // This first call is a work around to center elements on the metric line
    this.animateTooltipPositioning(0);

    this.setTooltipElementsXForMetricValue();
    // By centering
    this.animateTooltipPositioning();
  },
};
</script>

<style lang="scss">
.risk-metric-line-graphic-container {
  // Should be set large enough to capture the graphic with a bit of buffer
  width: 225px;
  height: 100px;
}
.midpoint {
  position: relative;
  width: 0px;
  height: 12px;
  left: 50%;
  top: -6px;
  border: 2px solid $metric-neutral;
}

.metric-line {
  position: absolute;
  width: 174.41px;
  height: 0px;
  border: 2px solid $metric-neutral;
}

.tooltip-span {
  font-size: 14px;
}

.tooltip-point {
  position: absolute;
  border-radius: 6px;
}

.tooltip-line {
  position: absolute;
  width: 0px;
  border-width: 2px;
  border-style: solid;
}

.tooltip-container {
  position: absolute;
  width: fit-content;
  height: fit-content;
  border-width: 4px;
  border-style: solid;
  border-radius: 3px;
}

.baseline {
  position: absolute;
  font-size: 12px;
}
</style>