<template>
  <BaseRiskMetric
    name="R Squared"
    :tooltipDescription="tooltipDescription"
    :horizontal="true"
  >
    <div slot="graphic">
      <ProgressCircle
        :progress="valueAsPercent"
        :progressFill="fill"
        :backgroundFill="background"
      />
    </div>

    <p slot="description">
      This portfolio has a
      <span :class="valueClass"> {{ valueAsPercent | percentFormat }}</span>
      correlation with the S&amp;P 500. The closer this number is to 100% the
      more likely your returns will match those of the S&amp;P 500.
    </p>
  </BaseRiskMetric>
</template>

<script>
import BaseRiskMetric from "@/components/risk-metrics/BaseRiskMetric.vue";
import ProgressCircle from "@/components/base/graphics/ProgressCircle.vue";

export default {
  name: "RSquared",
  components: {
    BaseRiskMetric,
    ProgressCircle,
  },
  props: {
    value: {
      default: 0.0,
      type: Number,
    },
  },
  computed: {
    valueClass() {
      return this.value >= 70.0 ? "metric-positive" : "metric-negative";
    },
    valueAsPercent() {
      return this.value * 100;
    },
  },
  created() {
    this.tooltipDescription =
      "R-Squared reflects the percentage of a portfolio’s movements that are explained by movements in its benchmark index. A higher R-squared indicates a more useful beta figure. A lower R-squared (less than 70%) is less relevant to the portfolio’s performance.";
    // Should always match color hexs of ["metric-positive", "metric-negative"]
    this.fill = { gradient: ["#ea2a7e", "#904ce3"] };
    // Should always be rgb equivalent of "$metric-neutral"
    this.background = "rgb(54, 36, 91)";
  },
};
</script>

<style>
</style>