<template>
  <BaseRiskMetric name="Sharpe Ratio" :tooltipDescription="tooltipDescription">
    <div slot="graphic">
      <RiskMetricLineGraphic
        :metricValue="value"
        :baselineValue="baselineValue"
        :maxValue="maxValue"
        :minValue="minValue"
      />
    </div>
    <p slot="description">
      This portfolio has a sharpe ratio of
      <span :class="valueClass"> {{ parseFloat(value).toFixed(2) }}</span
      >. Sharpe is a measure of risk adjusted return and the higher the value
      the better. In general anything above 1 is good and above 2 is great.
    </p>
  </BaseRiskMetric>
</template>

<script>
import BaseRiskMetric from "@/components/risk-metrics/BaseRiskMetric.vue";
import RiskMetricLineGraphic from "@/components/risk-metrics/RiskMetricLineGraphic.vue";

export default {
  name: "Sharpe",
  components: {
    BaseRiskMetric,
    RiskMetricLineGraphic,
  },
  props: {
    value: {
      default: 0.0,
      type: Number,
    },
  },
  computed: {
    valueClass() {
      return this.value >= this.baselineValue
        ? "metric-positive"
        : "metric-negative";
    },
  },
  created() {
    this.tooltipDescription =
      "Sharpe Ratio indicates the reward per unit of risk by using standard deviation and excess return. The higher the Sharpe ratio, the better the fund’s historical risk-adjusted performance.";
    this.baselineValue = 1;
    this.maxValue = 3;
    this.minValue = 0;
  },
};
</script>

<style>
</style>