<template>
  <BaseRiskMetric
    name="Standard Deviation"
    :tooltipDescription="tooltipDescription"
  >
    <div slot="graphic">
      <!-- TODO: [https://app.clickup.com/t/rx30gq] Update graphic-->
      <img :src="require('@/assets/StdDev.png')" width="260px" />
      <div class="text-center">
        <small class="text-muted mb-0"
          >Average Return<br />{{ averageReturn | percentChangeFormat }}</small
        >
      </div>
    </div>
    <div slot="description">
      <p class="text-center">
        This portfolio has an average return of
        <span
          :class="this.value >= 0.0 ? 'metric-positive' : 'metric-negative'"
        >
          {{ averageReturn | percentChangeFormat }}</span
        >
        each month over the last year but can be expected to fluctuate up or
        down
        <span
          :class="this.value >= 0.0 ? 'metric-positive' : 'metric-negative'"
          >{{ (value * 100) | percentFormat }}</span
        >.
      </p>
    </div>
  </BaseRiskMetric>
</template>

<script>
import BaseRiskMetric from "@/components/risk-metrics/BaseRiskMetric.vue";

export default {
  name: "StandardDeviation",
  components: {
    BaseRiskMetric,
  },
  props: {
    averageReturn: {
      default: 0.0,
      type: Number,
    },
    value: {
      default: 0.0,
      type: Number,
    },
  },
  data() {
    return {
      tooltipDescription:
        "Standard Deviation measures the range of a portfolio’s performance. The greater the standard deviation, the greater the portfolio’s volatility. Standard deviation allows a fund's performance swings to be captured into a single number. For most portfolios, future monthly returns will fall within one standard deviation of its average return 68% of the time and within two standard deviations 95% of the time.",
    };
  },
};
</script>

<style></style>