// Displays the transaction history for a given portfolio
<template>
  <b-col>
    <TransactionPostList
      :portfolioId="portfolioId"
      :showTransactionTotals="showTransactionTotals"
    />
  </b-col>
</template>
<script>
import TransactionPostList from "@/components/posts/TransactionPostList.vue";
export default {
  name: "PortfolioTransactions",
  components: {
    TransactionPostList,
  },
  props: {
    portfolioId: {
      type: String,
      required: true,
    },
  },
  computed: {
    showTransactionTotals() {
      return this.$store.getters["portfolios/isUserPortfolio"](
        this.portfolioId
      );
    },
  },
};
</script>
<style>
</style>