<template>
  <div>
    <PortfolioTimeSeriesChart
      chartType="area"
      :isSparkline="false"
      :showInvestedValues="showInvestedValues"
      :portfolioId="portfolioId"
    />
    <div class="mt-4">
      <PortfolioHoldingsTable
        :portfolioId="portfolioId"
        :showInvestedValues="showInvestedValues"
      />
    </div>
  </div>
</template>

<script>
import PortfolioTimeSeriesChart from "@/components/charts/PortfolioTimeSeriesChart.vue";
import PortfolioHoldingsTable from "@/components/holdings/PortfolioHoldingsTable.vue";
export default {
  name: "PortfolioOverview",
  components: {
    PortfolioTimeSeriesChart,
    PortfolioHoldingsTable,
  },
  props: {
    portfolioId: {
      type: String,
      required: true,
    },
    showInvestedValues: {
      // Several use cases require us to not reveal the raw value of cash invested
      type: Boolean,
      default: true,
    },
  },
};
</script>

<style>
</style>