<template>
  <PortfolioRiskMetrics :portfolioId="portfolioId" />
</template>

<script>
import PortfolioRiskMetrics from "@/components/risk-metrics/PortfolioRiskMetrics.vue";

export default {
  name: "PortfolioAnalysis",
  components: {
    PortfolioRiskMetrics,
  },
  props: {
    portfolioId: {
      type: String,
      required: true,
    },
  },
};
</script>

<style>
</style>