<template>
  <div>
    <h2>Stats</h2>
    <template v-if="isTickerSymbolSupported">
      <b-skeleton-wrapper :loading="quoteData == null">
        <template #loading>
          <b-skeleton
            v-for="i in Object.keys(stats).length"
            :key="i"
            animation="wave"
            width="100%"
          />
        </template>
        <b-row
          v-for="stat of Object.entries(stats)"
          :key="stat[0]"
          no-gutters
          class="mt-2"
        >
          <b-col>
            <!-- Adjust stat labeling naming where appropriate -->
            <span v-if="stat[0] == 'previous_close'"> Prev. Close </span>
            <span v-else-if="stat[0] == 'fifty_two_week_low'">
              52 Week Low
            </span>
            <span v-else-if="stat[0] == 'fifty_two_week_high'">
              52 Week High
            </span>
            <span v-else-if="stat[0] == 'average_volume'"> Avg. Volume </span>
            <span v-else style="text-transform: capitalize">
              {{ stat[0] }}
            </span>
          </b-col>
          <b-col class="ml-auto text-right">
            <!-- Volumes are not dollar amounts -->
            <b v-if="stat[0].includes('volume')">
              <template v-if="stat[1] != 0">
                {{ stat[1] | numberFormat }}
              </template>
              <template v-else> No Data </template>
            </b>
            <b v-else>
              <template v-if="stat[1] != 0">
                {{ stat[1] | currencyFormat }}
              </template>
              <template v-else> No Data </template>
            </b>
          </b-col>
        </b-row>
      </b-skeleton-wrapper>
    </template>
    <template v-else>
      <div class="d-flex justify-content-center">
        <font-awesome-icon
          class="text-warning"
          icon="exclamation-triangle"
          size="lg"
        />
      </div>
      <div class="mt-2 ml-2">
        Quote data for this stock is not available at this time
      </div>
    </template>
  </div>
</template>

<script>
export default {
  name: "StockStatsCard",
  props: {
    tickerSymbol: {
      type: String,
      required: true,
    },
  },
  computed: {
    isTickerSymbolSupported() {
      return !this.$store.state.unsupportedStocks.symbols.includes(
        this.tickerSymbol
      );
    },
    quoteData() {
      // Assumes that the quote data is being retrieved by a parent components
      return this.$store.state.stockQuotes[this.tickerSymbol] || null;
    },
    stats() {
      let stats = {
        previous_close: 0,
        open: 0,
        high: 0,
        low: 0,
        close: 0,
        fifty_two_week_low: 0,
        fifty_two_week_high: 0,
        volume: 0,
        average_volume: 0,
      };
      if (this.quoteData != null) {
        const statKeys = Object.keys(stats).filter(
          (statKey) => !statKey.includes("fifty_two_week")
        );
        for (const key of statKeys) {
          stats[key] = this.quoteData[key] || 0;
        }
        const range = this.quoteData["fifty_two_week"]["range"];
        const rangeArray = range.split(" ");
        stats["fifty_two_week_low"] = rangeArray[0 /* lower bound */];
        stats["fifty_two_week_high"] = rangeArray[2 /* upper bound */];
      }
      return stats;
    },
  },
};
</script>

<style>
</style>