<template>
  <div>
    <b-tabs small @input="onHandleEmit($event)">
      <b-tab
        v-for="tab in tabs"
        :key="tab"
        :title="tab"
      ></b-tab>
    </b-tabs>
  </div>
</template>

<script>
export default {
  name: "StocksTabs",
  props: {
    tabs: {
      type: Array,
      required: true,
    },
  },
  methods: {
    onHandleEmit(tabIndex) {
      this.$parent.$emit("stocks-tab-selected", this.tabs[tabIndex]);
    },
  },
};
</script>

<style scoped lang="scss">
</style>