<template>
  <div class="text-left">
    <form name="form" @submit.prevent="handleSignup">
      <div v-if="!successful">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            v-model="user.email"
            v-validate="'required|email|max:254'"
            type="text"
            class="form-control"
            name="email"
          />
          <div v-if="submitted && errors.has('email')" class="alert-danger">
            {{ errors.first("email") }}
          </div>
        </div>
        <b-row>
          <b-col>
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input
                v-model="user.first_name"
                v-validate="'required'"
                type="text"
                class="form-control"
                name="first_name"
              />
              <div
                v-if="submitted && errors.has('first_name')"
                class="alert-danger"
              >
                {{ errors.first("first_name") }}
              </div>
            </div>
          </b-col>
          <b-col>
            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input
                v-model="user.last_name"
                v-validate="'required'"
                type="text"
                class="form-control"
                name="last_name"
              />
              <div
                v-if="submitted && errors.has('last_name')"
                class="alert-danger"
              >
                {{ errors.first("last_name") }}
              </div>
            </div>
          </b-col>
        </b-row>

        <div class="form-group">
          <label for="password1">Password</label>
          <input
            v-model="user.password1"
            v-validate="'required|min:8|max:40'"
            type="password"
            class="form-control"
            name="password1"
          />
          <div v-if="submitted && errors.has('password1')" class="alert-danger">
            {{ errors.first("password1") }}
          </div>
        </div>
        <div class="form-group">
          <label for="password2">Re-enter password</label>
          <input
            v-model="user.password2"
            v-validate="'required|min:8|max:40'"
            type="password"
            class="form-control"
            name="password2"
          />
          <div v-if="submitted && errors.has('password2')" class="alert-danger">
            {{ errors.first("password2") }}
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Go for launch!</button>
        </div>
      </div>
    </form>

    <b-container class="text-center">
      Not your first spacewalk?
      <router-link to="/login">Sign in</router-link>
    </b-container>

    <div
      v-if="message"
      class="alert"
      :class="successful ? 'alert-success' : 'alert-danger'"
    >
      {{ message }}
    </div>
  </div>
</template>

<script>
import User from "@/models/user";

export default {
  name: "Signup",
  data() {
    return {
      user: new User("", "", "", "", ""),
      submitted: false,
      successful: false,
      message: "",
    };
  },
  methods: {
    handleSignup() {
      this.message = "";
      this.submitted = true;
      this.$validator.validate().then((isValid) => {
        if (isValid) {
          this.$store.dispatch("auth/signup", this.user).then(
            (data) => {
              this.message = data.message;
              this.successful = true;
              this.$emit("success");
            },
            (error) => {
              this.message =
                (error.response && error.response.data) ||
                error.message ||
                error.toString();
              this.successful = false;
            }
          );
        }
      });
    },
  },
};
</script>

<style>
</style>
