<template>
  <div class="user-avatar">
    <base-avatar
        :uri="path"
        :fallback="fallback"
        :color="color"
        :size="size"
        type="circle"
    ></base-avatar>
    <DoughnutChart
        :class="setAvatarSize"
        :chart-data="chartData"
        :extra-options="extraOptions"
    >
    </DoughnutChart>
  </div>
</template>

<script>
import BaseAvatar from "@/components/base/BaseAvatar";
import DoughnutChart from "@/components/base/charts/creative_tim/DoughnutChart";

export default {
  name: "UserAvatar",
  components: {
    BaseAvatar,
    DoughnutChart,
  },
  props: {
    path: {
      type: String,
      default: '/'
    },
    fallback: {
      type: String,
      default: 'None'
    },
    color: {
      type: String,
      default: '#FFFFFF'
    },
    size: {
      type: String,
      default: 'md'
    },
  },
  data() {
    return {
      chartData: {
        labels: [this.getRandomInt(), this.getRandomInt(), this.getRandomInt()],
        datasets: [
          {
            label: 'Data One',
            backgroundColor: ['#f87979', '#0000FF', '#c9c9c9'],
            data: [this.getRandomInt(), this.getRandomInt(), this.getRandomInt()],
            borderWidth: 0
          },
        ],
      },
      extraOptions: {
        responsive: true,
        maintainAspectRatio: false,
      }
    }
  },
  computed: {
    setAvatarSize() {
      return `avatar-doughnut-chart avatar-${this.size}`
    }
  },
  methods: {
    getRandomInt () {
      return Math.floor(Math.random() * (50 - 5 + 1)) + 5
    },
  }
}
</script>

<style lang="scss">
.user-avatar {
  position: relative;

  .avatar-doughnut-chart {
    position: absolute;
    top: 0;
  }
}

</style>