<template>
  <div class="user-thumbnail">
    <BaseThumbnail
      :class="userThumbnailClass"
      :maxNameLength="maxNameLength"
    >
      <template v-slot:thumbnail-header>
        <UserAvatar :path="path" :fallback="fallback" :color="color" :size="setAvatarSize"></UserAvatar>
      </template>
      <template v-slot:thumbnail-content>
        <div v-if="type === 'post'">
          <div class="d-flex justify-content-center align-items-center">
            <div class="text-nowrap">
              <strong>{{ shortName }}</strong>
            </div>
            <div class="brokerage"><strong>{{percent}}</strong></div>
          </div>
        </div>
        <div v-else>
          <div class="brokerage mt-2"><strong>{{percent}}</strong></div>
        </div>
      </template>
    </BaseThumbnail>
  </div>
</template>

<script>
import BaseThumbnail from "@/components/base/BaseThumbnail.vue";
//import DoughnutChart from "@/components/base/charts/creative_tim/DoughnutChart";
import UserAvatar from "@/components/user/UserAvatar";

export default {
  name: "UserThumbnail",
  components: {
    BaseThumbnail,
    UserAvatar
    //DoughnutChart
  },
  props: {
    path: {
      type: String,
      default: "/"
    },
    fallback: {
      type: String,
      required: true
    },
    shortName: {
      type: String,
      default: ""
    },
    color: {
      type: String,
      default: "#FFFFFF"
    },
    maxNameLength: {
      type: Number,
      default: 12
    },
    percent: {
      type: String,
      default: "None"
    },
    type: {
      type: String,
      default: "post"
    }
  },
  data() {
    return {
      chartData: {
        labels: [this.getRandomInt(), this.getRandomInt(), this.getRandomInt()],
        datasets: [
          {
            label: 'Data One',
            backgroundColor: ['#f87979', '#0000FF', '#c9c9c9'],
            data: [this.getRandomInt(), this.getRandomInt(), this.getRandomInt()],
            borderWidth: 0
          },
        ],
      },
      extraOptions: {
        responsive: true,
        maintainAspectRatio: false,
      }
    };
  },
  computed: {
    userThumbnailClass() {
      if (this.type === "post") {
        return {
          "user-thumbnail-container": true,
          "d-flex": true,
          "justify-content-start": true,
          "align-items-center": true
        };
      } else {
        return {
          "user-thumbnail-container": true,
          "d-flex": true,
          "flex-column": true,
          "justify-content-start": true,
          "align-items-center": true
        };
      }
    },
    setChartPosition() {
      return {
        'chart-position-post': this.type === 'post',
        'chart-position-group': this.type === 'group'
      }
    },
    setChartSize() {
      return {
        'avatar-sm': this.type === 'post',
        'avatar-xl': this.type === 'group'
      }
    },
    setAvatarSize() {
      if(this.type === 'post') {
        return 'sm'
      }
      return 'xl'
    }
  },
  methods: {
    getRandomInt () {
      return Math.floor(Math.random() * (50 - 5 + 1)) + 5
    },
  },
};
</script>

<style lang="scss" scoped>
.user-thumbnail {
  position: relative;
  display: inline-block;
  box-shadow: none;
  margin: 0;
}
.brokerage {
  background: #bdecd5;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  margin-left: 5px;
}

.avatar-doughnut-chart {
  position: absolute;
}

.user-thumbnail-container {
  cursor: pointer;
}

.chart-position {
  &-post {
    top: 0
  }
  &-group {
    top: 1.5rem
  }
}

</style>
