<template>
  <base-button
    :class="buttonClass"
    outline
    :type="buttonType"
    block
    @click="openLinkPortfolioForm()"
  >
    <font-awesome-icon icon="plus-circle" size="lg" />
    <span> Link Portfolio </span>
  </base-button>
</template>
<script>
import plaidLinkMixin from "@/mixins/plaid-link-mixin.js";
export default {
  name: "BrokerageAccountLinkButton",
  mixins: [plaidLinkMixin],
  props: {
    buttonType: {
      type: String,
      default: "grey",
    },
    borderType: {
      type: String,
      default: "light",
    },
    rightBorder: {
      type: Boolean,
      default: false,
    },
    leftBorder: {
      type: Boolean,
      default: false,
    },
    rounded: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    buttonClass() {
      let classes = `border-${this.borderType} `;
      if (!this.rounded) {
        classes = classes + "rounded-0 ";
      }
      if (!this.rightBorder) {
        classes = classes + "border-right-0 ";
      }
      if (!this.leftBorder) {
        classes = classes + "border-left-0 ";
      }
      return classes;
    },
  },
};
</script>
