<template>
  <b-container>
    <base-header
      id="header-content"
      :pageTitle="group_privacy"
      :subjectName="group.name"
    >
      <template slot="subject-description">
        <truncate
          clamp="More"
          :length="50"
          less="Show Less"
          :text="group.description"
          action-class="expander-class"
        ></truncate>
      </template>

      <template slot="page-description">
        {{ privacy_description }}
      </template>

      <div slot="buttons">
        <group-detail-actions :isMember="isMember" :groupId="groupId" />
      </div>

      <base-header-tabs
        slot="tabs"
        :tabTitles="tabTitles"
        :tabRoutePrefix="tabRoutePrefix"
        :activeTabIndex="activeTabIndex"
      ></base-header-tabs>
    </base-header>

    <router-view />
  </b-container>
</template>

<script>
import GroupDetailActions from "@/components/group/GroupDetailActions.vue";

export default {
  name: "Group",
  components: {
    GroupDetailActions,
  },
  props: {
    groupId: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      group: {
        name: "",
        description: "",
        privacy: "",
      },
    };
  },
  computed: {
    activeTabIndex() {
      switch (this.$route.name) {
        case "group-overview":
          return 0;
        case "group-trade feed":
          return 1;
        case "group-chat":
          return 2;
        case "group-members":
          return 3;
        case "group-competition":
          return 4;
        default:
          return 0;
      }
    },
    userId() {
      return this.$store.state.accounts.userAccount.account.id;
    },
    isMember() {
      return Object.prototype.hasOwnProperty.call(
        this.$store.state.groups.userGroups,
        this.groupId
      );
    },
    group_privacy() {
      if (this.group.privacy == "I") {
        return "Invite Only Group";
      } else if (this.group.privacy == "P") {
        return "Private Group";
      } else if (this.group.privacy == "V") {
        return "Visible Group";
      } else {
        return "Public Group";
      }
    },
    privacy_description() {
      if (this.group.privacy == "I") {
        return "An Invite Only Group can only be discovered by invited members.";
      } else if (this.group.privacy == "P") {
        return "A Private Group requires permission to join and view group details, but can be found by non-members.";
      } else if (this.group.privacy == "V") {
        return "A Visible Group's details available to all, but requires permission to join.";
      } else {
        return "A Public Group anyone can view the group's details and join without approval.";
      }
    },
  },
  methods: {
    setGroup() {
      this.$store
        .dispatch("groups/get__group_by_id", { groupId: this.groupId })
        .then((response) => {
          this.group = response;
        });
    },
  },
  watch: {
    groupId: {
      handler: "setGroup",
      immediate: true,
    },
  },
  created() {
    this.tabTitles = [
      "Overview",
      "Trade Feed",
      "Chat",
      "Members",
      "Competition",
    ];
    this.tabRoutePrefix = "group";
    this.$store.dispatch("accounts/getAllAccounts");
  },
};
</script>

<style>
.expander-class {
  font-size: 14px;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  padding: 0px;
  margin: 0px;
  text-decoration: underline;
}
.expander-class:hover {
  color: #e06321;
}
.group-name {
  font-size: 40px;
  position: relative;
  top: -26px;
  left: -2px;
}
.group-return {
  font-size: 30px;
  position: relative;
}
.description-div {
  font-size: 14px;
  position: relative;
  top: -30px;
  left: 0px;
}
</style>
