<template>
  <div class="d-flex flex-column mx-4">
    <div class="d-flex flex-row mt-4">
      <template v-if="hasLinkedPortfolio">
        <div class="d-flex flex-column">
          <b-card class="greeting-card">
            <GreetingOverviewCard />
          </b-card>
          <b-card>
            <CompositeHoldingsCard />
          </b-card>
        </div>
        <b-card class="ml-4 flex-grow-1">
          <CompositeTimeSeriesChart :userId="currentUserId" :height="365" chartType="area" />
        </b-card>
      </template>
      <template v-else>
        <b-card class="greeting-card">
          <GreetingOnboardingCard />
        </b-card>
      </template>
    </div>
    <div v-if="hasJoinedGroup">
      <h2 class="mb-0">
        My Groups
        <icon-button
          @click="setFocusOnSearch()"
          iconName="plus-circle"
          size="sm"
        >
        </icon-button>
      </h2>
      <p class="mt-0 text-muted">
        Keep up with all of the happenings in your investment network
      </p>
      <UserGroupOverviewCarousel />
    </div>
    <div>
      <h2 class="mb-0">Top Activity</h2>
      <p class="mt-0 text-muted">See what's going on across Echo</p>
      <PublicPostList class="mt-3"/>
      <GroupDiscoveryCard />
      <!-- TODO [https://app.clickup.com/t/1pdm4wx]: Add Activity Feed Components -->
    </div>
  </div>
</template>

<script>
import { eventBus } from "@/main";
import { GLOBAL_EVENTS } from "@/constants/global-events.js";
import CompositeHoldingsCard from "@/components/homepage/CompositeHoldingsCard.vue";
import CompositeTimeSeriesChart from "@/components/charts/CompositeTimeSeriesChart.vue";
import GreetingOnboardingCard from "@/components/homepage/GreetingOnboardingCard.vue";
import GreetingOverviewCard from "@/components/homepage/GreetingOverviewCard.vue";
import UserGroupOverviewCarousel from "@/components/homepage/UserGroupOverviewCarousel.vue";
import GroupDiscoveryCard from "@/components/group/GroupDiscoveryCard.vue";
import PublicPostList from "../components/posts/PublicPostList";

export default {
  name: "Home",
  components: {
    PublicPostList,
    CompositeHoldingsCard,
    GreetingOverviewCard,
    CompositeTimeSeriesChart,
    GreetingOnboardingCard,
    UserGroupOverviewCarousel,
    GroupDiscoveryCard,
  },
  computed: {
    hasLinkedPortfolio() {
      return (
        this.$store.getters["portfolios/userPortfolios/all_portfolioIds"]
          .length > 0
      );
    },
    hasJoinedGroup() {
      return this.$store.getters["groups/userGroupsIds"].length > 0;
    },
    currentUserId() {
      return this.$store.getters["accounts/userAccount"].id;
    },
  },
  methods: {
    logOut() {
      this.$store.dispatch("auth/logout");
      this.$router.push("/registration");
    },
    setFocusOnSearch() {
      eventBus.$emit(GLOBAL_EVENTS.SET_FOCUS_ON_SEARCH);
    },
  },
};
</script>
