// Allows a user to view details about own their portfolios by toggling between
// them with the left sidebar
<template>
  <div>
    <b-container>
      <!-- The container for the info contained in header (from title through tabs) -->
      <base-header pageTitle="PORTFOLIO" :subjectName="portfolio.name">
        <span slot="page-description">
          This is one stop shop to view and edit your <b>portfolio</b>. You can
          view details about your portfolio's performance, analyze the risk of
          your investments, or see the history of your transactions. You also
          have the ability to join <b>groups</b>, change the name and
          description of your portfolio, and even unlink your portfolio from
          <b>Echo</b>.
        </span>
        <div slot="subject-description">
          <h5>"{{ portfolio.description }}"</h5>
          <span
            >Total Trades
            <b> {{ portfolio.trades_count | numberFormat }} </b> Weekly Trades
            <b> {{ portfolio.trades_per_week | numberFormat }} </b> Best Stock
            <b> {{ portfolio.investments[0].ticker_symbol }} </b></span
          >
        </div>
        <!-- Render the buttons specific to page context -->
        <ManagePortfolioActions
          slot="buttons"
          @open-edit-portfolio-modal="openEditPortfolio"
          @open-remove-portfolio-modal="openRemovePortfolio"
          @open-join-group-modal="openJoinGroup"
        />
        <!-- Render the tabs specific to page context -->
        <base-header-tabs
          slot="tabs"
          :tabTitles="['Overview', 'Analysis', 'Transactions']"
          tabRoutePrefix="portfolio"
          :activeTabIndex="activeTabIndex"
        ></base-header-tabs>
        <!-- Render performance overview details of past day, week, and month -->
        <BestWorstPerformanceBadges
          slot="performance-overview"
          :portfolioId="portfolioId"
        />
        <PortfolioDoughnutChart slot="chart" :portfolioId="portfolioId" />
      </base-header>
      <!-- The content displayed within the active tab -->
      <router-view />
    </b-container>
  </div>
</template>

<script>
import PortfolioDoughnutChart from "@/components/charts/PortfolioDoughnutChart.vue";
import BestWorstPerformanceBadges from "@/components/buckets/BestWorstPerformanceBadges.vue";
import ManagePortfolioActions from "@/components/buckets/ManagePortfolioActions.vue";
export default {
  name: "ManagePortfolios",
  components: {
    PortfolioDoughnutChart,
    BestWorstPerformanceBadges,
    ManagePortfolioActions,
  },
  props: {
    portfolioId: {
      type: String,
      required: true,
    },
  },
  computed: {
    activeTabIndex() {
      switch(this.$route.name) {
        case "portfolio-overview":
          return 0
        case "portfolio-analysis":
          return 1
        case "portfolio-transactions":
          return 2
        default:
          return 0
      }
    },
    portfolio() {
      return this.$store.getters["portfolios/userPortfolios"][this.portfolioId];
    },
  },
  methods: {
    openEditPortfolio() {
      this.app.$refs.epf.openWith(this.portfolioId);
    },
    openRemovePortfolio() {
      this.app.$refs.rpm.openWith(this.portfolioId);
    },
    openJoinGroup() {
      this.app.$refs.jgf.openWith(this.portfolioId);
    },
  },
  created() {
    this.app = this.$app();
  },
};
</script>