<template>
  <div class="text-center">
    <h1 class="primary pt-3">Page Not Found</h1>
    <p>You look a little lost, sure this is where you want to be?</p>

    <div class="img-positioning">
      <img :src="require('../assets/lost-astronaut.png')" width="600px"/>
    </div>
    <b-button 
      v-b-tooltip.hover title="Shhh... This secert button will take you to an outside website"
      href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
      class="top-secret-button"
    ></b-button>
  </div>
</template>

<script>
export default {
    name: 'PageNotFound',

    // <3 -Maxon
}
</script>

<style>
.top-secret-button {
  position: absolute;
  top: 15.5rem;
  z-index: 10;
  background-color: #f4daa6;
  border: #f4daa6;
}
</style>