<template>
  <div v-if="isDataReady" class="profile">
    <div class="container">
      <div class="content">
        <UserAvatar
          class="profile__avatar"
          :path="user.avatar_img"
          :fallback="user.short_name[0]"
          :color="user.color"
          size="xl"
        ></UserAvatar>
        <div class="profile__title">{{ user.short_name }}</div>
        <div class="profile__subtitle">334 Subscribers</div>
        <b-button
          class="profile__btn"
          v-if="!isItCurrentUserProfile"
          variant="primary"
          >Subscribe</b-button
        >
        <base-button
          v-else
          class="profile__btn"
          size="lg"
          type="outline-primary"
          wide
          @click="openLinkPortfolioForm()"
        >
          New portfolio
        </base-button>
      </div>
      <div class="profile__portfolios d-flex">
        <b-img
          v-for="portfolio in portfolios"
          :key="portfolio.id"
          rounded="circle"
          class="avatar-sm mr-1 p-1"
          alt="Image"
          v-b-tooltip.hover.topright.v-secondary="portfolio.institution.name"
          :src="`data:image/png;base64,${portfolio.institution.logo}`"
        />
      </div>

      <div class="profile__perfomance">
        <div class="perfomance__title">{{ user.short_name }}’s Performance</div>
        <CompositeTimeSeriesChart
          :userId="userId"
          :height="365"
          chartType="area"
          :showInvestedValues="false"
          compare
        />
      </div>
      <div class="profile__trades">
        <ProfileTradeList :portfolioId="portfolios[0].id" />
      </div>
    </div>
  </div>
</template>

<script>
import UserAvatar from "@/components/user/UserAvatar.vue";
import CompositeTimeSeriesChart from "@/components/charts/CompositeTimeSeriesChart.vue";
import ProfileTradeList from "@/components/profile/ProfileTradeList.vue";
import plaidLinkMixin from "@/mixins/plaid-link-mixin.js";

export default {
  name: "Profile",
  components: {
    UserAvatar,
    CompositeTimeSeriesChart,
    ProfileTradeList,
  },
  mixins: [plaidLinkMixin],
  data() {
    return {
      user: null,
      portfolios: [],
    };
  },
  props: {
    userId: {
      type: String,
      required: true,
    },
  },
  computed: {
    isDataReady() {
      return this.user && this.user.short_name && this.portfolios.length > 0;
    },
    currentUserId() {
      return this.$store.getters["accounts/userAccount"].id;
    },
    isItCurrentUserProfile() {
      return this.userId === this.currentUserId;
    },
  },
  async created() {
    this.user = await this.$store.dispatch("accounts/get", this.userId);
    this.portfolios = await this.$store.dispatch(
      "portfolios/getUserPortfolios",
      this.userId
    );
  },
};
</script>

<style scoped lang="scss">
.profile {
  background-image: url("https://images.unsplash.com/photo-1547974486-cf573b27fe2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 160px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    margin-top: 60px;
  }

  &__title {
    margin-top: 45px;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 43px;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #888888;
  }

  &__btn {
    margin-top: 10px;
    padding: 10px 26px;
    font-weight: 700;
  }

  &__portfolios {
    margin-top: 70px;
  }

  &__perfomance {
    margin-top: 30px;
    height: 565px;
  }
}
</style>