<template>
  <b-card
    class="border-0"
    overlay
    img-src="https://static.wixstatic.com/media/4942c1_21d494373686403f943efe5887e0f678~mv2.jpg"
  >
    <b-alert
      v-model="showSuccess"
      class="position-fixed fixed-top m-0 rounded-0"
      style="z-index: 2000"
      variant="success"
      dismissible
    >
      Lift off! Check your email to confirm your account and login.
    </b-alert>
    <b-row align-h="between">
      <b-col
        cols="6"
        class="text-left text-white"
        style="padding-left: 75px; padding-top: 150px"
      >
        <img :src="require('@/assets/logos/EchoLogo-04.svg')" width="500px" />
        <h3>
          <br />Successful investing, out of the box. <br />
          See how others are doing it and be a part of the discussion!
        </h3>
      </b-col>
      <b-col cols="6" style="padding-right: 100px; padding-top: 50px">
        <b-card>
          <b-tabs
            no-key-nav
            content-class="mt-3"
            nav-class="border-0"
            v-model="tabIndex"
            pills
            justified
          >
            <b-tab title-link-class="border rounded-0 border-primary">
              <template v-slot:title>
                <h4 class="mt-1">Get started</h4>
              </template>
              <Signup @success="showSuccess = true" @switchTab="tabIndex = 1" />
            </b-tab>
            <b-tab title-link-class="border rounded-0 border-primary">
              <template v-slot:title>
                <h4 class="mt-1">Sign in</h4>
              </template>
              <Login @switchTab="tabIndex = 0" />
            </b-tab>
          </b-tabs>
        </b-card>
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
import Signup from "@/components/account/registration/Signup.vue";
import Login from "@/components/account/registration/Login.vue";

export default {
  name: "Registration",
  components: {
    Signup,
    Login,
  },
  props: {
    // Optional props required for use with invites/referrals
    invite: {
      type: Object,
      typ: {
        type: String,
        required: true,
      },
      id: {
        type: String,
        required: true,
      },
      token: {
        type: String,
        required: true,
      },
      required: false,
    },
    referral: {
      type: Object,
      typ: {
        type: String,
        required: true,
      },
      tokenRelatedEntityId: {
        type: String,
        required: true,
      },
      token: {
        type: String,
        required: true,
      },
      invitorId: {
        type: String,
        required: true,
      },
      required: false,
    },
  },
  data() {
    return {
      tabIndex: null,
      showSuccess: false,
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  mounted() {
    // Put invites and referrals into localStorage such they can persist multiple
    // tabs + sessions. It is probably a better user experience to be a little over
    // eager to support invite/referrals, but more precise measures/triggers to delete
    // this data could be taken in the future
    if (this.invite) {
      // Invite Link
      // Remove any existing item
      localStorage.removeItem("invite");
      localStorage.setItem("invite", JSON.stringify(this.invite));
    }
    if (this.referral) {
      // Referral Link
      // Remove any existing item
      localStorage.removeItem("referral");
      localStorage.setItem("referral", JSON.stringify(this.referral));
    }
    if (this.loggedIn) {
      this.$router.push("/");
    }
  },
};
</script>