<template>
  <!-- Environment for testing new components -->
  <div></div>
</template>

<script>
export default {
  name: "Sandbox",
};
</script>

<style>
@keyframes orbit {
  from {
    transform: rotate(0turn) translateY(-150px) translateY(0%);
  }
  to {
    transform: rotate(0turn);
  }
}
@keyframes mymove {
  to {
    transform: rotate(-180deg);
    transform-origin: -50px;
  }
}
.circle {
  height: 50px;
  width: 50px;
  background-color: orange;
  padding: 20px;
  margin: auto;
  /* border-radius: 50%; */
  /* animation: orbit 10s infinite linear; */
  animation: mymove 2s ease-in-out 3s forwards;
}
/**
 * Animation along a circular path - Solution 2
 */

@keyframes spin {
  from {
    transform: rotate(0turn) translateY(-150px) translateY(0%) rotate(1turn);
  }
  to {
    transform: rotate(1turn) translateY(-150px) translateY(10%) rotate(0turn);
  }
}

.avatar {
  animation: spin 6s infinite linear;
}

/* Anything below this is just styling */

.avatar {
  height: 50px;
  width: 50px;
  background-color: #555;
  border-radius: 50%;
  margin: calc(50% - 25px) auto 0;
  display: block;
  width: 50px;

  border-radius: 50%;
  overflow: hidden;
}

.path {
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 100px auto;
  border-radius: 50%;
  background: #fb3;
}
</style>
