<template>
  <div>
    <b-container>
      <!-- The container for the info contained in header (from title through tabs) -->
      <base-header pageTitle="STOCK" :subjectName="tickerSymbol">
        <span slot="page-description">
          Here you can view details about any given <b>stock</b>, its
          performance, your investments in the stock across <b>portfolios</b>,
          and see what people are posting about it on <b>Echo</b>
        </span>

        <div v-if="quote != null" slot="subject-description">
          <span>{{ quote.name }}</span>
        </div>
        <!-- Render the tabs specific to page context -->
        <base-header-tabs
          slot="tabs"
          :tabTitles="['Overview']"
          tabRoutePrefix="stock"
          :activeTabIndex="activeTabIndex"
        ></base-header-tabs>
        <!-- Render performance overview details of past day, week, and month -->
      </base-header>
      <!-- The content displayed within the active tab -->
      <router-view />
    </b-container>
  </div>
</template>

<script>
export default {
  name: "StockDetail",
  props: {
    tickerSymbol: {
      type: String,
      required: true,
    },
    quoteCurrencySymbol: {
      type: String,
      required: false,
    },
  },
  computed: {
    activeTabIndex() {
      switch(this.$route.name) {
        case "stock-overview":
          return 0
        default:
          return 0
      }
    },
    computedTickerSymbol() {
      let _computedTickerSymbol = this.tickerSymbol;
      if (this.quoteCurrencySymbol) {
        _computedTickerSymbol =
          this.tickerSymbol + "/" + this.quoteCurrencySymbol;
      }
      return _computedTickerSymbol;
    },
    quote() {
      return this.$store.state.stockQuotes[this.computedTickerSymbol] || null;
    },
  },
  methods: {
    async fetchQuoteData() {
      await this.$store.dispatch(
        "stockQuotes/fetch_daily_quote__for_symbol",
        this.computedTickerSymbol
      );
    },
  },
  watch: {
    computedTickerSymbol: {
      handler: "fetchQuoteData",
      immediate: true,
    },
  },
};
</script>
<style>
.tabs {
  position: relative;
  left: -5px;
  margin-top: 1rem;
}
</style>