<template>
  <div class="container">
    <header class="jumbotron">
      <h3>
        <strong>{{ currentUser }}</strong> Profile
      </h3>
    </header>
    <p>
      <strong>Access:</strong>
      {{ currentUser.access }}
    </p>
    <p>
      <strong>Refresh:</strong>
      {{ currentUser.refresh }}
    </p>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
    <!-- <strong>Authorities:</strong>
    <ul>
      <li v-for="(role,index) in currentUser.roles" :key="index">{{role}}</li>
    </ul> -->
  </div>
</template>

<script>
export default {
  name: "Profile",
  computed: {
    currentUser() {
      return this.$store.state.auth.JWT;
    }
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    }
  }
};
</script>
