<template>
  <div class="container">
    <br />
    <br />
    {{ message }}
  </div>
</template>

<script>
import AuthService from "@/services/auth.service";
import InvitesService from "@/services/invites.service.js";
export default {
  name: "VerifyEmail",
  data() {
    return {
      message: "Give us a sec...",
    };
  },
  methods: {
    async acceptInvite() {
      const invite = JSON.parse(localStorage.getItem("invite"));
      if (invite != null) {
        await InvitesService.acceptInvite(invite.typ, invite.id, invite.token);
        localStorage.removeItem("invite");
      }
    },
    async redeemReferral(acceptingUserId) {
      const referral = JSON.parse(localStorage.getItem("referral"));
      if (referral != null) {
        await InvitesService.redeemReferralLink(
          referral.typ,
          referral.invitorId,
          acceptingUserId,
          referral.token,
          referral.tokenRelatedEntityId
        );
        localStorage.removeItem("referral");
      }
    },
    verifyEmail(uid, token) {
      AuthService.verifyEmail(uid, token).then((response) => {
        if (response.data.success) {
          // Accepting any invite or referral if present after the email has been
          // verified for two reasons:
          // 1. It means the accepting user has been created on the BE
          // 2. It confirms that accepting user actually followed through and
          //    joined echo via the invite/link
          //
          // More precise trigger points should be found for things like group joining
          // and this should be updated in the future to create/accept Platform
          // invites only at this stage, even if triggered by say a group invite

          this.acceptInvite();
          this.redeemReferral(uid);
          this.message = "Success! Email has been verified.";
          this.$router.push("/login");
        } else {
          this.message =
            "Failure to launch! This link was not valid. \nContact accounts@echo-markets for support.";
        }
      });
    },
  },
  created() {
    const uid = this.$route.params.uid;
    const token = this.$route.params.token;
    this.verifyEmail(uid, token);
  },
};
</script>
