<template>
  <modal :id="modalId" :name="modalName" height="auto" draggable scrollable>
    <b-card align="left" class="border-0 m-2 rounded">
      <b-spinner variant="primary" v-if="processing" />
      <b-card-text v-else>
        <h1>Account</h1>
        <div>
          <h2>Profile</h2>
          <template v-for="setting in settings">
            <b-row
              align-v="center"
              :key="setting.name"
              :class="
                !isEdittingInProgress() && isCurrentHoverRow(setting.name)
                  ? `hover`
                  : ``
              "
              @mouseover="showChangeButton(setting.name)"
              @mouseleave="hideChangeButton()"
            >
              <b-col cols="4">
                <span class="text-muted">{{ setting.name }}</span>
              </b-col>
              <b-col cols="6">
                <strong v-if="!isCurrentEdittingRow(setting.name)">{{
                  setting.value
                }}</strong>
                <template v-else>
                  <base-input
                    :inputSlotId="getInputId(setting.name)"
                    @blur="handleBlur"
                    @keyup.enter="handleSubmit()"
                    :valid="currentEdittingRow.state"
                    :error="currentEdittingRow.error"
                    v-model="currentEdittingRow.value"
                    @input="validate(setting.name)"
                    :placeholder="setting.value"
                    :inputType="isDateOfBirth(setting.name) ? 'date' : 'text'"
                    inputStyleOverrides="height: 2rem; padding: 0rem 0.75rem"
                  />
                </template>
              </b-col>
              <b-col cols="2" align-self="center">
                <base-button
                  v-if="isCurrentEdittingRow(setting.name)"
                  :id="getButtonId(setting.name)"
                  @click="handleSubmit()"
                  size="sm"
                  :loading="processing"
                  type="primary"
                  :disabled="currentEdittingRow.state == false"
                >
                  Save
                </base-button>
                <base-button
                  v-else-if="
                    !isEdittingInProgress() && isCurrentHoverRow(setting.name)
                  "
                  @click="setCurrentEdittingRow(setting.name, setting.value)"
                  size="sm"
                  :loading="processing"
                  :outline="true"
                  type="primary"
                  :disabled="!setting.editable"
                >
                  Change
                </base-button>
              </b-col>
            </b-row>
          </template>
        </div>
        <div class="mt-3">
          <h2>Login Info</h2>
          <b-row align-v="center" align-h="center">
            <b-col cols="6">
              <base-button
                @click="openPWChangeModal()"
                size="md"
                block
                :loading="processing"
                :outline="true"
                type="primary"
              >
                Update Password
              </base-button>
            </b-col>
            <b-col cols="6">
              <base-button
                @click="openEmailChangeModal()"
                size="md"
                block
                :loading="processing"
                :outline="true"
                type="primary"
              >
                Update Email
              </base-button>
            </b-col>
          </b-row>
        </div>
        <div class="mt-3">
          <h2>Linked Portfolios</h2>
          <template v-for="(portfolio, id) in linkedPortfolios">
            <b-row
              :key="id"
              class="portfolio"
              :class="
                !isEdittingInProgress() && isCurrentHoverRow(id) ? `hover` : ``
              "
              @mouseover="showRemoveButton(id)"
              @mouseleave="hideRemoveButton()"
            >
              <b-col cols="10">
                <b-row class="mt-2">
                  <b-col>
                    <strong class="d-block">{{ portfolio.name }}</strong>
                    <span class="text-muted"
                      >{{ portfolio.type.toUpperCase() }} -
                      {{ portfolio.subtype.toUpperCase() }}</span
                    >
                  </b-col>
                </b-row>
              </b-col>
              <b-col cols="2" align-self="center">
                <base-button
                  v-show="!isEdittingInProgress() && isCurrentHoverRow(id)"
                  @click="openRemovePortfolio(id)"
                  size="sm"
                  :loading="processing"
                  :outline="true"
                  type="primary"
                >
                  Remove
                </base-button>
              </b-col>
            </b-row>
          </template>
        </div>
      </b-card-text>
    </b-card>
  </modal>
</template>

<script>
import { createNamespacedHelpers, mapGetters } from "vuex";
import modalFormOpenCloseSubmitMixin from "@/mixins/modal-form-open-close-submit-mixin.js";
import validateUsername from "@/form-validation/account-info/validate-username.js";
import validateFirstName from "@/form-validation/account-info/validate-first-name.js";
import validateLastName from "@/form-validation/account-info/validate-last-name.js";
import validateEmail from "@/form-validation/account-info/validate-email.js";
import validateDOB from "@/form-validation/account-info/validate-date-of-birth.js";

// "Constants" for the Settings names and mapping them from their backend names
import AccountInfoNamesMap from "@/components/account/modals/account-info-names-map.js";
import AccountInfoDisplayNames from "@/components/account/modals/account-info-display-names.js";
const { mapState } = createNamespacedHelpers("accounts/userAccount");
export default {
  name: "AccountInfoModal",
  mixins: [
    modalFormOpenCloseSubmitMixin,
    validateUsername,
    validateFirstName,
    validateLastName,
    validateEmail,
    validateDOB,
  ],
  computed: {
    ...mapGetters({
      linkedPortfolios: "portfolios/userPortfolios",
    }),
    ...mapState({
      handle: (state) => state.account.handle,
      first_name: (state) => state.account.first_name,
      last_name: (state) => state.account.last_name,
      date_of_birth: (state) => state.account.profile.date_of_birth,
    }),
    settings() {
      return this.convertAccountDataForDisplay({
        handle: this.handle,
        first_name: this.first_name,
        last_name: this.last_name,
        date_of_birth: this.date_of_birth,
      });
    },
  },
  data() {
    return {
      processing: false,
      currentHoverRow: null,
      currentEdittingRow: {
        key: null,
        value: null,
        state: null,
        error: null,
      },
      portfolioIdToRemove: null,
    };
  },
  methods: {
    openPWChangeModal() {
      this.app.$refs.cpm.open();
    },
    openEmailChangeModal() {
      this.app.$refs.cem.open();
    },
    getInputId(inputKey) {
      return `${inputKey.replace(" ", "_").toLowerCase()}_input`;
    },
    getButtonId(inputKey) {
      return `${inputKey.replace(" ", "_").toLowerCase()}_button`;
    },
    getRelatedTargetIdFrom(event) {
      try {
        return event.relatedTarget.id;
      } catch {
        return "";
      }
    },
    handleBlur(event) {
      const clickedComponentId = this.getRelatedTargetIdFrom(event);
      const currentSaveButtonId = this.getButtonId(this.currentEdittingRow.key);
      if (currentSaveButtonId != clickedComponentId) {
        this.resetCurrentEdittingRow();
      }
      // If the save button is clicked, let that be handled by handleSubmit()
    },
    setCurrentHoverRow(rowKey) {
      this.currentHoverRow = rowKey;
    },
    isCurrentHoverRow(rowKey) {
      return rowKey == this.currentHoverRow;
    },
    setCurrentEdittingRow(rowKey, rowValue) {
      this.currentEdittingRow.key = rowKey;
      this.currentEdittingRow.value = rowValue;
      this.$nextTick(() => {
        document.getElementById(this.getInputId(rowKey)).focus();
      });
    },
    isCurrentEdittingRow(rowKey) {
      return rowKey == this.currentEdittingRow.key;
    },
    // Tell us whether or not ANY row is being editted
    isEdittingInProgress() {
      return this.currentEdittingRow.key != null;
    },
    resetCurrentEdittingRow() {
      this.currentEdittingRow.key = null;
      this.currentEdittingRow.value = null;
      this.currentEdittingRow.state = null;
      this.currentEdittingRow.error = null;
    },

    // Wrapper functions to make on hover actions more legible
    hideRemoveButton() {
      this.setCurrentHoverRow(null);
    },
    showRemoveButton(portfolioName) {
      this.setCurrentHoverRow(portfolioName);
    },
    hideChangeButton() {
      this.setCurrentHoverRow(null);
    },
    showChangeButton(settingName) {
      this.setCurrentHoverRow(settingName);
    },
    openRemovePortfolio(portfolioId) {
      this.portfolioIdToRemove = portfolioId;
      this.app.$refs.rpm.openWith(portfolioId);
    },
    resetPortfolioIdToRemove() {
      this.portfolioIdToRemove = null;
    },
    isDateOfBirth(settingName) {
      return settingName == AccountInfoDisplayNames.DOB;
    },
    convertAccountDataForDisplay(accountData) {
      // Converts the account data received from the backend into a user friendly format
      let displaySettings = [];
      const displayOrder = Object.keys(AccountInfoNamesMap);
      // If a setting is uneditable the user will not be able to trigger the input field
      const uneditableSettings = [];
      displayOrder.forEach(function (setting) {
        displaySettings.push({
          name: AccountInfoNamesMap[setting],
          value: accountData[setting],
          editable: !uneditableSettings.includes(setting),
        });
      });
      return displaySettings;
    },
    validate() {
      const settingName = this.currentEdittingRow.key;
      switch (settingName) {
        case AccountInfoDisplayNames.HANDLE:
          this.validateHandle(this.currentEdittingRow);
          break;
        case AccountInfoDisplayNames.FIRSTNAME:
          this.validateFirstName(this.currentEdittingRow);
          break;
        case AccountInfoDisplayNames.LASTNAME:
          this.validateLastName(this.currentEdittingRow);
          break;
        case AccountInfoDisplayNames.DOB:
          this.validateDateOfBirth(this.currentEdittingRow);
          break;
        default:
          throw `Unexpected validation called in AccountInfoModal for setting: ${settingName}`;
      }
    },
    handleError(error) {
      /*
       * The error message can be found in the response.data of the error as an
       * String within an array keyed within an object. Example:
       * error: {
       *   response: {
       *     data: {
       *       handle: ["user with this handle already exists"]
       *     }
       *   }
       * }
       */
      const responseDataValues = Object.values(error.response.data);
      if (typeof responseDataValues[0] === "string") {
        this.currentEdittingRow.error = responseDataValues[0];
      } else {
        // array / multiple errors case
        // Display the first of the errors
        this.currentEdittingRow.error = responseDataValues[0][0];
      }
      this.currentEdittingRow.state = false;
    },
    async saveChanges() {
      const settingName = this.currentEdittingRow.key;
      let success = false;
      switch (settingName) {
        case AccountInfoDisplayNames.HANDLE:
          try {
            await this.$store.dispatch(
              "accounts/userAccount/update__account_handle",
              this.currentEdittingRow.value
            );
            success = true;
          } catch (error) {
            this.handleError(error);
          }
          break;
        case AccountInfoDisplayNames.FIRSTNAME:
          try {
            this.$store.dispatch(
              "accounts/userAccount/update__account_firstname",
              this.currentEdittingRow.value
            );
            success = true;
          } catch (error) {
            this.handleError(error);
          }
          break;
        case AccountInfoDisplayNames.LASTNAME:
          try {
            this.$store.dispatch(
              "accounts/userAccount/update__account_lastname",
              this.currentEdittingRow.value
            );
            success = true;
          } catch (error) {
            this.handleError(error);
          }
          break;
        case AccountInfoDisplayNames.DOB:
          try {
            this.$store.dispatch(
              "accounts/userAccount/update__account_date_of_birth",
              this.currentEdittingRow.value
            );
            success = true;
          } catch (error) {
            this.handleError(error);
          }
          break;
        default:
          throw `Unexpected call to saveChanges in AccountInfoModal for setting: ${settingName}`;
      }
      if (success) {
        this.resetCurrentEdittingRow();
      }
    },
    load() {},
    reset() {
      this.resetCurrentEdittingRow();
    },
    handleSubmit() {
      this.processing = true;
      this.saveChanges();
      this.processing = false;
    },
  },
  created() {
    this.modalName = "account-info-modal";
    this.modalId = "aim";
    this.app = this.$app();
  },
};
</script>
<style lang="scss" scoped>
.col-6 strong {
  font-weight: $font-weight-extra-bold;
}
.col-10 strong {
  font-weight: $font-weight-extra-bold;
}
.row {
  min-height: 2rem;
  .portfolio {
    min-height: 3.5rem;
  }
}
.form-group {
  margin-bottom: 0;
  input {
    height: 2rem;
  }
}
.hover {
  background-color: $secondary;
}
</style>
