<template>
  <base-modal-form
    :processing="loading"
    :name="modalName"
    :id="modalId"
    :isFormValid="isFormValid"
    :header="header"
    @close="close()"
    @submit="handleSubmit()"
  >
    <ChangeEmailForm slot="form" :inputs="formInput" @input="validate" />
  </base-modal-form>
</template>

<script>
import modalFormOpenCloseSubmitMixin from "@/mixins/modal-form-open-close-submit-mixin.js";
import sweetAlertMixin from "@/mixins/sweet-alert-mixin.js";
import validateEmail from "@/form-validation/account-info/validate-email.js";
import AccountsService from "@/services/accounts.service";
import ChangeEmailForm from "@/components/account/forms/ChangeEmailForm.vue";
export default {
  name: "ChangeEmailModal",
  mixins: [modalFormOpenCloseSubmitMixin, sweetAlertMixin, validateEmail],
  components: {
    ChangeEmailForm,
  },
  data() {
    return {
      loading: false,
      currentPassword: {
        value: "",
        state: null, // validation states should start as null so fields are niether green nor red
        error: "",
      },
      newEmail1: {
        value: "",
        state: null,
        error: "",
      },
      newEmail2: {
        value: "",
        state: null,
        error: "",
      },
    };
  },
  computed: {
    formInput() {
      return Object.assign(
        {},
        {
          currentPassword: this.currentPassword,
          newEmail1: this.newEmail1,
          newEmail2: this.newEmail2,
        }
      );
    },
    isFormValid() {
      return (
        (this.currentPassword.state &&
          this.newEmail1.state &&
          this.newEmail2.state) ||
        false
      );
    },
  },
  methods: {
    validate(inputName) {
      switch (inputName) {
        case "currentPassword":
          this.validateCurrentPassword();
          break;
        case "newEmail1":
          this.validateNewEmail1();
          // If newEmail1 changes after newEmail2 has been modified, we have
          // to revalidate newEmail2 to make sure it is still the same as newEmail1
          if (this.newEmail2.state != null) {
            this.validateNewEmail2();
          }
          break;
        case "newEmail2":
          this.validateNewEmail2();
          break;
        default:
          throw `Unexpected validation called in ChangePasswordModal for input: ${inputName}`;
      }
    },
    validateCurrentPassword() {
      if (this.currentPassword.value) {
        this.currentPassword.error = null;
        this.currentPassword.state = true;
      } else {
        this.currentPassword.state = false;
        this.currentPassword.error =
          "Please enter your current password for security";
      }
    },
    validateNewEmail1() {
      if (!this.newEmail1.value) {
        this.newEmail1.error = "Please enter a new email";
        this.newEmail1.state = false;
      } else {
        this.validateEmail(this.newEmail1);
      }
    },
    validateNewEmail2() {
      if (
        this.newEmail2.value &&
        this.newEmail2.value == this.newEmail1.value
      ) {
        this.newEmail2.error = null;
        this.newEmail2.state = true;
      } else {
        this.newEmail2.state = false;
        this.newEmail2.error = "The emails do not match";
      }
    },
    reset() {
      this.loading = true;
      this.currentPassword.value = "";
      this.newEmail1.value = "";
      this.newEmail2.value = "";
      this.currentPassword.state = null;
      this.currentPassword.error = null;
      this.newEmail1.state = null;
      this.newEmail1.error = null;
      this.newEmail2.state = null;
      this.newEmail2.error = null;
      this.loading = false;
    },
    load() {
      this.reset();
    },
    handleError(error) {
      /*
       * The error message can be found in the response.data of the error as an
       * String within an array keyed within an object. Example:
       * error: {
       *   response: {
       *     data: {
       *       handle: ["user with this handle already exists"]
       *     }
       *   }
       * }
       */
      const parseResponseData = function (response, responseKey, fieldKey) {
        if (typeof response[responseKey] === "string") {
          this[fieldKey].error = response[responseKey];
        } else {
          // array / multiple errors case
          // Display the first of the errors
          this[fieldKey].error = response[responseKey][0];
        }
        this[fieldKey].state = false;
      }.bind(this);
      const responseData = error.response.data;
      for (const key of Object.keys(responseData)) {
        switch (key) {
          case "current_password":
            parseResponseData(
              responseData,
              "current_password",
              "currentPassword"
            );
            break;
          case "new_email_1":
            parseResponseData(responseData, "new_email_1", "newEmail1");
            break;
          case "new_email_2":
            parseResponseData(responseData, "new_email_2", "newEmail2");
            break;
          default:
            break;
        }
      }
    },
    handleSubmit() {
      this.loading = true;
      AccountsService.updateEmail(
        this.newEmail1.value,
        this.newEmail2.value,
        this.currentPassword.value
      )
        .then(() => {
          this.loading = false;
          this.showSwal(
            "info",
            "Confirmation Sent",
            `Almost done! Please follow the instructions sent to ${this.newEmail1.value} to confirm your new email.`
          );
          this.close();
        })
        .catch((error) => {
          this.handleError(error);
          this.loading = false;
        });
      this.loading = false;
    },
  },
  created() {
    this.modalName = "change-email-form";
    this.modalId = "cef";
    this.header = "Change Your Email";
  },
};
</script>

<style scoped></style>
