<template>
  <base-modal-form
    :processing="loading"
    :name="modalName"
    :id="modalId"
    :isFormValid="isFormValid"
    :header="header"
    @close="close()"
    @submit="handleSubmit()"
  >
    <ChangePasswordForm slot="form" :inputs="formInput" @input="validate" />
  </base-modal-form>
</template>

<script>
import modalFormOpenCloseSubmitMixin from "@/mixins/modal-form-open-close-submit-mixin.js";
import sweetAlertMixin from "@/mixins/sweet-alert-mixin.js";
import ChangePasswordForm from "@/components/account/forms/ChangePasswordForm.vue";
export default {
  name: "ChangePasswordModal",
  mixins: [modalFormOpenCloseSubmitMixin, sweetAlertMixin],
  components: {
    ChangePasswordForm,
  },
  data() {
    return {
      loading: false,
      currentPassword: {
        value: "",
        state: null, // validation states should start as null so fields are niether green nor red
        error: "",
      },
      newPassword1: {
        value: "",
        state: null,
        error: "",
      },
      newPassword2: {
        value: "",
        state: null,
        error: "",
      },
    };
  },
  computed: {
    formInput() {
      return Object.assign(
        {},
        {
          currentPassword: this.currentPassword,
          newPassword1: this.newPassword1,
          newPassword2: this.newPassword2,
        }
      );
    },
    isFormValid() {
      return (
        (this.currentPassword.state &&
          this.newPassword1.state &&
          this.newPassword2.state) ||
        false
      );
    },
  },
  methods: {
    validate(inputName) {
      switch (inputName) {
        case "currentPassword":
          this.validateCurrentPassword();
          break;
        case "newPassword1":
          this.validateNewPassword1();
          // If newPassword1 changes after newPassword2 has been modified, we have to
          // revalidate newPassword2 to make sure it is still the same as newPassword1
          if (this.newPassword2.state != null) {
            this.validateNewPassword2();
          }
          break;
        case "newPassword2":
          this.validateNewPassword2();
          break;
        default:
          throw `Unexpected validation called in ChangePasswordModal for input: ${inputName}`;
      }
    },
    validateCurrentPassword() {
      if (this.currentPassword.value) {
        this.currentPassword.error = null;
        this.currentPassword.state = true;
      } else {
        this.currentPassword.state = false;
        this.currentPassword.error =
          "Please enter your current password for security";
      }
    },
    validateNewPassword1() {
      if (this.newPassword1.value) {
        this.newPassword1.error = null;
        this.newPassword1.state = true;
      } else {
        this.newPassword1.error = "Please enter a new password";
        this.newPassword1.state = false;
      }
    },
    validateNewPassword2() {
      if (
        this.newPassword2.value &&
        this.newPassword2.value == this.newPassword1.value
      ) {
        this.newPassword2.error = null;
        this.newPassword2.state = true;
      } else {
        this.newPassword2.state = false;
        this.newPassword2.error = "The passwords do not match";
      }
    },
    reset() {
      this.loading = true;
      this.currentPassword.value = "";
      this.newPassword1.value = "";
      this.newPassword2.value = "";
      this.currentPassword.state = null;
      this.currentPassword.error = null;
      this.newPassword1.state = null;
      this.newPassword1.error = null;
      this.newPassword2.state = null;
      this.newPassword2.error = null;
      this.loading = false;
    },
    load() {
      this.reset();
    },
    handleError(error) {
      /*
       * The error message can be found in the response.data of the error as an
       * String within an array keyed within an object. Example:
       * error: {
       *   response: {
       *     data: {
       *       handle: ["user with this handle already exists"]
       *     }
       *   }
       * }
       */
      const parseResponseData = function (response, responseKey, fieldKey) {
        if (typeof response[responseKey] === "string") {
          this[fieldKey].error = response[responseKey];
        } else {
          // array / multiple errors case
          // Display the first of the errors
          this[fieldKey].error = response[responseKey][0];
        }
        this[fieldKey].state = false;
      }.bind(this);
      const responseData = error.response.data;
      for (const key of Object.keys(responseData)) {
        switch (key) {
          case "current_password":
            parseResponseData(
              responseData,
              "current_password",
              "currentPassword"
            );
            break;
          case "new_password_1":
            parseResponseData(responseData, "new_password_1", "newPassword1");
            break;
          case "new_password_2":
            parseResponseData(responseData, "new_password_2", "newPassword2");
            break;
          default:
            break;
        }
      }
    },
    handleSubmit() {
      this.loading = true;
      this.$store
        .dispatch("accounts/userAccount/update__account_password", {
          currentPassword: this.currentPassword.value,
          newPassword1: this.newPassword1.value,
          newPassword2: this.newPassword2.value,
        })
        .then(() => {
          this.loading = false;
          this.showSwal(
            "success",
            "Success!",
            "You are the proud owner of a brand new password. Hooray!"
          );
          this.close();
        })
        .catch((error) => {
          console.log(error);
          this.handleError(error);
          this.loading = false;
        });
      this.loading = false;
    },
  },
  created() {
    this.modalName = "change-password-form";
    this.modalId = "cpf";
    this.header = "Change Your Password";
  },
};
</script>

<style scoped></style>
