<template>
  <div>
    <base-input
      :valid="name.state"
      :required="true"
      label="Portfolio Name"
      :error="name.error"
      v-model="name.value"
      @input="triggerValidationEvent('name')"
      placeholder="Something to remember me by."
    />
    <base-input
      :valid="description.state"
      :required="true"
      label="Description"
      :error="description.error"
    >
      <b-form-textarea
        v-add-input-validation-class="description.state"
        v-model="description.value"
        placeholder='Ex: "Up and coming tech stocks", "Green Energy companies", "Safe and simple mirror of the S&P 500", etc.'
        size="sm"
        rows="5"
        @input="triggerValidationEvent('description')"
      />
      <small class="form-text text-muted" slot="infoBlock">
        Here you can share the theme, strategy or goal of this portfolio. Still
        new to the whole investing thing? Don't worry, there is a first time for
        everything!
      </small>
    </base-input>
  </div>
</template>

<script>
export default {
  name: "PortfolioInfoForm",
  props: {
    /*
     * Required fields {key: valueType}:
     *     value: String - The name of the portfolio
     *     state: Boolean - The validation state of the name input
     *     error: String - The error message set when state == false. Else null
     */
    name: {
      type: Object,
      required: true,
      validation: function (name) {
        let isValid = true;
        if (name.value != null && !(typeof name.value === "string")) {
          isValid = false;
        } else if (name.state != null && !(typeof name.state === "boolean")) {
          isValid = false;
        } else if (name.error != null && !(typeof name.error === "string")) {
          isValid = false;
        }
        return isValid;
      },
    },
    /*
     * Required fields {key: valueType}:
     *     value: Object - Th description of the portfolio object
     *     state: Boolean - The validation state of the description input
     *     error: String - The error message set when state == false. Else null
     */
    description: {
      type: Object,
      required: true,
      validation: function (description) {
        let isValid = true;
        if (
          description.value != null &&
          !(typeof description.value === "string")
        ) {
          isValid = false;
        } else if (
          description.state != null &&
          !(typeof description.state === "boolean")
        ) {
          isValid = false;
        } else if (
          description.error != null &&
          !(typeof description.error === "string")
        ) {
          isValid = false;
        }
        return isValid;
      },
    },
  },
  methods: {
    // Communicates to the parent which input has changed and needs to be validated
    triggerValidationEvent(inputName) {
      this.$emit("input", inputName);
    },
  },
};
</script>

<style>
</style>